unpackaged/post_term_builder/flows/DL_InitiateRenewalFromContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Front half of the renewal: load + validate the Contract and its source Quote, resolve the top-level renewable assets, derive the renewal date window and name, and snapshot the account's current quote ids. Pure read/derive (no DML). Returns isSuccess=false + errorMessage on any validation failure rather than throwing, so the flow branches on the flag.</description>
        <name>ResolveInputs</name>
        <label>Resolve Renewal Inputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RLM_DeltaRenewalInputsResolver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckResolveSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>renewContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewStartDate</name>
            <value>
                <elementReference>renewStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewEndDate</name>
            <value>
                <elementReference>renewEndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_DeltaRenewalInputsResolver</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Runs the standard Initiate Renewal core action against a Contract in the current transaction (no HTTP callout), producing a renewal Quote. renewContractId + the resolver's renewAssetIds identify the contract and the parent/Term assets to renew; renewOutputType is fixed to Quote; renewStartDate/renewEndDate come from the derived window. The new Quote id is read from this action's renewRecordId output (stored automatically) by CaptureMintedId.</description>
        <name>InitiateRenewal</name>
        <label>Initiate Renewal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateRenewal</actionName>
        <actionType>initiateRenewal</actionType>
        <connector>
            <targetReference>CaptureMintedId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>renewContractId</name>
            <value>
                <elementReference>renewContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewAssetIds</name>
            <value>
                <elementReference>ResolveInputs.renewAssetIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewOutputType</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewStartDate</name>
            <value>
                <elementReference>ResolveInputs.renewStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewEndDate</name>
            <value>
                <elementReference>ResolveInputs.renewEndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateRenewal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Back half of the renewal: identify the minted renewal Quote (account-scoped pre/post id-diff, with the flow-bound id as disambiguator/fallback), re-stamp the negotiated discount + DL_FareCodes__c line fidelity from the source quote, rename to "&lt;source&gt; - Renewal", reset to Draft, null ContractId, set the derived EndDate, and reprice via PST. Returns the resolved renewal Quote id + account id (or isSuccess=false + errorMessage).</description>
        <name>FinalizeRenewal</name>
        <label>Finalize Renewal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RLM_DeltaRenewalFinalizer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetOutputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>renewalQuoteId</name>
            <value>
                <elementReference>mintedQuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceQuoteId</name>
            <value>
                <elementReference>ResolveInputs.sourceQuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewalName</name>
            <value>
                <elementReference>ResolveInputs.renewalName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>ResolveInputs.renewEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scopeAccountId</name>
            <value>
                <elementReference>ResolveInputs.scopeAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preExistingQuoteIds</name>
            <value>
                <elementReference>ResolveInputs.preExistingQuoteIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_DeltaRenewalFinalizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Capture the standard action's minted renewal Quote id (renewRecordId, stored automatically) into a plain variable so the finalizer can consume it as a String input. Referencing the auto-stored output in-flow avoids the getVariableValue null the caller hit when reading a manually-bound core-action output parameter.</description>
        <name>CaptureMintedId</name>
        <label>Capture Minted Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>mintedQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitiateRenewal.renewRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalizeRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Surface the resolver's validation error (bad contract / no source quote / no renewable assets) as the flow's errorMessage output. This is a plain-variable assignment, so the Apex launcher reads it back reliably via getVariableValue.</description>
        <name>SetResolveError</name>
        <label>Set Resolve Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolveInputs.errorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Publish the finalizer's resolved renewal Quote id + account id as the flow's outputs. Plain-variable assignments so the Apex launcher reads them back reliably via getVariableValue.</description>
        <name>SetOutputs</name>
        <label>Set Outputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalizeRenewal.renewalQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalizeRenewal.accountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Capture the flow fault message so the Apex caller can surface it.</description>
        <name>SetError</name>
        <label>Set Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Branch on the resolver's isSuccess flag: proceed to the standard Initiate Renewal action only when input resolution succeeded; otherwise surface the resolver's error and end.</description>
        <name>CheckResolveSuccess</name>
        <label>Check Resolve Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetResolveError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Resolve_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResolveInputs.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitiateRenewal</targetReference>
            </connector>
            <label>Succeeded</label>
        </rules>
    </decisions>
    <description>Delta Term Builder: headless orchestrator flow that renews a Contract's assets into a new renewal Quote IN-TRANSACTION (no HTTP callout). Flow-orchestrates-Apex (ARC pattern): ResolveInputs (apex: load/validate Contract + source Quote, resolve assets, derive window/name, snapshot account quotes) → standard Initiate Renewal core action → FinalizeRenewal (apex: identify minted quote, re-stamp discount/fare-code fidelity, rename + reset to Draft + null ContractId + set EndDate, reprice via PST). Invoked synchronously from RLM_DeltaTermBuilderController.createRenewalFromContractViaAssets via Flow.Interview. Inputs: renewContractId, renewStartDate, renewEndDate. Outputs: newQuoteId, accountId, errorMessage.</description>
    <environments>Default</environments>
    <interviewLabel>DL_InitiateRenewalFromContract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DL Initiate Renewal From Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResolveInputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Output: ID of the renewal Quote's Account (the finalizer resolves QuoteAccountId ?? AccountId). Assignment-populated, so the Apex caller reads it back via getVariableValue.</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flow fault / validation message when the renewal fails; null on success. Output.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Internal: the standard action's minted renewal Quote id (renewRecordId), captured for the finalizer. Not an input or output.</description>
        <name>mintedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output: ID of the finalized renewal Quote (the finalizer's resolved id, from the account-scoped diff / flow-bound id). Assignment-populated, so the Apex caller reads it back via getVariableValue.</description>
        <name>newQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Input: the Contract to renew from (renewal fields are derived from this contract for contract-created assets).</description>
        <name>renewContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input (optional): renewal end date; null → derive from the contract/asset.</description>
        <name>renewEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input (optional): renewal start date; null → derive from the contract/asset.</description>
        <name>renewStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
