unpackaged/post_manufacturing/4_initial_setup/flows/MFG_RC_Create_Sales_Agreement_From_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_for_Source_Quote</name>
        <label>Check for Source Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Quote_Doesn_t_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Quote_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contract.SourceQuoteId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Sales_Agreement_Subflow</targetReference>
            </connector>
            <label>Quote Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MFG RC - Create Sales Agreement From Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Contract</name>
        <label>get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Source_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Quote_Doesn_t_Exist</name>
        <label>Quote Doesn&apos;t Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SourceQuoteDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please add a &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;source quote&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to the &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;contract&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; and then proceed with creating a Sales Agreement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Sales_Agreement_Subflow</name>
        <label>Create Sales Agreement Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Create_Sales_Agreement_From_Quote</flowName>
        <inputAssignments>
            <name>contractedPricingExists</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Contract.SourceQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractId</name>
            <value>
                <elementReference>get_Contract.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
