force-app/main/default/flows/Amend_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>TermFomula</name>
        <dataType>Number</dataType>
        <expression>({!Get_Contract.EndDate} - {!$Record.ServiceStartDate__c}) / (365/12)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Amend Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amend Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Country</name>
        <label>Update Billing Country</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Shipping_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expiration_Date</name>
        <label>Update Expiration Date</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_Billing_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExpirationDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Get_Contract.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Type</name>
        <label>Update Quote Type</label>
        <locationX>176</locationX>
        <locationY>1043</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>QuoteType__c</field>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_End_Date</name>
        <label>Update Service End Date</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Update_Expiration_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceEndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceEndDate__c</field>
            <value>
                <elementReference>Get_Contract.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Start_Date</name>
        <label>Update Service Start Date</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Service_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceStartDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceStartDate__c</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Country</name>
        <label>Update Shipping Country</label>
        <locationX>176</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Update_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Term</name>
        <label>Update Term</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Quote_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>TermFomula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OriginalActionType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
