force-app/main/default/flows/Create_Quote_Error_Validations_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Org62_URL</name>
        <label>Get Org62 URL</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <actionName>GetOrg62UrlFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Ineligible_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>GetOrg62UrlFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>org62Url</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Account_BillingAddress_Null_Error</name>
        <label>Flag Error</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Account_Quoting_Status_Flag_Error</name>
        <label>Account Quoting Status Flag Error</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Flag_LDP_Error</name>
        <label>Flag Error</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Flag_Quote_Ineligible_Product_Error</name>
        <label>Flag Error</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_oppty_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Stage_ClosedLost_Error</name>
        <label>Flag Error</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Opportunity_Stage_ClosedWon_Error</name>
        <label>Flag Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Ineligible_Check</name>
        <label>Account Ineligible Check</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Account_Quoting_Status_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ineligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity.Account.OrgSF_Quoting_Eligibility__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Eligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Billing_Shipping_Address_Valid</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Billing_Shipping_Address_Valid</name>
        <label>Is Account Billing/Shipping Address Valid</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>createQuoteErrorAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Billing_Shipping_Address_Valid_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity.Account.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAccountBillingDeliveryCountryValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Closed_Lost</name>
        <label>Opportunity Closed Lost</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_oppty_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Closed_Lost_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createQuoteErrorClosedLost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Closed_Won</name>
        <label>Opportunity Closed Won</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>createQuoteErrorClosedWon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Not_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_LDP_Status_on_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Enabled_Check</name>
        <label>Quote Enabled Check</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>IneligibleProductsError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Quote Enabled</defaultConnectorLabel>
        <rules>
            <name>Quote_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_oppty_lines.Product2.IsQuoteEnabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_oppty_lines</targetReference>
            </connector>
            <label>Quote Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>When an AE/SOPs tries to create a quote on an account that is a Legally Denied Party (LDP), the system should block them from going ahead with the quoting process.</description>
        <name>Validate_LDP_Status_on_Account</name>
        <label>Validate LDP Status on Account</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>LDP_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LDP Denied</defaultConnectorLabel>
        <rules>
            <name>LDP_Not_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity.Account.LDP_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.LDP_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OEHU: Restricted-No Banner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity.Account.LDP_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OEHU: Restricted-Banner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Lost</targetReference>
            </connector>
            <label>LDP Not Denied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check whether Account Billing Country and Delivery Country is in a valid 2-char format.</description>
        <name>IsAccountBillingDeliveryCountryValid</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!opportunity.Account.BillingCountry}) = 2 &amp;&amp; LEN({!opportunity.Account.ShippingCountry}) = 2, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Create Quote Error Validation Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Error Validations - Subflow</label>
    <loops>
        <name>Iterate_through_oppty_lines</name>
        <label>Iterate through oppty lines</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_oppty_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_Enabled_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_oppty_products</name>
        <label>Get oppty products</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_oppty_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Quoting_Status_Error_Screen</name>
        <label>Account Quoting Status Error Screen</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Quoting_Status_Flag_Error</targetReference>
        </connector>
        <fields>
            <name>AccountQuotingStatusErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This account: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!opportunity.Account.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; is currently ineligible for quoting or you have ineligible products on the Opportunity in OrgSF. &lt;/span&gt;&lt;a href=&quot;{!org62Url}/{!opportunity.Org62_Id__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 145, 255);&quot;&gt;Go To The Synced Org62 Opportunity Here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>createQuoteErrorAddress</name>
        <label>createQuoteErrorAddress</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_BillingAddress_Null_Error</targetReference>
        </connector>
        <fields>
            <name>accountBillingAddressNullError</name>
            <fieldText>&lt;p&gt;Please add a valid Billing Address &amp;amp; Shipping Address on the associated&amp;nbsp;Account: &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!opportunity.Account.Name}&lt;/strong&gt;&amp;nbsp;to create the Quote successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createQuoteErrorClosedLost</name>
        <label>createQuoteErrorClosedLost</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Stage_ClosedLost_Error</targetReference>
        </connector>
        <fields>
            <name>createQuoteErrorMsgClosedLost</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Unable to create a new quote on &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;{!opportunity.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; when it&apos;s Closed Lost. Please create a new opportunity to create the quote.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createQuoteErrorClosedWon</name>
        <label>createQuoteErrorClosedWon</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Stage_ClosedWon_Error</targetReference>
        </connector>
        <fields>
            <name>createQuoteErrorMsgClosedWon</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Unable to create a new quote on an &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;{!opportunity.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; when another quote on this opportunity is already Booked. Please create a new opportunity to create the quote.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IneligibleProductsError</name>
        <label>Ineligible Oppty Products Error</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flag_Quote_Ineligible_Product_Error</targetReference>
        </connector>
        <fields>
            <name>IneligibleOpptyProductsErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This account: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!opportunity.Account.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; is currently ineligible for quoting or you have ineligible products on the Opportunity in OrgSF. &lt;/span&gt;&lt;a href=&quot;{!org62Url}/{!opportunity.Org62_Id__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 145, 255);&quot;&gt;Go To The Synced Org62 Opportunity Here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LDP_Error</name>
        <label>LDP Error</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flag_LDP_Error</targetReference>
        </connector>
        <fields>
            <name>LDP_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This quote is blocked pursuant to the account’s Legal Denied Party or other legal/compliance status. Please contact&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://salesforce-internal.slack.com/archives/C02HXCHKDTL&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;#ldp-screening-help&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;for questions&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org62_URL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>org62Url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
