force-app/main/default/flows/Finalize_ContractItemPrice_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>After Order export, finalize all CIPs under the Quote</description>
        <name>FinalizeCIPs</name>
        <label>FinalizeCIPs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>FinalizeQuoteCIPRecordsFlowAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Flag_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FinalizeQuoteCIPRecordsFlowAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Flag_Error</name>
        <label>Flag Error</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ErrorFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Finalize ContractItemPrice Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finalize ContractItemPrice Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FinalizeCIPs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
