force-app/main/default/flows/Lotus_Quoting_Agent_Add_QuoteLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_QuoteLine_using_PlaceQuote</name>
        <label>Create QuoteLine using PlaceQuote</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>PlaceQuoteAddQLAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>QuoteToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineItemList</name>
            <value>
                <elementReference>QuoteLinesList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PlaceQuoteAddQLAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_QuoteLinesList</name>
        <label>Add to QuoteLinesList</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QuoteLinesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newQuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Quote_for_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_QuoteLine</name>
        <label>Create New QuoteLine</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newQuoteLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLine.PeriodBoundary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLine.BillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLine.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.ServiceStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLine.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.ServiceEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_QuoteLinesList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Output_Message</name>
        <label>Populate Output Message</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLine Successfully Added</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Quote_for_Action</name>
        <label>Populate Quote for Action</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>QuoteToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLine_using_PlaceQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Details</name>
        <label>Quote Details</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>UpdatedQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuote.QuoteNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.QuoteNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedQuote.TotalQuoteAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.TotalQuoteAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Output_Message</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Lotus Quoting Agent - Add QuoteLine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lotus Quoting Agent - Add QuoteLine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PriceBookEntry</name>
        <label>Get PriceBookEntry</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_QuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductSellingModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Selling_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Selling_Model</name>
        <label>Get Product Selling Model</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PricingTermUnit</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SellingModelType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TermDefined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductSellingModel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Selling_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBookEntry</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLinesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>UpdatedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
