force-app/main/default/flows/Lotus_Create_Tenant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Populate_Tenant</name>
        <label>Populate Tenant</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>CreatedTenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Tenant</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Tenant_Parameter</name>
        <label>Populate Tenant Parameter</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>tenantparameterJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forcetenantparameters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tenant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Tenant_Parameter2</name>
        <label>Populate Tenant Parameter</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>tenantparameterJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>herokutenantparameters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tenant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_fulfillmenet_provider</name>
        <label>Check fulfillmenet provider</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentProvider</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>force</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Tenant_Parameter</targetReference>
            </connector>
            <label>force</label>
        </rules>
        <rules>
            <name>heroku</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentProvider</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>heroku</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Tenant_Parameter2</targetReference>
            </connector>
            <label>heroku</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forcetenantparameters</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;ExtTenantId\&quot;:\&quot;&quot; + {!ExternalID}  + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>herokutenantparameters</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;email\&quot;:\&quot;&quot; + {!Email}  + &quot;\&quot;}&quot;</expression>
    </formulas>
    <interviewLabel>Lotus - Create Tenant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lotus - Create Tenant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tenant</name>
        <label>Create Tenant</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Populate_Tenant</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment_Provider_Name__c</field>
            <value>
                <elementReference>FulfillmentProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionalName__c</field>
            <value>
                <elementReference>TenantCustomName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quoting_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenant_Information_Parameters__c</field>
            <value>
                <elementReference>tenantparameterJSON</elementReference>
            </value>
        </inputAssignments>
        <object>Tenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_fulfillmenet_provider</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedTenant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenantCustomName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tenantparameterJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
