force-app/main/default/flows/RC_AA_Quote_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Set the USERNAME of the User that will do the Director Approval</description>
        <name>constDirectorApproverUserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bgaldino@bgaldino-250224-779.demo</stringValue>
        </value>
    </constants>
    <constants>
        <description>Set the USERNAME of the User that will do the Manager Approval</description>
        <name>constManagerApproverUserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bgaldino@bgaldino-250224-779.demo</stringValue>
        </value>
    </constants>
    <constants>
        <description>Set the USERNAME of the User that will do the VP Approval</description>
        <name>constVPApproverUserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bgaldino@bgaldino-250224-779.demo</stringValue>
        </value>
    </constants>
    <constants>
        <name>directorGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Director</stringValue>
        </value>
    </constants>
    <constants>
        <name>managerGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </constants>
    <constants>
        <name>vpGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VP</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approve_or_Rejected_Level_2</name>
        <label>Approve or Rejected</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Quote_to_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Level_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approve_or_Rejected_Level_3</name>
        <label>Approve or Rejected</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Quote_to_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Level_3.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_or_Rejected</name>
        <label>Approved or Rejected</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_to_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Level_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Approval</name>
        <label>Requires Approval</label>
        <locationX>941</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Requires_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Quote_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Second_Level_Approval</name>
        <label>Requires Second Level Approval</label>
        <locationX>600</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Approved_or_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Second Approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Second_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Level_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Third_Level_Approval</name>
        <label>Requires Third Level Approval</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Approve_or_Rejected_Level_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Third Approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Third_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Level_2.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RC AA Quote Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC AA Quote Approval</label>
    <orchestratedStages>
        <name>Approval_Stage_2</name>
        <label>Approval Stage 2</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Requires_Third_Level_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_Level_2</name>
            <actionName>RC_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>directorGroupName</elementReference>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
            </inputParameters>
            <label>Second Level Approver</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Approval_Stage_3</name>
        <label>Approval Stage 3</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Approve_or_Rejected_Level_3</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_Level_3</name>
            <actionName>RC_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>vpGroupName</elementReference>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
            </inputParameters>
            <label>Third Level Approver</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Start_Quote_Approval</name>
        <label>Start Quote Approval</label>
        <locationX>600</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Requires_Second_Level_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Quote_Approval_Status_Pending</name>
            <actionName>RC_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Pending</stringValue>
                </value>
            </inputParameters>
            <label>Set Quote Approval Status Pending</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Approval_Level_1</name>
            <actionName>RC_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>managerGroupName</elementReference>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
            </inputParameters>
            <label>First Level Approver</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_Status_to_Approved</name>
        <label>Update Quote Status to Approved</label>
        <locationX>600</locationX>
        <locationY>1208</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_to_Approved</name>
            <actionName>RC_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <label>Set to Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_to_Rejected</name>
        <label>Update Quote to Rejected</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Quote_Status_to_Rejected</name>
            <actionName>RC_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Set Quote Status to Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requires_Approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
