force-app/main/default/flows/RC_Refresh_Decision_Tables_By_Usage_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Decision_Table_Action</name>
        <label>Refresh Decision Table Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Loop_Through_Decision_Tables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <elementReference>Loop_Through_Decision_Tables.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>RC Refresh Decision Tables By Usage Type {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>RC Refresh Decision Tables By Usage Type</label>
    <loops>
        <name>Loop_Through_Decision_Tables</name>
        <label>Loop Through Decision Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Decision_Tables_to_Refresh</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Refresh_Decision_Table_Action</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Decision_Tables_to_Refresh</name>
        <label>Get Decision Tables to Refresh</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Decision_Tables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UsageType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>decisionTableUsageType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DecisionTable</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Decision_Tables_to_Refresh</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>decisionTableUsageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>PricingDiscovery</stringValue>
        </value>
    </variables>
</Flow>
