force-app/main/default/flows/RLM_Order_to_Billing_Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_OrderToBillingSchedule</name>
        <label>Call Order To Billing Schedule</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>createBillingSchedulesFromBillingTransaction</actionName>
        <actionType>createBillingSchedulesFromBillingTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>billingTransactionId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createBillingSchedulesFromBillingTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>Check if Order has a AppUsageType of RevenueLifecycleManagement before calling Order To Billing Schedule, otherwise do nothing</description>
        <name>IsRevenueLifecycleManagement</name>
        <label>IsRevenueLifecycleManagement</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Record is not RevenueLifecycleManagement</defaultConnectorLabel>
        <rules>
            <name>RecordIsRevenueLifecycleManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ApplicationUsageAssignment.AppUsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueLifecycleManagement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_OrderToBillingSchedule</targetReference>
            </connector>
            <label>RecordIsRevenueLifecycleManagement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RLM - Order to Billing Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM - Order to Billing Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get ApplicationUsageAssignment from updated Order</description>
        <name>Get_ApplicationUsageAssignment</name>
        <label>Get ApplicationUsageAssignment</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRevenueLifecycleManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RevenueLifecycleManagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AppUsageAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>revenue_o2bsflows__o2bsflows</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_ApplicationUsageAssignment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
