force-app/main/default/flows/RLM_On_Demand_Invoice_Document_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Data_Mapper_Input</name>
        <label>Assign Data Mapper Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DataMapperInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateDataMapperInputJSON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Docgen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fetch_Invoice_ID</name>
        <label>Fetch Invoice ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InvoiceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Default_Template</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DataMapperId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;Id&quot;:&quot;3ttDU0000000350YAA&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>defaultInvoiceTemplate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2dtWs000000aag6IAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>JSONend</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>JSONstart</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;Id&quot;:&quot;</stringValue>
        </value>
    </constants>
    <constants>
        <name>requestText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;keepIntermediate&quot;:false,&quot;title&quot;:&quot;INVOICE_DOC&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>RequestTextJSONEnd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>RequestTextJSONStart</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;keepIntermediate&quot;:false,&quot;title&quot;:&quot;</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>CreateDataMapperInputJSON</name>
        <dataType>String</dataType>
        <expression>{!JSONstart} &amp; {!InvoiceID} &amp; {!JSONend}</expression>
    </formulas>
    <formulas>
        <name>SetRequestText</name>
        <dataType>String</dataType>
        <expression>{!RequestTextJSONStart} &amp; {!$Record.DocumentNumber} &amp;{!RequestTextJSONEnd}</expression>
    </formulas>
    <interviewLabel>On Demand Invoice Document Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM On Demand Invoice Document Generation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Invoice_Docgen</name>
        <label>Invoice Docgen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DataRaptorInput</field>
            <value>
                <elementReference>DataMapperInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentInputType</field>
            <value>
                <stringValue>DocumentTemplate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentTemplateId</field>
            <value>
                <elementReference>Get_Default_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObject</field>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestText</field>
            <value>
                <elementReference>SetRequestText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>GenerateAndConvert</stringValue>
            </value>
        </inputAssignments>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Template</name>
        <label>Get Default Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Data_Mapper_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RLM_InvoiceTemplate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Invoice_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Invoice</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DataMapperInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CreateDataMapperInputJSON</elementReference>
        </value>
    </variables>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record__Prior.Id</elementReference>
        </value>
    </variables>
</Flow>
