force-app/main/default/flows/RLM_Set_Tenant_ID_s_on_Order_Products_on_QuoteToOrder_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Patch_Order</name>
        <label>Patch Order</label>
        <locationX>176</locationX>
        <locationY>686</locationY>
        <actionName>RLM_PatchOrderConvertedFromQuote</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputOrder</name>
            <value>
                <elementReference>Get_Order</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputOrderItems</name>
            <value>
                <elementReference>Get_Order_Products</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_PatchOrderConvertedFromQuote</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Tenant_Assignment_from_Quote_Line</name>
        <label>Set Tenant Assignment from Quote Line</label>
        <locationX>264</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Order_Products.RLM_Tenant_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Order_Products.QuoteLineItem.RLM_Tenant_Environment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Order_Products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>RLM - Set Tenant ID&apos;s on Order Products on QuoteToOrder PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM - Set Tenant ID&apos;s on Order Products on QuoteToOrder PE</label>
    <loops>
        <name>Loop_Over_Order_Products</name>
        <label>Loop Over Order Products</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Tenant_Assignment_from_Quote_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Patch_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteLineItemId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>QuoteToOrderCompletedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
