force-app/main/default/flows/RLM_Quote_Header_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Quote_Header_Patch_Dates</name>
        <label>Quote Header Patch Dates</label>
        <locationX>109</locationX>
        <locationY>1169</locationY>
        <actionName>RLM_QuoteHeaderFlowController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputQuote</name>
            <value>
                <elementReference>GetQuote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputQuoteLineItems</name>
            <value>
                <elementReference>QuoteLinesToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteEndDate</name>
            <value>
                <elementReference>InputEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>InputStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteTermMonths</name>
            <value>
                <elementReference>InputTerm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_QuoteHeaderFlowController</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Quote_Lines_to_Update</name>
        <label>Add to Quote Lines to Update</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>QuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Info_Non_Termed</name>
        <label>Assign Line Info (Non-Termed)</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Quote_Lines.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Quote_Lines_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Line_Info</name>
        <label>Set Quote Line Info</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Quote_Lines.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Quote_Lines.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Quote_Lines_to_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DefaultPricingProcedureName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RLM Default Pricing Procedure</stringValue>
        </value>
    </constants>
    <constants>
        <name>QuoteMappingDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>QuoteEntitiesMapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesTransactionContextName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RLM_SalesTransactionContext</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Line_if_Term_Defined</name>
        <label>Check if Line if Term-Defined</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Line_Info_Non_Termed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Term Defined</defaultConnectorLabel>
        <rules>
            <name>Term_Defined_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Quote_Lines.SellingModelType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TermDefined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Line_Info</targetReference>
            </connector>
            <label>Term-Defined Line</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!InputEndDate}),  ADDMONTHS({!InputStartDate},{!InputTerm})-1,{!InputEndDate})</expression>
    </formulas>
    <interviewLabel>Quote Header Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Quote Header Component</label>
    <loops>
        <name>Loop_Over_Quote_Lines</name>
        <label>Loop Over Quote Lines</label>
        <locationX>5</locationX>
        <locationY>807</locationY>
        <collectionReference>Get_Related_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Line_if_Term_Defined</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quote_Header_Patch_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Quote_Lines</name>
        <label>Get Related Quote Lines</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>QuoteHeader</name>
        <label>Quote Header</label>
        <locationX>176</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Related_Quote_Lines</targetReference>
        </connector>
        <fields>
            <name>QuoteHeader_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>QuoteHeader_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputStartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GetQuote.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>QuoteHeader_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GetQuote.RLM_TermMonths__c</elementReference>
                    </defaultValue>
                    <fieldText>Term (Months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>QuoteHeader_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputEndDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GetQuote.RLM_EndDate__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>QuoteHeader_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>calculationExecutionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JSONOutputFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSONOutputsFromApex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
