force-app/main/default/flows/RLM_Update_Asset_Pricing_Source_if_Price_Revision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contains_Price_Revision</name>
        <label>Contains Price Revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Contains_Price_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reference_Entity_from_AAS.PriceRevisionPolicyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pricing_Source_if_Price_Revision</targetReference>
            </connector>
            <label>Outcome 1 of Contains Price Revision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RC Update Asset Pricing Source if Price Revision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC Update Asset Pricing Source if Price Revision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Action</name>
        <label>Get Asset Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Action_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetAction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Action_Source</name>
        <label>Get Asset Action Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reference_Entity_from_AAS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetActionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Action.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetActionSource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reference_Entity_from_AAS</name>
        <label>Get Reference Entity from AAS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contains_Price_Revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Action_Source.ReferenceEntityItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Pricing_Source_if_Price_Revision</name>
        <label>Set Pricing Source if Price Revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PricingSource</field>
            <value>
                <stringValue>LastTransaction</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasLifecycleManagement</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
