force-app/main/default/flows/RLM_Assetize_Order_DRO_Fulfillment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assetize</name>
        <label>Assetize</label>
        <locationX>622</locationX>
        <locationY>1598</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>Not_Components</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Assets_from_FOPs</name>
        <label>Create Assets from FOPs</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderProductIdsToConvert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Assets_from_Order_Items</name>
        <label>Create Assets from Order Items</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Assets_from_Singular_Order_Item</name>
        <label>Create Assets from Singular Order Item</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderProductIdsToConvert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Determine_DRO_Source_Type</name>
        <label>Determine DRO Source Type</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <actionName>RLM_DetermineDROSourceType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Source_Data_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_DetermineDROSourceType</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Order_Id_from_Current_FOP</name>
        <label>Add Order Id from Current FOP</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIdsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_FOP_Source.SourceLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_FOPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_Item_Id_from_FOP</name>
        <label>Add Order Item Id from FOP</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIdsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Source_Relationship.SourceLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product_and_Parent_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>FilteredOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collection_Filter_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Assignment 6</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Not_Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OI_To_Assetize</name>
        <label>OI To Assetize</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIdsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Order_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Assets_from_Singular_Order_Item</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter 1</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_Product_and_Parent_Id</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_1.ParentOrderItemId</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Source_Data_Type</name>
        <label>Check Source Data Type</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product</targetReference>
            </connector>
            <label>Is Order Item</label>
        </rules>
        <rules>
            <name>Is_Fulfillment_Order_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FulfillmentOrderLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Item</targetReference>
            </connector>
            <label>Is Fulfillment Order Item</label>
        </rules>
        <rules>
            <name>Is_Order_Items_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assets_from_Order_Items</targetReference>
            </connector>
            <label>Is Order Items (Collection)</label>
        </rules>
        <rules>
            <name>Is_Fulfillment_Order_Items_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FulfillmentOrderLineItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Items</targetReference>
            </connector>
            <label>Is Fulfillment Order Items (Collection)</label>
        </rules>
    </decisions>
    <decisions>
        <name>exists</name>
        <label>exists</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_source_line_in_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Not_Components</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Source_Relationship.SourceLineItemId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assetize</targetReference>
            </connector>
            <label>Is source line in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Parent_Id</name>
        <label>Has Parent Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>OI_To_Assetize</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.ParentOrderItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Parent Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Value</name>
        <label>Has Value</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OP_was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.RelatedOrderItemId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_6</targetReference>
            </connector>
            <label>OP was set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RLM - Assetize Order - DRO Fulfillment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM - Assetize Order - DRO Fulfillment</label>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <collectionReference>FilteredOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_FOPs</name>
        <label>Loop Over FOPs</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_FOP_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets_from_FOPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FOP_Source</name>
        <label>Get FOP Source</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Order_Id_from_Current_FOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfilmentOrderLineId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_FOPs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentLineSourceRel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Item</name>
        <label>Get Fulfillment Order Item</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Items</name>
        <label>Get Fulfillment Order Items</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_FOPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Parent_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_and_Parent_Id</name>
        <label>Get Order Product and Parent Id</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Filter_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderProductIdsToConvert</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Relationship</name>
        <label>Get Source Relationship</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Order_Item_Id_from_FOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfilmentOrderLineId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentLineSourceRel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_DRO_Source_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_NoComponentsFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>FilteredOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NoComponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Not_Components</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductIdsToConvert</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductsnotComponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>planSourceIdentifierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
