force-app/main/default/flows/RLM_CreateOrdersFromQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create orders from quote using the specified parameters.</description>
        <name>Create_Orders_From_Quote</name>
        <label>Create Orders From Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createOrdersFromQuote</actionName>
        <actionType>createOrdersFromQuote</actionType>
        <connector>
            <targetReference>Order_IDs_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Messages</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderCreationMethod</name>
            <value>
                <elementReference>MethodPicker.selectedOrderCreationMethod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderCreationParameters</name>
            <value>
                <elementReference>MethodPicker.orderCreationParameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrdersFromQuote</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <description>Create orders from quote using a transfer quote</description>
        <name>Create_Orders_From_Tfr_Quote</name>
        <label>Create Orders From Transfer Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createOrdersFromQuote</actionName>
        <actionType>createOrdersFromQuote</actionType>
        <connector>
            <targetReference>Transfer_Order_IDs_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Transfer_Quote</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrdersFromQuote</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.0.0</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Orders</name>
        <label>Count Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>orderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_Transfer_Quote</name>
        <label>Error Message Transfer Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>List of order IDs created.</description>
        <name>Order_IDs_Assignment</name>
        <label>Order IDs Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Orders_From_Quote.orderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Redirect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Messages</name>
        <label>Error Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_Redirect</name>
        <label>Set Order Redirect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>List of order IDs created.</description>
        <name>Transfer_Order_IDs_Assignment</name>
        <label>Transfer Order IDs Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Orders_From_Tfr_Quote.orderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Redirect</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Allowed Quote.CalculationStatus API value for &quot;Completed&quot; (pricing only). Add a matching constant and extend fxn_Quote_Calculation_Status_Allows_Order when new values are allowed.</description>
        <name>const_QuoteCalcStatus_Completed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <constants>
        <description>Allowed Quote.CalculationStatus API value for completed pricing and tax (label often &quot;Completed With Tax&quot;). Must match the picklist API name in Setup.</description>
        <name>const_QuoteCalcStatus_CompletedWithTax</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CompletedWithTax</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_message</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>How_Many_Orders</name>
        <label>How Many Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Order_List_view</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Orders</defaultConnectorLabel>
        <rules>
            <name>Single_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_orders</targetReference>
            </connector>
            <label>Single Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the quote has an OriginalActionType of Transfer, call the Create Orders from Transfer Quote action.</description>
        <name>Is_Transfer_Quote</name>
        <label>Is Transfer Quote?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S01_CreateOrdersScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_For_Readiness_And_Transfer.OriginalActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Orders_From_Tfr_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify Bill To Contact, quote lines, Bill To / Ship To addresses, and CalculationStatus before calling createOrdersFromQuote (applies to transfer and non-transfer paths).</description>
        <name>Quote_Ready_For_Ordering</name>
        <label>Quote Ready For Ordering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S00_Quote_Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxn_Quote_Ready_For_Ordering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Transfer_Quote</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the user opted to redirect to the created order(s). Transfer quotes always redirect since they skip the screen toggle.</description>
        <name>Should_Redirect</name>
        <label>Should Redirect?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Redirect</defaultConnectorLabel>
        <rules>
            <name>Yes_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRedirectToOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Revenue Cloud Default Create Orders From Quote Flow</description>
    <environments>Default</environments>
    <formulas>
        <description>True when Bill To street, city, or country is missing on the quote.</description>
        <name>fxn_Incomplete_BillToAddress</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  ISBLANK({!Get_Quote_For_Readiness_And_Transfer.BillingStreet}),
  ISBLANK({!Get_Quote_For_Readiness_And_Transfer.BillingCity}),
  ISBLANK({!Get_Quote_For_Readiness_And_Transfer.BillingCountry})
)</expression>
    </formulas>
    <formulas>
        <description>True when Ship To street, city, or country is missing on the quote.</description>
        <name>fxn_Incomplete_ShipToAddress</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  ISBLANK({!Get_Quote_For_Readiness_And_Transfer.ShippingStreet}),
  ISBLANK({!Get_Quote_For_Readiness_And_Transfer.ShippingCity}),
  ISBLANK({!Get_Quote_For_Readiness_And_Transfer.ShippingCountry})
)</expression>
    </formulas>
    <formulas>
        <description>True when CalculationStatus is not one of the allowed API values (see const_QuoteCalcStatus_*). To add new allowed values, extend fxn_Quote_Calculation_Status_Allows_Order.</description>
        <name>fxn_Invalid_Calculation_Status</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!fxn_Quote_Calculation_Status_Allows_Order})</expression>
    </formulas>
    <formulas>
        <description>True when Bill To Contact is not set.</description>
        <name>fxn_Missing_BillToContact</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Quote_For_Readiness_And_Transfer.BillToContactId})</expression>
    </formulas>
    <formulas>
        <description>True when the quote has no line items.</description>
        <name>fxn_No_Quote_Lines</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Quote_For_Readiness_And_Transfer.LineItemCount} &lt; 1</expression>
    </formulas>
    <formulas>
        <description>True when Quote.CalculationStatus matches an allowed picklist API value. Uses const_QuoteCalcStatus_* so admins can align values with Setup picklist API names.</description>
        <name>fxn_Quote_Calculation_Status_Allows_Order</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  TEXT({!Get_Quote_For_Readiness_And_Transfer.CalculationStatus}) = {!const_QuoteCalcStatus_Completed},
  TEXT({!Get_Quote_For_Readiness_And_Transfer.CalculationStatus}) = {!const_QuoteCalcStatus_CompletedWithTax}
)</expression>
    </formulas>
    <formulas>
        <description>All prerequisites for createOrdersFromQuote: Bill To Contact, at least one line, Bill To / Ship To street, city, country, and allowed CalculationStatus.</description>
        <name>fxn_Quote_Ready_For_Ordering</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT({!fxn_Missing_BillToContact}),
  NOT({!fxn_No_Quote_Lines}),
  NOT({!fxn_Incomplete_BillToAddress}),
  NOT({!fxn_Incomplete_ShipToAddress}),
  NOT({!fxn_Invalid_Calculation_Status})
)</expression>
    </formulas>
    <interviewLabel>RLM Create Orders From Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Create Orders From Quote</label>
    <loops>
        <name>loop_orders</name>
        <label>loop orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>orderIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Redirect</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_to_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Loads the current quote by Id. Fields are used to (1) route transfer vs. standard order creation via OriginalActionType, (2) validate order readiness (BillToContactId, LineItemCount, Bill To and Ship To street/city/country, CalculationStatus), and (3) power readiness formulas and the not-ready screen.</description>
        <name>Get_Quote_For_Readiness_And_Transfer</name>
        <label>Get Quote for Readiness and Transfer Routing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Ready_For_Ordering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalActionType</queriedFields>
        <queriedFields>BillToContactId</queriedFields>
        <queriedFields>LineItemCount</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>CalculationStatus</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Redirect_to_Order</name>
        <label>Redirect to Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rcOrderRedirect</name>
            <extensionName>c:rlmOrderRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAutoRedirect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>varOrderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Order_List_view</name>
        <label>Redirect to Order List view</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rcOrderRedirectList</name>
            <extensionName>c:rlmOrderRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAutoRedirect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows specific guidance when the quote is missing Bill To Contact, quote lines, Bill To / Ship To address data, or has a disallowed CalculationStatus.</description>
        <name>S00_Quote_Not_Ready</name>
        <label>Quote Not Ready</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S00_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This quote isn&apos;t ready to create orders yet.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Update the quote as described below, save, then run &lt;strong&gt;Create Orders from Quote&lt;/strong&gt; again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S00_Msg_CalculationStatus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;We couldn&apos;t create an order for this quote because its current &lt;strong&gt;Calculation Status&lt;/strong&gt; is &lt;strong&gt;{!Get_Quote_For_Readiness_And_Transfer.CalculationStatus}&lt;/strong&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Allow the quote to finish calculating until &lt;strong&gt;Calculation Status&lt;/strong&gt; is &lt;strong&gt;Completed&lt;/strong&gt; or &lt;strong&gt;Completed With Tax&lt;/strong&gt;, then try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fxn_Invalid_Calculation_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S00_Msg_BillToContact</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bill To Contact&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Open the quote and set &lt;strong&gt;Bill To Contact&lt;/strong&gt; on the quote (Quote Details). Choose the contact who should be associated with billing for this order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fxn_Missing_BillToContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S00_Msg_QuoteLines</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quote lines&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Add at least one &lt;strong&gt;Quote Line&lt;/strong&gt; with a product or subscription before creating orders.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fxn_No_Quote_Lines</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S00_Msg_BillToAddress</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bill To address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Complete the quote&apos;s &lt;strong&gt;Bill To&lt;/strong&gt; address: &lt;strong&gt;Street&lt;/strong&gt;, &lt;strong&gt;City&lt;/strong&gt;, and &lt;strong&gt;Country&lt;/strong&gt; must all be filled in. You can copy from the account or edit the quote address fields directly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fxn_Incomplete_BillToAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S00_Msg_ShipToAddress</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Ship To address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Complete the quote&apos;s &lt;strong&gt;Ship To&lt;/strong&gt; address: &lt;strong&gt;Street&lt;/strong&gt;, &lt;strong&gt;City&lt;/strong&gt;, and &lt;strong&gt;Country&lt;/strong&gt; must all be filled in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fxn_Incomplete_ShipToAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S01_CreateOrdersScreen</name>
        <label>S01_CreateOrdersScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Orders_From_Quote</targetReference>
        </connector>
        <fields>
            <name>ModalHeader</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;Create Order&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MethodPicker</name>
            <extensionName>runtime_rca:orderCreationMethodPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableOrderCreationMethods</name>
                <value>
                    <stringValue>single-order,order-by-group,order-by-field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableSplitFields</name>
                <value>
                    <stringValue>Product2Id,QuoteActionId,StartDate,EndDate,ServiceDate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_CreateOrdersScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_CreateOrdersScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S01_CreateOrdersScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>redirectToOrder</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Redirect to Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Redirect</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Stay on Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varRedirectToOrder</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>revenue_adv_q2o__CreateOrdersFromQuote</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_For_Readiness_And_Transfer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>$Label.CreateOrdersFromQuote.Variable_ErrorMessages_Description</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>$Label.CreateOrdersFromQuote.Variable_QuoteId_Description</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Controls whether the flow redirects to the created order after completion. Defaults to true (redirect enabled).</description>
        <name>varRedirectToOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
