force-app/main/default/flows/UpdateQuoteEligibilityFieldOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>176</locationX>
        <locationY>1142</locationY>
        <actionName>QuotingIneligibilityController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>DiscountedDPPAccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuotingIneligibilityController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Create_Discounted_Order_Product_List</name>
        <label>Create Discounted Order Product List</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>DiscountedDPPAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Order_Product.Order.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_Id_List</name>
        <label>Create Order Id List</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Order</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Order_Product_Discounted</name>
        <label>Is Order Product Discounted</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>For_Each_Order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Discounted</defaultConnectorLabel>
        <rules>
            <name>Discounted_Order_Product</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>DiscountedDPPAccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Order_Product.PricebookEntry.IsDerived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Order_Product.DiscountAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Zero</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Order_Product.Discount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Discounted_Order_Product_List</targetReference>
            </connector>
            <label>Discounted Order Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateQuoteEligibilityFieldOnAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateQuoteEligibilityFieldOnAccount</label>
    <loops>
        <name>For_Each_Order</name>
        <label>For Each Order</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Related_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Order_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_DPP_Order_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Order_Product</name>
        <label>For Each Order Product</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_DPP_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Order_Product_Discounted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DPP_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>In</operator>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Orders</name>
        <label>Get Related Orders</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Orders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscountedDPPAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
