unpackaged/post_billing_ui/flows/RLM_Generate_Statement_of_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_Statement_IA</name>
        <label>RLM Account Statement IA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>generateAccountStatement</actionName>
        <actionType>generateAccountStatement</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldShowOpenBalancesOnly</name>
            <value>
                <elementReference>Show_Open_Balances_Only</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Statement_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortBy</name>
            <value>
                <elementReference>Sort_By</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortingOrder</name>
            <value>
                <elementReference>Sorting_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>generateAccountStatement</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ascending</name>
        <choiceText>Ascending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ascending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Memos</name>
        <choiceText>Credit Memos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Memos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Date</name>
        <choiceText>Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debit_Memos</name>
        <choiceText>Debit Memos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debit Memos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Default_Account_Statement_Template</name>
        <choiceText>Default Account Statement Template</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default Account Statement Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>Descending</name>
        <choiceText>Descending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Descending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invoices</name>
        <choiceText>Invoices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoices</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payments</name>
        <choiceText>Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refunds</name>
        <choiceText>Refunds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Generate Statement of Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Statement of Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Generate_Statement_of_Account</name>
        <label>Generate Statement of Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Statement_IA</targetReference>
        </connector>
        <fields>
            <name>Primary_Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Primary Account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Related_Accounts</name>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Select Related Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Transactions</name>
            <choiceReferences>All</choiceReferences>
            <choiceReferences>Invoices</choiceReferences>
            <choiceReferences>Payments</choiceReferences>
            <choiceReferences>Credit_Memos</choiceReferences>
            <choiceReferences>Debit_Memos</choiceReferences>
            <choiceReferences>Refunds</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>All</defaultSelectedChoiceReference>
            <fieldText>Select Transactions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Statement_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Statement Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Statement_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Statement End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Document_Template</name>
            <choiceReferences>Default_Account_Statement_Template</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Default_Account_Statement_Template</defaultSelectedChoiceReference>
            <fieldText>Document Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sort_By</name>
            <choiceReferences>Date</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Date</defaultSelectedChoiceReference>
            <fieldText>Sort By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sorting_Order</name>
            <choiceReferences>Descending</choiceReferences>
            <choiceReferences>Ascending</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Descending</defaultSelectedChoiceReference>
            <fieldText>Sorting Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_Open_Balances_Only</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Show Open Balances Only</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>bottom</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Statement_of_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
