unpackaged/post_collections/flows/RC_WriteOffInvoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Write_Off_Invoices_Action</name>
        <label>Write Off Invoices Action</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>writeOffInvoices</actionName>
        <actionType>writeOffInvoices</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>writeOffInvoiceInputList</name>
            <value>
                <elementReference>writeOffInvoiceList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>writeOffInvoices</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetInvoiceValues</name>
        <label>SetInvoiceValues</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>writeOffInvoice.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>writeOffInvoice.reasonCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bad_Debt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>writeOffInvoice.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bad_Debt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>writeOffInvoiceList.writeOffInvoiceInputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>writeOffInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_Off_Invoices_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bad_Debt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Bad Debt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Debt</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>AI Generated Flow for want a screen flow that calls the WriteOffInvoices invocable...</interviewLabel>
    <label>RC_WriteOffInvoices</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptId</name>
        <value>
            <stringValue>65ef3551-b232-4aba-8a72-f90f2454dbb8</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptLlmIds</name>
        <value>
            <stringValue>[&quot;ec43933f-5658-4fcb-847e-c8321fadb825&quot;]</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInvoiceValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>writeOffInvoice</name>
        <apexClass>InvoiceWriteOff__WriteOffInvoiceInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>writeOffInvoiceList</name>
        <apexClass>InvoiceWriteOff__WriteOffInvoiceInputList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>writeOffInvoices</name>
        <apexClass>InvoiceWriteOff__WriteOffInvoiceInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
