unpackaged/post_ramp_builder/flows/RLM_Create_Ramp_Schedule_V4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Ramp_Schedule_Action</name>
        <label>Create Ramp Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RLM_RampScheduleFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Ramp_Mode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleName</name>
            <value>
                <elementReference>scheduleNameVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleType</name>
            <value>
                <elementReference>scheduleTypeVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>segmentsJson</name>
            <value>
                <elementReference>segmentsJsonVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>CREATE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RLM_RampScheduleFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Creates a ramp schedule for a Quote record with configurable segments including trial, yearly, and pro-rata options. Uses multiple LWC components with Lightning Message Service for real-time updates.</description>
    <environments>Default</environments>
    <formulas>
        <name>DefaultStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Quote.StartDate}), TODAY() + 10, {!Get_Quote.StartDate})</expression>
    </formulas>
    <formulas>
        <name>StartDateForLWC</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!DefaultStartDate})) &amp; &quot;-&quot; &amp; 
IF(MONTH({!DefaultStartDate}) &lt; 10, &quot;0&quot;, &quot;&quot;) &amp; TEXT(MONTH({!DefaultStartDate})) &amp; &quot;-&quot; &amp; 
IF(DAY({!DefaultStartDate}) &lt; 10, &quot;0&quot;, &quot;&quot;) &amp; TEXT(DAY({!DefaultStartDate}))</expression>
    </formulas>
    <interviewLabel>Create Ramp Schedule V4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Ramp Schedule V4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Ramp_Schedule_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DML_Confirmation_Screen</name>
        <label>Ramp Schedule Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DML_SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(46, 132, 74); font-size: 18px;&quot;&gt;✓ &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(46, 132, 74);&quot;&gt;Ramp Schedule Created&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The ramp schedule has been set up for &lt;b&gt;{!Get_Quote.Name}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can now add products to the quote — they will be automatically distributed across all ramp segments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DML_RefreshPage</name>
            <extensionName>c:rlmRampRefreshPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Ramp Schedule In Progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RampStatusPoller</name>
            <extensionName>c:rlmRampScheduleStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobId</name>
                <value>
                    <elementReference>Create_Ramp_Schedule_Action.jobId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteName</name>
                <value>
                    <elementReference>Get_Quote.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Ramp_Schedule_Screen</name>
        <label>Create Ramp Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Validation_Status</targetReference>
        </connector>
        <fields>
            <name>Create_Ramp_Schedule_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Ramp_Schedule_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FormSection</name>
                    <extensionName>c:rlmRampScheduleForm</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>quoteStartDate</name>
                        <value>
                            <elementReference>StartDateForLWC</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultScheduleName</name>
                        <value>
                            <stringValue>4 Year Ramp Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultDuration</name>
                        <value>
                            <numberValue>48.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultScheduleType</name>
                        <value>
                            <stringValue>Annual</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TrialSection</name>
                    <extensionName>c:rlmRampScheduleTrialSection</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultTrialDiscount</name>
                        <value>
                            <numberValue>100.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultTrialDuration</name>
                        <value>
                            <numberValue>30.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lockTrialDuration</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lockTrialDiscount</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Create_Ramp_Schedule_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreviewSection</name>
                    <extensionName>c:rlmRampSchedulePreviewTable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>hideDiscountColumn</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideUpliftColumn</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultScheduleName</name>
                        <value>
                            <stringValue>4 Year Ramp Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultDuration</name>
                        <value>
                            <numberValue>48.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultTrialDiscount</name>
                        <value>
                            <numberValue>100.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultTrialDuration</name>
                        <value>
                            <numberValue>30.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultStartDate</name>
                        <value>
                            <elementReference>StartDateForLWC</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>segmentsJsonVar</assignToReference>
                        <name>segmentsJson</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>scheduleNameVar</assignToReference>
                        <name>scheduleNameOutput</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>scheduleTypeVar</assignToReference>
                        <name>scheduleTypeOutput</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>validationStatusVar</assignToReference>
                        <name>validationStatus</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>true</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-size: 18px;&quot;&gt;✗ &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(194, 57, 52);&quot;&gt;Error Creating Ramp Schedule&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error occurred while creating the ramp schedule. Please try again or contact your administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Error_Screen</name>
        <label>Review Your Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-size: 18px;&quot;&gt;✗ &lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(194, 57, 52);&quot;&gt;Schedule Has Validation Errors&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your ramp schedule has one or more validation errors. Please go back and correct the segment configuration — check for date gaps, overlaps, or missing required fields — before creating the schedule.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <decisions>
        <name>Check_Validation_Status</name>
        <label>Check Validation Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validation_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Schedule Invalid</defaultConnectorLabel>
        <rules>
            <name>Segments_Are_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validationStatusVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ramp_Schedule_Action</targetReference>
            </connector>
            <label>Segments Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ramp_Mode</name>
        <label>Check Ramp Mode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DML_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DML (no job)</defaultConnectorLabel>
        <rules>
            <name>Has_Job_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Ramp_Schedule_Action.jobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>API path (has job ID)</label>
        </rules>
    </decisions>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduleNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduleTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>segmentsJsonVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationStatusVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
