unpackaged/post_lotus/flows/Clone_Quote_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Quote_Service</name>
        <label>Clone Quote Service</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <actionName>CloneQuoteFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_To_Oppty_Sync_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>originalQuoteId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>clonedQuote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneQuoteFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>clonedQuoteId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Supported_Countries_Per_Currency</name>
        <label>Get Supported Countries Per Currency</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <actionName>GetSupportedCountriesFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Quote_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currencyList</name>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSupportedCountriesFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>SupportedCountryList</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Cloned_Quote</name>
        <label>Navigate to Cloned Quote</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>clonedQuoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Country_Currency_Support</name>
        <label>Validate Country Currency Support</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <actionName>ValidateCurrencySupportFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Currency_Supported</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>billingCurrency</name>
            <value>
                <elementReference>CurrencyPicklistComponent.selectedCurrency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>CountryPicklistComponent.selectedCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateCurrencySupportFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>isBillingCurrencySupported</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Clone_Quote</name>
        <label>Clone Quote</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>clonedQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_Through_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ServiceStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ServiceEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEndDateLogic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryPicklistComponent.selectedCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyPicklistComponent.selectedCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.AutoRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AutoRenewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.QuoteType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.QuoteType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.OriginalActionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OriginalActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PurchaseOrderRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PurchaseOrderRequired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PurchaseOrderAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PurchaseOrderAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PurchaseOrderNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PurchaseOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxRegistrationID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxRegistrationID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxExemptionID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxExemptionID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingFrequencySpecialTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingFrequencySpecialTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.NoTaxRegistrationIDReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.NoTaxRegistrationIDReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxExemptStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxExemptStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BusinessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BusinessType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.RenewalTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PreBillDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PreBillDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.InvoiceDispatchMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.InvoiceDispatchMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PaymentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PaymentTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxInformationJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxInformationJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PrimaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PrimaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PrimaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SecondaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.SecondaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingAddressJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingAddressJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingAddressJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingAddressJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PaymentDetailJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PaymentDetailJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TrueUpSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TrueUpSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingCompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingCompanyName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Quote_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Quote_Amend</name>
        <label>Clone Quote - Amend</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>clonedQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_Through_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ServiceStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date_Amend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ServiceEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ServiceEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryPicklistComponent.selectedCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyPicklistComponent.selectedCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.AutoRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AutoRenewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.QuoteType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.QuoteType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.OriginalActionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OriginalActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PurchaseOrderRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PurchaseOrderRequired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PurchaseOrderAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PurchaseOrderAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PurchaseOrderNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PurchaseOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxRegistrationID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxRegistrationID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxExemptionID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxExemptionID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingFrequencySpecialTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingFrequencySpecialTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.NoTaxRegistrationIDReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.NoTaxRegistrationIDReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxExemptStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxExemptStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BusinessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BusinessType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.RenewalTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PreBillDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PreBillDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.InvoiceDispatchMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.InvoiceDispatchMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PaymentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PaymentTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TaxInformationJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TaxInformationJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PrimaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PrimaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PrimaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SecondaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.SecondaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.BillingAddressJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingAddressJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ShippingAddressJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ShippingAddressJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.PaymentDetailJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PaymentDetailJSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.TrueUpSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TrueUpSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Quote_Service</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Amend_Quote</name>
        <label>Is Amend Quote?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Clone_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amend_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAmendQuoteFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Quote_Amend</targetReference>
            </connector>
            <label>Amend Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Currency_Supported</name>
        <label>Is Currency Supported</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Currency_Not_Supported_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Currency_Supported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBillingCurrencySupported</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Amend_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_To_Oppty_Sync_Check</name>
        <label>Quote To Oppty Sync Check</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Cloned_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sync Unchecked</defaultConnectorLabel>
        <rules>
            <name>Sync_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SyncingToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Quote_to_Oppty</targetReference>
            </connector>
            <label>Sync Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>countryCreateQuoteHelpText</name>
        <dataType>String</dataType>
        <expression>&apos;Billing Country is pre-selected from the Account associated to the Opportunity. It must be compatible with the Billing Currency (&apos; +{!CurrencyPicklistComponent.selectedCurrency}+ &apos;) and cannot be changed after the Quote is created.&apos;</expression>
    </formulas>
    <formulas>
        <name>IsAmendQuoteFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!recordId.OriginalActionType}, &apos;Amend&apos;)</expression>
    </formulas>
    <formulas>
        <name>ServiceEndDateLogic</name>
        <dataType>Date</dataType>
        <expression>IF(
DAY({!Service_Start_Date}) = 31,
DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term}-1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
IF(
MOD(MONTH({!Service_Start_Date}) + {!Term}-1, 12) +1 = 2,
IF(MOD(YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) +{!Term}) / 12), 4) = 0,
28, 27),
IF( OR (
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 1,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 3,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 5,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 7,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 8,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 10,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 12),
30,
29
)
)
),
IF (
DAY({!Service_Start_Date}) = 30,
DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term}-1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
IF(
MOD(MONTH({!Service_Start_Date}) + {!Term}-1, 12) +1 = 2,
IF(MOD(YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) +{!Term}) / 12), 4) = 0,
28, 27),29
)
),

IF( AND (
DAY({!Service_Start_Date}) = 29,
MOD(MONTH({!Service_Start_Date}) + {!Term}-1, 12) +1 = 2
),
DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term}-1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
27
),

DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term} - 1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
DAY({!Service_Start_Date})
)-1
)
)
)</expression>
    </formulas>
    <formulas>
        <description>Formula field to find out date with last day of current month.</description>
        <name>validThruDateDefaultValue</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12, 
DATE( YEAR( TODAY() ), 12, 31 ), 
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Clone Quote Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Quote Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Clone_Quote_Screen</name>
        <label>Clone Quote Screen</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Country_Currency_Support</targetReference>
        </connector>
        <fields>
            <name>Clone_Quote_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Quote_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!recordId.Name} Clone</stringValue>
                    </defaultValue>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valid_Through_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>validThruDateDefaultValue</elementReference>
                    </defaultValue>
                    <fieldText>Valid Through Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Clone_Quote_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Quote_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.ServiceStartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter today&apos;s date or a future date. Past dated quotes are not supported at this time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Service_Start_Date} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Term</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.Term__c</elementReference>
                    </defaultValue>
                    <fieldText>Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <elementReference>IsAmendQuoteFormula</elementReference>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please enter a value between 1-120. Decimal values are only allowed for Amend Quotes.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
AND ({!Term} &gt;= 1, {!Term} &lt;= 120),
OR(
AND (REGEX(TEXT( {!Term} ), &quot;[0-9]+[.]{0,}&quot;),
NOT(ISPICKVAL({!recordId.QuoteType__c}, &quot;Amend&quot;))),
AND (
REGEX(TEXT( {!Term} ), &quot;^(\\d+)?([.]?\\d{0,1})?$&quot;),
ISPICKVAL({!recordId.QuoteType__c}, &quot;Amend&quot;))))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAmendQuoteFormula</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Clone_Quote_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Quote_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Start_Date_Amend</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.ServiceStartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter today&apos;s date or a future date. Past dated quotes are not supported at this time.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Service_Start_Date_Amend} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_End_Date_Amend</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.ServiceEndDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Service End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAmendQuoteFormula</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Clone_Quote_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Quote_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CountryPicklistComponent</name>
                    <extensionName>c:countryPicklistComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultCountry</name>
                        <value>
                            <elementReference>recordId.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableCountry</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isHelpTextDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCountryFieldRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedCurrency</name>
                        <value>
                            <elementReference>CurrencyPicklistComponent.selectedCurrency</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryLabel</name>
                        <value>
                            <stringValue>Billing Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryHelpText</name>
                        <value>
                            <elementReference>countryCreateQuoteHelpText</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryOptionsChoice</name>
                        <value>
                            <stringValue>QuotableCountries</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrencyPicklistComponent</name>
                    <extensionName>c:currencyPicklistComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currencyHelpText</name>
                        <value>
                            <stringValue>Billing Currency is pre-selected from the Opportunity Currency, and cannot be changed once the Quote is created. To change, update the Opportunity Currency.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultCurrency</name>
                        <value>
                            <elementReference>recordId.CurrencyIsoCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currencyLabel</name>
                        <value>
                            <stringValue>Billing Currency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableCurrency</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isHelpTextDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCurrencyFieldRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Clone_Quote_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Quote_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ViewCountryCurrencyMapping</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://basecamp.salesforce.com/content/techforce-what-is-ask-astro&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;View Billing Country and Currency Mapping&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>NOT 1</conditionLogic>
                        <conditions>
                            <leftValueReference>SupportedCountryList</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>CountryPicklistComponent.selectedCountry</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Clone_Quote_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Quote_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SyncingToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Syncing</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Quote_Screen_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SyncingNote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Note:&lt;/strong&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; This toggle annotates the Synced quote. If toggled on, this quote will be used to calculate the Opportunity Amount. Only one quote can be synced with the Opportunity at any given time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save and View Cloned Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Currency_Not_Supported_Error</name>
        <label>Currency Not Supported Error</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Clone_Quote_Screen</targetReference>
        </connector>
        <fields>
            <name>IncompatibilityError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!CurrencyPicklistComponent.selectedCurrency}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; is not supported within &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!CountryPicklistComponent.selectedCountry}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please select a different Billing Country or change the Currency on the Opportunity that is desired.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Supported_Countries_Per_Currency</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sync_Quote_to_Oppty</name>
        <label>Sync Quote to Oppty</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Navigate_to_Cloned_Quote</targetReference>
        </connector>
        <flowName>Quote_to_Opportunity_Sync_Subflow</flowName>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>clonedQuoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>clonedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>clonedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isBillingCurrencySupported</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>SupportedCountryList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
