unpackaged/post_lotus/flows/Create_Quote_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Quote_with_Quote_Lines</name>
        <label>Create New Quote with Quote Lines</label>
        <locationX>374</locationX>
        <locationY>3722</locationY>
        <actionName>PlaceQuoteAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_to_Oppty_Sync_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>newQuote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineItemList</name>
            <value>
                <elementReference>quoteLinesList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PlaceQuoteAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Default_Billing_Info</name>
        <label>Get Default Billing Info</label>
        <locationX>374</locationX>
        <locationY>2306</locationY>
        <actionName>GetDefaultBillingInfoFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_Default_Billing_Info_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billingCurrency</name>
            <value>
                <elementReference>SelectedCurrency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetDefaultBillingInfoFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>defaultBillingInfo</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Supported_Countries_Per_Currency</name>
        <label>Get Supported Countries Per Currency</label>
        <locationX>594</locationX>
        <locationY>566</locationY>
        <actionName>GetSupportedCountriesFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isAmendOppty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currencyList</name>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSupportedCountriesFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>SupportedCountriesList</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Navigates the user to Quote record.</description>
        <name>Navigate_to_Quote_Record</name>
        <label>Navigate to Quote Record</label>
        <locationX>374</locationX>
        <locationY>4130</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_New_Quote_with_Quote_Lines.quoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Currency_Support_For_Country</name>
        <label>Validate Currency Support For Country</label>
        <locationX>594</locationX>
        <locationY>1082</locationY>
        <actionName>ValidateCurrencySupportFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Currency_Supported</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>billingCurrency</name>
            <value>
                <elementReference>SelectedCurrency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateCurrencySupportFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>isBillingCurrencySupported</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Billing_Info_on_New_Quote</name>
        <label>Add Billing Info on New Quote</label>
        <locationX>242</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>newQuote.PrimaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.PrimaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.SecondaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.SecondaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.AutoRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.AutoRenewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.BillingLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.InvoiceDispatchMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.InvoiceDispatchMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.PaymentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.PaymentTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.PreBillDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.PreBillDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.RenewalTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BusinessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.BusinessType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.NoTaxRegistrationIDReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.NoTaxRegistrationIDReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.TaxExemptionID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.TaxExemptionID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.TaxExemptStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.TaxExemptStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.TaxRegistrationID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultBillingInfo.TaxRegistrationID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_oppty_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Quote_Lines_List</name>
        <label>Add To Quote Lines List</label>
        <locationX>594</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>quoteLinesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_oppty_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Auto_Renewal_Value_To_No</name>
        <label>Assign Auto Renewal Value To No</label>
        <locationX>110</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>AssignAutoRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Quote_and_Account_Billing_Country_match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedCountryAndCurrency_Amend</name>
        <label>AssignSelectedCountryAndCurrency_Amend</label>
        <locationX>462</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SelectedCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Currency_Support_For_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedCountryAndCurrency_NB</name>
        <label>AssignSelectedCountryAndCurrency_NB</label>
        <locationX>726</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SelectedCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryPicklistComponent.selectedCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyPicklistComponent.selectedCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Currency_Support_For_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Next_Quote_Number</name>
        <label>Calculate Next Quote Number</label>
        <locationX>594</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>totalQuotesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quotes_on_Oppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextQuoteNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalQuotesCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextQuoteNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Supported_Countries_Per_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Amend_Quote</name>
        <label>Create New Amend Quote</label>
        <locationX>242</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>newQuote.AutoRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignAutoRenewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_Through_Date_Amend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name_Amend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ServiceEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenLookUp_Contract.selectedRecordOutput.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ServiceStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date_Amend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmendTermFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Default_Billing_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>506</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>newQuote.AutoRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignAutoRenewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_Through_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ServiceEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceEndDateLogic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ServiceStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteAddressInfo.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Default_Billing_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Quote_Line_Item</name>
        <label>Create New Quote Line Item</label>
        <locationX>726</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.BillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.SubscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.PeriodBoundary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Price_Different_Than_List_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Quote_Line_Item_Amend</name>
        <label>Create New Quote Line Item Amend</label>
        <locationX>462</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.BillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date_Amend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.SubscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmendTermFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.PeriodBoundary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Price_Different_Than_List_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Selected_Billing_Country_On_Quote</name>
        <label>Default Selected Billing Country On Quote</label>
        <locationX>506</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isAmendOpptyCheck2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Account_Address_on_Quote</name>
        <label>Populate Account Address on Quote</label>
        <locationX>242</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAddressInfo.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isAmendOpptyCheck2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_to_0</name>
        <label>Set Discount to 0</label>
        <locationX>462</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_oppty_lines.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Quote_Lines_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>UnitedStates</name>
        <choiceText>US - United States</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Default_Billing_Info_Exist</name>
        <label>Does Default Billing Info Exist</label>
        <locationX>374</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Get_oppty_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_Default_Billing_Info_Exist_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>defaultBillingInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Billing_Info_on_New_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Quote_and_Account_Billing_Country_match</name>
        <label>Does Quote and Account Billing Country match ?</label>
        <locationX>374</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Default_Selected_Billing_Country_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Account.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account_Address_on_Quote</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check</name>
        <label>Error Check</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Quotes_on_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Has_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Currency_Supported</name>
        <label>Is Currency Supported</label>
        <locationX>594</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Currency_Not_Supported_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Currency_Supported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBillingCurrencySupported</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Pricebook</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Term_Less_Than_12_Months</name>
        <label>Is Term Less Than 12 Months?</label>
        <locationX>374</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Does_Quote_and_Account_Billing_Country_match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Term</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Auto_Renewal_Value_To_No</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isAmendTerm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmendTermFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Auto_Renewal_Value_To_No</targetReference>
            </connector>
            <label>isAmendTerm</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAmendOppty</name>
        <label>isAmendOppty</label>
        <locationX>594</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>New_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAmend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Amend_Quote</targetReference>
            </connector>
            <label>isAmend</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAmendOpptyCheck2</name>
        <label>isAmendOpptyCheck2</label>
        <locationX>374</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Create_New_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_isAmend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Amend_Quote</targetReference>
            </connector>
            <label>isAmend</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAmendOpptyCheck3</name>
        <label>isAmendOpptyCheck3</label>
        <locationX>594</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Create_New_Quote_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_isAmend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Quote_Line_Item_Amend</targetReference>
            </connector>
            <label>isAmend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_to_Oppty_Sync_Check</name>
        <label>Quote to Oppty Sync Check</label>
        <locationX>374</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Quote_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Syncing unchecked</defaultConnectorLabel>
        <rules>
            <name>Syncing_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SyncingToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_To_Opportunity_Sync</targetReference>
            </connector>
            <label>Syncing checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Price_Different_Than_List_Price</name>
        <label>Sales Price Different Than List Price</label>
        <locationX>594</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Add_To_Quote_Lines_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Price Equal List Price</defaultConnectorLabel>
        <rules>
            <name>Sales_Price_Greater_Or_Less_Than_List_Price</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newQuoteLineItem.UnitPrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Iterate_through_oppty_lines.ListPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuoteLineItem.UnitPrice</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Iterate_through_oppty_lines.ListPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_to_0</targetReference>
            </connector>
            <label>Sales Price Greater Or Less Than List Price</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmendTermFormula</name>
        <dataType>Number</dataType>
        <expression>IF(DAY({!GenLookUp_Contract.selectedRecordOutput.EndDate}) &lt; DAY({!Service_Start_Date_Amend}), (MONTH({!GenLookUp_Contract.selectedRecordOutput.EndDate})) + (12*(YEAR({!GenLookUp_Contract.selectedRecordOutput.EndDate})-(YEAR({!Service_Start_Date_Amend})))) - (MONTH({!Service_Start_Date_Amend})) - 1, (MONTH({!GenLookUp_Contract.selectedRecordOutput.EndDate})) + (12*(YEAR({!GenLookUp_Contract.selectedRecordOutput.EndDate})-YEAR({!Service_Start_Date_Amend}))) - MONTH({!Service_Start_Date_Amend}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>countryCreateQuoteHelpText</name>
        <dataType>String</dataType>
        <expression>&apos;Billing Country is pre-selected from the Account associated to the Opportunity. It must be compatible with the Billing Currency (&apos; +{!CurrencyPicklistComponent.selectedCurrency}+ &apos;) and cannot be changed after the Quote is created.&apos;</expression>
    </formulas>
    <formulas>
        <name>ServiceEndDateLogic</name>
        <dataType>Date</dataType>
        <expression>IF(
DAY({!Service_Start_Date}) = 31,
DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term}-1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
IF(
MOD(MONTH({!Service_Start_Date}) + {!Term}-1, 12) +1 = 2,
IF(MOD(YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) +{!Term}) / 12), 4) = 0,
28, 27),
IF( OR (
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 1,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 3,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 5,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 7,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 8,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 10,
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1 = 12),
30,
29
)
)
),
IF (
DAY({!Service_Start_Date}) = 30,
DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term}-1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
IF(
MOD(MONTH({!Service_Start_Date}) + {!Term}-1, 12) +1 = 2,
IF(MOD(YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) +{!Term}) / 12), 4) = 0,
28, 27),29
)
),

IF( AND (
DAY({!Service_Start_Date}) = 29,
MOD(MONTH({!Service_Start_Date}) + {!Term}-1, 12) +1 = 2
),
DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term}-1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
27
),

DATE(
YEAR({!Service_Start_Date}) + FLOOR((MONTH({!Service_Start_Date}) + {!Term} - 1) / 12),
MOD(MONTH({!Service_Start_Date}) + {!Term} - 1, 12) + 1,
DAY({!Service_Start_Date})
)-1
)
)
)</expression>
    </formulas>
    <formulas>
        <name>startDateBeforeContractEndDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 
{!Service_Start_Date_Amend} &gt;= TODAY(),
{!Service_Start_Date_Amend} &gt;= {!GenLookUp_Contract.selectedRecordOutput.StartDate} ,
{!Service_Start_Date_Amend} &lt;={!GenLookUp_Contract.selectedRecordOutput.EndDate}
)</expression>
    </formulas>
    <formulas>
        <description>formula field to find out date with last day of current month.</description>
        <name>validThruDateDefaultValue</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12, 
DATE( YEAR( TODAY() ), 12, 31 ), 
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Create Quote Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Flow</label>
    <loops>
        <name>Iterate_through_oppty_lines</name>
        <label>Iterate through oppty lines</label>
        <locationX>374</locationX>
        <locationY>2822</locationY>
        <collectionReference>Get_oppty_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isAmendOpptyCheck3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Quote_with_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Default_Pricebook</name>
        <label>Get Default Pricebook</label>
        <locationX>374</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Term_Less_Than_12_Months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_oppty_lines</name>
        <label>Get oppty lines</label>
        <locationX>374</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_oppty_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes_on_Oppty</name>
        <label>Get Quotes on Oppty</label>
        <locationX>594</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Next_Quote_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Currency_Not_Supported_Error</name>
        <label>Currency Not Supported Error</label>
        <locationX>814</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CurrencyNotSupportedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!SelectedCurrency}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; is not supported within &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!SelectedCountry}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please select a different Billing Country or change the Currency on the Opportunity that is desired.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen used to create Amend Quote</description>
        <name>New_Amend_Quote</name>
        <label>New Amend Quote</label>
        <locationX>462</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignSelectedCountryAndCurrency_Amend</targetReference>
        </connector>
        <fields>
            <name>New_Amend_Quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Amend_Quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenLookUp_Contract</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contract</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:genericLookupComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>additionalConditions</name>
                        <value>
                            <stringValue>, AccountId: {eq: &quot;{!recordId.AccountId}&quot;} , Status: {eq: &quot;Activated&quot;} , CurrencyIsoCode: {eq: &quot;{!recordId.CurrencyIsoCode}&quot;}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>additionalFieldsInResponse</name>
                        <value>
                            <stringValue>StartDate,EndDate,ContractTerm</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedIconName</name>
                        <value>
                            <stringValue>standard:contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContractNumber</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectLabel</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Contract...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Contract is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISBLANK({!GenLookUp_Contract.selectedRecordOutput.Id}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Amend_Quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Amend_Quote_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Start_Date</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GenLookUp_Contract.selectedRecordOutput.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Amend_Quote_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_End_Date</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GenLookUp_Contract.selectedRecordOutput.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>Contract End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Amend_Quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Amend_Quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name_Amend</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Amendment Quote for {!recordId.Name}</stringValue>
                    </defaultValue>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Amend_Quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Start_Date_Amend</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Cannot be earlier than today and Cannot exceed Contract&apos;s Start and End Dates.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!startDateBeforeContractEndDateFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Amend_Quote_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Amend_Quote_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valid_Through_Date_Amend</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>validThruDateDefaultValue</elementReference>
                    </defaultValue>
                    <fieldText>Valid Through Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 8, 8); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Cannot be earlier than today&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Valid_Through_Date_Amend} &gt;TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Amend_Quote_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SyncingToggleAmend</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Syncing</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplaytextForAmend</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Note: &lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;The syncing toggle represents the primary Quote that will sync to the Opportunity. If toggled to Active, this Quote will be used to calculate the Opportunity Amount. Only one quote can be synced with the Opportunity at any given time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save and View Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen used to create new Quote.</description>
        <name>New_Quote</name>
        <label>New Quote</label>
        <locationX>726</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignSelectedCountryAndCurrency_NB</targetReference>
        </connector>
        <fields>
            <name>New_Quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!recordId.Name} {!nextQuoteNumber}</stringValue>
                    </defaultValue>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valid_Through_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>validThruDateDefaultValue</elementReference>
                    </defaultValue>
                    <fieldText>Valid Through Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter today&apos;s date or a future date. Past dated quotes are not supported at this time.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Service_Start_Date} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Term</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>12.0</numberValue>
                    </defaultValue>
                    <fieldText>Term (months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please enter a value between 1-120. Decimal values are not allowed for Term.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND ({!Term} &gt;= 1, {!Term} &lt;= 120, REGEX(TEXT( {!Term} ), &quot;[0-9]+[.]{0,}&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Quote_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quote_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CountryPicklistComponent</name>
                    <extensionName>c:countryPicklistComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>countryLabel</name>
                        <value>
                            <stringValue>Billing Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultCountry</name>
                        <value>
                            <elementReference>recordId.Account.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableCountry</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isHelpTextDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCountryFieldRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedCurrency</name>
                        <value>
                            <elementReference>CurrencyPicklistComponent.selectedCurrency</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryHelpText</name>
                        <value>
                            <elementReference>countryCreateQuoteHelpText</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryOptionsChoice</name>
                        <value>
                            <stringValue>QuotableCountries</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrencyPicklistComponent</name>
                    <extensionName>c:currencyPicklistComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currencyLabel</name>
                        <value>
                            <stringValue>Billing Currency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultCurrency</name>
                        <value>
                            <elementReference>recordId.CurrencyIsoCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableCurrency</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isHelpTextDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isCurrencyFieldRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currencyHelpText</name>
                        <value>
                            <stringValue>Billing Currency is pre-selected from the Opportunity Currency, and cannot be changed once the Quote is created. To change, update the Opportunity Currency.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Quote_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quote_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ViewCountryCurrencyMapping</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://basecamp.salesforce.com/content/techforce-what-is-ask-astro&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Billing Country and Currency Mapping&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>NOT 1</conditionLogic>
                        <conditions>
                            <leftValueReference>SupportedCountriesList</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>CountryPicklistComponent.selectedCountry</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Quote_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quote_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SyncingToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Syncing</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SyncingNote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Note:&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; This toggle annotates the Synced quote. If toggled on, this quote will be used to calculate the Opportunity Amount. Only one quote can be synced with the Opportunity at any given time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save and View Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Error_Validations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Call the subflow to sync quote to opportunity.</description>
        <name>Quote_To_Opportunity_Sync</name>
        <label>Quote To Opportunity Sync</label>
        <locationX>242</locationX>
        <locationY>3938</locationY>
        <connector>
            <targetReference>Navigate_to_Quote_Record</targetReference>
        </connector>
        <flowName>Quote_to_Opportunity_Sync_Subflow</flowName>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>Create_New_Quote_with_Quote_Lines.quoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Error_Validations</name>
        <label>Run Error Validations</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Error_Check</targetReference>
        </connector>
        <flowName>Create_Quote_Error_Validations_Subflow</flowName>
        <inputAssignments>
            <name>opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isError</assignToReference>
            <name>isError</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssignAutoRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultBillingInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingInformation__c</objectType>
    </variables>
    <variables>
        <name>DefaultQuoteNameBasedOnOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBillingCurrencySupported</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>newQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>nextQuoteNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Will store the address details based on Billing Country</description>
        <name>quoteAddressInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>quoteLinesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>Record from where the Screen flow is triggered.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SelectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportedCountriesList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalQuotesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
