unpackaged/post_lotus/flows/ECI_lightning_Dialer_Data_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <choices>
        <name>No_Consent</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Submit for deletion&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Do_records_meet_the_criteria</name>
        <label>Do records meet the criteria?</label>
        <locationX>567</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Consent_Granted_Invalid_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ECI_Data_Retrieval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ECI_Data_Retrieval.CallDurationInSeconds</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_record_for_deletion</targetReference>
            </connector>
            <label>No Consent Granted / Invalid Call</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ECI - lightning Dialer Data Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECI - lightning Dialer Data Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ECI_Data_Retrieval</name>
        <label>ECI Data Retrieval</label>
        <locationX>300</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_records_meet_the_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Run_Delete_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VendorType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Twilio</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Flag_record_for_deletion</name>
        <label>Flag record for deletion</label>
        <locationX>580</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ECI_Data_Retrieval.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Run_Delete_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <screens>
        <name>Delete_Confirmation</name>
        <label>Delete Confirmation</label>
        <locationX>144</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>ECI_Data_Retrieval</targetReference>
        </connector>
        <fields>
            <name>No_consent_was_given_or_the_customer_asked_for_the_call_to_be_deleted</name>
            <choiceReferences>No_Consent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No consent was given or the customer asked for the call to be deleted</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>887</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt;Success&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;! This Record has been queued for Deletion and will be deleted in the next 5 days.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Bring Me Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>Delete_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
