unpackaged/post_lotus/flows/Update_Billing_Info_details_in_Asset_AAS_From_Order_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.ShippingAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.ShippingAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.ShippingAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.ShippingAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.ShippingAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddressName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.ShippingAddressName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddressName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingAddressName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCurrencyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingCurrencyCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingFrequency2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Detail_JSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.Payment_Detail_JSON__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Info_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_Info_Fields</name>
        <label>Update Billing Info Fields</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SecondaryBillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.SecondaryBillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderCustomerPONumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.OrderCustomerPONumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderCustomerPOAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.OrderCustomerPOAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderCustomerPORequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.OrderCustomerPORequired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CustomerTaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.CustomerTaxID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxExemptType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.TaxExemptType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxExemptionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.TaxExemptionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.RenewalTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderPrebillDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.OrderPrebillDays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PaymentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.PaymentTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PaymentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.PaymentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxExemptionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.TaxExemptionReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvoiceDispatchMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.InvoiceDispatchMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.BillingLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AutoRenewCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Details.AutoRenewCode__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Update Billing Info details in Asset/AAS From Order Product</description>
    <environments>Default</environments>
    <interviewLabel>Update Billing Info details in Asset/AAS From Order Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Billing Info details in Asset/AAS From Order Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves OrderItem that is associated to the Asset Action Source Object.</description>
        <name>Get_Order_Product_Details</name>
        <label>Get Order Product Details</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReferenceEntityItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product_Details</targetReference>
        </connector>
        <object>AssetActionSource</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
