unpackaged/post_context/force-app/main/default/flows/Subflow_Twin_Set_Nodes_and_Attributes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Context_Object_to_Order</name>
        <label>Context Object to Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mapping_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Context_Object_to_Order_Line</name>
        <label>Context Object to Order Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mapping_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Context_Object_to_Quote</name>
        <label>Context Object to Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mapping_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Context_Object_to_Quote_Line</name>
        <label>Context Object to Quote Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mapping_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Placeholder</name>
        <label>Placeholder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextAttributeId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quote_Variables</name>
        <label>Quote Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ARC_Variables</name>
        <label>Set ARC Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItemDetail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItemDetail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AssetActionSource_Variables</name>
        <label>Set AssetActionSource Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Variables</name>
        <label>Set Contract Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContractNodeMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Failure</name>
        <label>Set Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_Variables</name>
        <label>Set Order Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderItem_Variables</name>
        <label>Set OrderItem Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderToContract_Variables</name>
        <label>Set OrderToContract Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderToContractSlsTrxnMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Variables</name>
        <label>Set Product Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductDiscoveryMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CategoryProduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Line_Item_Variables</name>
        <label>Set Quote Line Item Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Quali_1_Variables</name>
        <label>Set Quote Quali 1 Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductDiscoveryMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Quali_2_Variables</name>
        <label>Set Quote Quali 2 Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuoteContract_Variables</name>
        <label>Set QuoteContract Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteToContractSlsTrxnMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Context_Definition_VersionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuoteToOrderList</name>
        <label>Set QuoteToOrderList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteToOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OrderEntitiesMapping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MappingLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Tag_to_FieldName</name>
        <label>Set Tag to FieldName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inputFieldTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFieldName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Same_Context_Tag</name>
        <label>Set to Same Context Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inputFieldTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sameContextInputFieldTagName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Contract Needs a Different Tag because in same Context</description>
        <name>Check_if_Attribute_is_in_Same_Context</name>
        <label>Check if Attribute is in Same Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Tag_to_FieldName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contract_and_Order_to_Contract</name>
            <conditionLogic>(2 AND (1 OR 3)) OR (4 AND 5) OR (5 AND 6) OR 6</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToAsset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssetActionSource</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AmendRenewCancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Same_Context_Tag</targetReference>
            </connector>
            <label>Is Contract and Order to Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Attribute_Exist</name>
        <label>Does Attribute Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Attribute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Attribute Not Found</defaultConnectorLabel>
        <rules>
            <name>Attribute_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TypeDecision</targetReference>
            </connector>
            <label>Attribute Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Attribute_Mapping_Exist</name>
        <label>Does Attribute Mapping Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Attribute_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mapping Found</defaultConnectorLabel>
        <rules>
            <name>Attribute_Mapping_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextAttributeMappingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success</targetReference>
            </connector>
            <label>Attribute Mapping Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Node_Exist</name>
        <label>Does Node Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Node</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Node Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Node_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextNodeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Attribute</targetReference>
            </connector>
            <label>Node Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Attribute_Mapping_Already_Exist</name>
        <label>Does the Attribute Mapping Already Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Attribute_Mapping2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Attribute_Mapping_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextAttributeMappingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MappingLoop</targetReference>
            </connector>
            <label>Attribute Mapping Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mapping_Found</name>
        <label>Mapping Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Node_Mapping_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Node_Mapping_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextNodeMappingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Attribute_Mapping_Check</targetReference>
            </connector>
            <label>Node Mapping Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Object_Name</name>
        <label>Set Object Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Mapping_Id2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_to_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MappingLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteEntitiesMapping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Context_Object_to_Quote</targetReference>
            </connector>
            <label>Set to Quote</label>
        </rules>
        <rules>
            <name>Set_to_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MappingLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderEntitiesMapping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Context_Object_to_Order</targetReference>
            </connector>
            <label>Set to Order</label>
        </rules>
        <rules>
            <name>Set_to_Quote_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineToOrderLine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MappingLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteEntitiesMapping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Context_Object_to_Quote_Line</targetReference>
            </connector>
            <label>Set to Quote Line</label>
        </rules>
        <rules>
            <name>Set_to_Order_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineToOrderLine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MappingLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderEntitiesMapping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Context_Object_to_Order_Line</targetReference>
            </connector>
            <label>Set to Order Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Decision</name>
        <label>Source Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Placeholder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Variables</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>OrderToContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderToContract_Variables</targetReference>
            </connector>
            <label>OrderToContract</label>
        </rules>
        <rules>
            <name>Quote_for_Quote_To_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QuoteContract_Variables</targetReference>
            </connector>
            <label>Quote for Quote To Contract</label>
        </rules>
        <rules>
            <name>QuoteLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Line_Item_Variables</targetReference>
            </connector>
            <label>QuoteLineItem</label>
        </rules>
        <rules>
            <name>Quote_Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteQualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Quali_1_Variables</targetReference>
            </connector>
            <label>Quote Qualification 1</label>
        </rules>
        <rules>
            <name>Quote_Qualification_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteQualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Quali_2_Variables</targetReference>
            </connector>
            <label>Quote Qualification 2</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Variables</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Variables</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Variables</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
        <rules>
            <name>Asset_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssetActionSource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AssetActionSource_Variables</targetReference>
            </connector>
            <label>Asset Action</label>
        </rules>
        <rules>
            <name>OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderItem_Variables</targetReference>
            </connector>
            <label>OrderItem</label>
        </rules>
        <rules>
            <name>ARC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ARC_Variables</targetReference>
            </connector>
            <label>ARC</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeDecision</name>
        <label>TypeDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Mapping_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need Context Definitions</defaultConnectorLabel>
        <rules>
            <name>QuoteToOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QuoteToOrderList</targetReference>
            </connector>
            <label>QuoteToOrder</label>
        </rules>
        <rules>
            <name>QuoteLine_to_Order_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineToOrderLine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_QuoteToOrderList</targetReference>
            </connector>
            <label>QuoteLine to Order Line</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmContextObject</name>
        <dataType>String</dataType>
        <expression>CASE({!MappingLoop},&apos;QuoteEntitiesMapping&apos;,&apos;Quote&apos;, &apos;OrderEntitiesMapping&apos;,&apos;Order&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>sameContextInputFieldTagName</name>
        <dataType>String</dataType>
        <expression>IF({!source}=&quot;ARC&quot;, &quot;ARC&quot; &amp; {!inputFieldName},IF({!source} =&apos;AssetActionSource&apos; &amp;&amp; {!twinFieldType}=&apos;&apos;, &quot;D&quot; &amp; {!inputFieldName}, &quot;C&quot; &amp; {!inputFieldName}))</expression>
    </formulas>
    <interviewLabel>Subflow Twin Set Nodes and Attributes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Twin Set Nodes and Attributes</label>
    <loops>
        <name>MappingLoop</name>
        <label>MappingLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>quoteToOrderList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Object_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attribute</name>
        <label>Create Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextAttributeId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_if_Attribute_is_in_Same_Context</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextNodeId</field>
            <value>
                <elementReference>contextNodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataType</field>
            <value>
                <elementReference>inputDataType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldType</field>
            <value>
                <elementReference>inputFieldType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>inputFieldName</elementReference>
            </value>
        </inputAssignments>
        <object>ContextAttribute</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Attribute_Mapping</name>
        <label>Create Attribute Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextAttributeMappingId</assignRecordIdToReference>
        <connector>
            <targetReference>Hydrate_the_Attribute</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeId</field>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextNodeMappingId</field>
            <value>
                <elementReference>contextNodeMappingId</elementReference>
            </value>
        </inputAssignments>
        <object>ContextAttributeMapping</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Attribute_Mapping2</name>
        <label>Create Attribute Mapping2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextAttributeMappingId</assignRecordIdToReference>
        <connector>
            <targetReference>Hydrate2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeId</field>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextNodeMappingId</field>
            <value>
                <elementReference>contextNodeMappingId</elementReference>
            </value>
        </inputAssignments>
        <object>ContextAttributeMapping</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Node</name>
        <label>Create Node</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextNodeId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Attribute</targetReference>
        </connector>
        <inputAssignments>
            <field>ContextDefinitionVersionId</field>
            <value>
                <elementReference>contextDefinitionVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>contextNodeTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContextNode</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Node_Mapping_Id</name>
        <label>Create Node Mapping Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextNodeMappingId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Attribute_Mapping_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextMappingId</field>
            <value>
                <elementReference>contextMappingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextNodeId</field>
            <value>
                <elementReference>contextNodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object</field>
            <value>
                <elementReference>contextObject</elementReference>
            </value>
        </inputAssignments>
        <object>ContextNodeMapping</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tag</name>
        <label>Create Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TypeDecision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeId</field>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>inputFieldTag</elementReference>
            </value>
        </inputAssignments>
        <object>ContextTag</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hydrate2</name>
        <label>Hydrate2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MappingLoop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeMappingId</field>
            <value>
                <elementReference>contextAttributeMappingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectName</field>
            <value>
                <elementReference>contextObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueryAttribute</field>
            <value>
                <elementReference>inputFieldName</elementReference>
            </value>
        </inputAssignments>
        <object>ContextAttrHydrationDetail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Hydrate_the_Attribute</name>
        <label>Hydrate the Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeMappingId</field>
            <value>
                <elementReference>contextAttributeMappingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectName</field>
            <value>
                <elementReference>contextObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueryAttribute</field>
            <value>
                <elementReference>inputFieldName</elementReference>
            </value>
        </inputAssignments>
        <object>ContextAttrHydrationDetail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Attribute</name>
        <label>Get Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Attribute_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputFieldName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextNodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextNodeId</elementReference>
            </value>
        </filters>
        <object>ContextAttribute</object>
        <outputAssignments>
            <assignToReference>contextAttributeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Attribute_Mapping</name>
        <label>Get Attribute Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Attribute_Mapping_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextAttributeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextNodeMappingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextAttributeMappingId</elementReference>
            </value>
        </filters>
        <object>ContextAttributeMapping</object>
        <outputAssignments>
            <assignToReference>contextNodeMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Attribute_Mapping_Check</name>
        <label>Get Attribute Mapping Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Attribute_Mapping_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextAttributeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextNodeMappingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextNodeMappingId</elementReference>
            </value>
        </filters>
        <object>ContextAttributeMapping</object>
        <outputAssignments>
            <assignToReference>contextAttributeMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Context_Definition_VersionId</name>
        <label>Get Context Definition VersionId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Node</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContextDefinitionId</elementReference>
            </value>
        </filters>
        <object>ContextDefinitionVersion</object>
        <outputAssignments>
            <assignToReference>contextDefinitionVersionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Context_Node_Mapping_Id</name>
        <label>Get Context Node Mapping Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextMappingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextMappingId</elementReference>
            </value>
        </filters>
        <object>ContextNodeMapping</object>
        <outputAssignments>
            <assignToReference>contextNodeMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Mapping_Id</name>
        <label>Get Mapping Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Context_Node_Mapping_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextDefinitionVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextMappingTitle</elementReference>
            </value>
        </filters>
        <object>ContextMapping</object>
        <outputAssignments>
            <assignToReference>contextMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Mapping_Id2</name>
        <label>Get Mapping Id2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Node_Mapping2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextDefinitionVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MappingLoop</elementReference>
            </value>
        </filters>
        <object>ContextMapping</object>
        <outputAssignments>
            <assignToReference>contextMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Node</name>
        <label>Get Node</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Node_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextDefinitionVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextNodeTitle</elementReference>
            </value>
        </filters>
        <object>ContextNode</object>
        <outputAssignments>
            <assignToReference>contextNodeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Node_Mapping2</name>
        <label>Get Node Mapping2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attribute_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextMappingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextMappingId</elementReference>
            </value>
        </filters>
        <object>ContextNodeMapping</object>
        <outputAssignments>
            <assignToReference>contextNodeMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contextAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contextAttributeMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextDefinitionVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextMappingTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextNodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextNodeMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contextNodeTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputContextDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputDataType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFieldTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFieldType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>quoteToOrderList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>twinFieldType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
