unpackaged/post_context/force-app/main/default/flows/Subflow_Context_to_Context_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_ARC_Variables</name>
        <label>Set ARC Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItemDetail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextMapTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionToAssetMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceContextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItemDetail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Variables</name>
        <label>Set Asset Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextMapTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetToSalesTransactionMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceContextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Failure</name>
        <label>Set Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_Variables</name>
        <label>Set Contract Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextMapTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContractToSalesTxnMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceContextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Variables</name>
        <label>Set Product Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductDiscoveryMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CategoryProduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextMapTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductDiscoveryContextMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceContextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransactionItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Qualification_Variables</name>
        <label>Set Quote Qualification Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contextMappingTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductDiscoveryMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextNodeTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contextMapTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductDiscoveryContextMapping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceContextObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesTransaction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Attribute_Node_Mapping_Exist</name>
        <label>Does Attribute Node Mapping Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Context_Attribute_Node_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attribute_Node_Mapping_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextAttributeNodeMappingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hydrate</targetReference>
            </connector>
            <label>Attribute Node Mapping Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Node_Exist</name>
        <label>Does Node Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Context_Node</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Node, Create It</defaultConnectorLabel>
        <rules>
            <name>Node_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contextNodeMappingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Attribute_Mapping</targetReference>
            </connector>
            <label>Node Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Decision</name>
        <label>Source Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductToQuoteLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProductToQuoteLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Variables</targetReference>
            </connector>
            <label>ProductToQuoteLineItem</label>
        </rules>
        <rules>
            <name>OrderQuoteToContract</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Variables</targetReference>
            </connector>
            <label>OrderQuoteToContract</label>
        </rules>
        <rules>
            <name>OrderToAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToAsset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Variables</targetReference>
            </connector>
            <label>OrderToAsset</label>
        </rules>
        <rules>
            <name>ARC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AmendRenewCancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ARC_Variables</targetReference>
            </connector>
            <label>ARC</label>
        </rules>
        <rules>
            <name>QuoteQualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>twinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteQualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Qualification_Variables</targetReference>
            </connector>
            <label>QuoteQualification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow Context to Context Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Context to Context Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Context_Attribute_Node_Mapping</name>
        <label>Context Attribute Node Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextAttributeNodeMappingId</assignRecordIdToReference>
        <connector>
            <targetReference>Hydrate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeId</field>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextNodeMappingId</field>
            <value>
                <elementReference>contextNodeMappingId</elementReference>
            </value>
        </inputAssignments>
        <object>ContextAttributeMapping</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Node_Mapping</name>
        <label>Create Node Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contextNodeMappingId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Attribute_Mapping</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextMappingId</field>
            <value>
                <elementReference>contextMappingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextNodeId</field>
            <value>
                <elementReference>contextNodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MappedContextDefinition</field>
            <value>
                <elementReference>inputContextDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object</field>
            <value>
                <elementReference>sourceContextObject</elementReference>
            </value>
        </inputAssignments>
        <object>ContextNodeMapping</object>
    </recordCreates>
    <recordCreates>
        <name>Hydrate</name>
        <label>Hydrate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContextAttributeMappingId</field>
            <value>
                <elementReference>contextAttributeNodeMappingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContextQueryAttribute</field>
            <value>
                <elementReference>inboundProductHydration</elementReference>
            </value>
        </inputAssignments>
        <object>CtxAttrHydrationCtx</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Destination_Map</name>
        <label>Destination Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Context_Node_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextDefinitionVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextMapTitle</elementReference>
            </value>
        </filters>
        <object>ContextMapping</object>
        <outputAssignments>
            <assignToReference>contextMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Attribute_Mapping</name>
        <label>Get Attribute Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Attribute_Node_Mapping_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextAttributeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextAttributeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextNodeMappingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextNodeMappingId</elementReference>
            </value>
        </filters>
        <object>ContextAttributeMapping</object>
        <outputAssignments>
            <assignToReference>contextAttributeNodeMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Context_Node</name>
        <label>Get Context Node</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Node_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceContextObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextDefinitionVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextDefinitionVersionId</elementReference>
            </value>
        </filters>
        <object>ContextNode</object>
        <outputAssignments>
            <assignToReference>contextNodeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Context_Node_Mapping</name>
        <label>Get Context Node Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Node_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceContextObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContextMappingId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextMappingId</elementReference>
            </value>
        </filters>
        <object>ContextNodeMapping</object>
        <outputAssignments>
            <assignToReference>contextNodeMappingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contextAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextAttributeNodeMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextDefinitionVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextMappingTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextMapTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextNodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextNodeMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contextNodeTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationNodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inboundProductHydration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputContextDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputDataType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFieldType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceContextObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>twinFieldType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
