unpackaged/post_context/force-app/main/default/flows/Twin_Field_Manager_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Source_Fields</name>
        <label>Get Source Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InvocableGetFieldNamesByObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ContextFieldsTypes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Object_Loop</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableGetFieldNamesByObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Pricing_To_List</name>
        <label>Add Pricing CD To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>twinManagerSingle.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>twinManagerSingle.CD_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricingContextDefinition.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>twinManagerSingle.Context_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricingContextDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>twinManagerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>twinManagerSingle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricingManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricingContextDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Discovery_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Discovery_to_List</name>
        <label>Add Product Discovery  CD to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>twinManagerSingle.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>twinManagerSingle.CD_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDiscoveryContextDefinition.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>twinManagerSingle.Context_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDiscoveryContextDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>twinManagerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>twinManagerSingle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productDiscoveryMangerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDiscoveryContextDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Manager_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Counter</name>
        <label>Add To Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Object_List_for_Quote_Qualification</name>
        <label>Object List for Quote Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_Attribute_for_Calm</name>
        <label>Set Hydration Attribute for Calm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productAttributeToHydrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_ARC</name>
        <label>Set Hydration for ARC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productAttributeToHydrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_ARC2</name>
        <label>Set Hydration for ARC2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceContextAttributeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_Asset</name>
        <label>Set Hydration for Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceContextAttributeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_Contract</name>
        <label>Set Hydration for Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceContextAttributeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_OrderItem</name>
        <label>Set Hydration for OrderItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productAttributeToHydrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_Product</name>
        <label>Set Hydration for Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productAttributeToHydrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hydration_for_Quote_1_Qualification</name>
        <label>Set Hydration for Quote 1 Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productAttributeToHydrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Object_List_for_Product_to_Quote_Line</name>
        <label>Set Object List for Product to Quote Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Object_List_for_Quote_to_Order</name>
        <label>Set Object List for Quote to Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Object_List_Order_To_Contract</name>
        <label>Set Object List Order To Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Object_List_QuoteLine_to_Order_Line</name>
        <label>Set Object List QuoteLine to Order Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ObjectList_Amend_Renew_Cancel</name>
        <label>Set ObjectList Amend Renew Cancel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OrderItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ARC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ObjectList_for_Order_Item_To_Asset</name>
        <label>Set ObjectList for Order Item To Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OrderItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AssetActionSource</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ObjectList_for_Quote_To_Contract</name>
        <label>Set ObjectList for Quote To Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricing_Context_Id</name>
        <label>Set Pricing CD Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pricingManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manager_Loop.Context_Definition__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Discovery_Id</name>
        <label>Set Product Discovery CD Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productDiscoveryMangerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manager_Loop.Context_Definition__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_2_Qualification_Hydration</name>
        <label>Set Quote 2 Qualification Hydration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceContextAttributeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Line_Hydration</name>
        <label>Set Quote Line Hydration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceContextAttributeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inboundContextAttributeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Pricing_Context</name>
        <label>Set to Pricing CD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>useThisPricingContext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricingManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_for_ARC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Product2_Disco</name>
        <label>Set to Product2 Disco CD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>useThisPricingContext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDiscoveryMangerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_for_ARC</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AmendRenewCancel</name>
        <choiceText>Amend, Renew, Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AmendRenewCancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order</name>
        <choiceText>Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderLine</name>
        <choiceText>Order Line</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderProduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderToAsset</name>
        <choiceText>Order Line Item To Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderToAsset</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderToContract</name>
        <choiceText>Order To Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderToContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product2</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProductToQuoteLineItem</name>
        <choiceText>Product To Quote Line Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProductToQuoteLineItem</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quote</name>
        <choiceText>Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuoteLine</name>
        <choiceText>Quote Line</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QuoteLineItem</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuoteLineToOrderLine</name>
        <choiceText>Quote Line Item To Order Line Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QuoteLineToOrderLine</stringValue>
        </value>
    </choices>
    <choices>
        <name>quoteQualification</name>
        <choiceText>Quote Qualification Mapping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QuoteQualification</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuoteToContract</name>
        <choiceText>Quote To Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QuoteToContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuoteToOrder</name>
        <choiceText>Quote To Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QuoteToOrder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_Records</name>
        <label>Are there Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirm_CDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found Records</defaultConnectorLabel>
        <rules>
            <name>No_Twin_Master</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Twin_Field_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Master_CD_Selection_Screen</targetReference>
            </connector>
            <label>No Twin Master</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Keeping_Default_CDs</name>
        <label>Check If Keeping Default CDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Delete_Twin_Manager_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Get New Ones</defaultConnectorLabel>
        <rules>
            <name>Yes_Keep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Keep_Default_CDs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Loop</targetReference>
            </connector>
            <label>Yes Keep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Context_Mapping_Error</name>
        <label>Context Mapping Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Final_Screen_for_Non_Context_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Error_for_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Rollback</targetReference>
            </connector>
            <label>Error for Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Context_To_Context_Decision</name>
        <label>Context To Context Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Final_Screen_for_Non_Context_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Context_to_Context_Mapping</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductToQuoteLineItem</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderToContract</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteToContract</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderToAsset</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AmendRenewCancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Before_Context_to_Context</targetReference>
            </connector>
            <label>Need Context to Context Mapping</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Qualification_Add_to_Counter</name>
        <label>If Qualification Add to Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Object_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Qualification</defaultConnectorLabel>
        <rules>
            <name>Is_Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteQualification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Counter</targetReference>
            </connector>
            <label>Is Qualification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Decision</name>
        <label>Twin Field Manager Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Product_Discovery_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Discovery</defaultConnectorLabel>
        <rules>
            <name>Pricing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manager_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pricing_Context_Id</targetReference>
            </connector>
            <label>Pricing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Context_Definition</name>
        <label>Set Context Definition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_to_Pricing_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pricing Context Def</defaultConnectorLabel>
        <rules>
            <name>If_Product_or_Qualification_Get_Discovery</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Product2_Disco</targetReference>
            </connector>
            <label>If Product or Qualification Get Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_for_ARC</name>
        <label>Skip for ARC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Source_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ARC_Skip_Field_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nodes_and_Attributes_for_ARC</targetReference>
            </connector>
            <label>If ARC Skip Field Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Cases</name>
        <label>Special Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Qualification_Add_to_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteLine_Loop_and_Product_to_QuoteLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductToQuoteLineItem</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Line_Hydration</targetReference>
            </connector>
            <label>QuoteLine Loop and Product to QuoteLineItem</label>
        </rules>
        <rules>
            <name>Product_Loop_and_Product_to_QuoteLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductToQuoteLineItem</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_Product</targetReference>
            </connector>
            <label>Product Loop and Product to QuoteLineItem</label>
        </rules>
        <rules>
            <name>Hydration_for_CALM</name>
            <conditionLogic>(1 AND 2)OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToAsset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_Attribute_for_Calm</targetReference>
            </connector>
            <label>Hydration for CALM</label>
        </rules>
        <rules>
            <name>Order_To_Contract_Type_Contract</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteToContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_Contract</targetReference>
            </connector>
            <label>Order To Contract Type Contract</label>
        </rules>
        <rules>
            <name>Asset_from_Order_To_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToAsset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssetActionSource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_Asset</targetReference>
            </connector>
            <label>Asset from Order To Asset</label>
        </rules>
        <rules>
            <name>OrderItem_from_Order_to_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderToAsset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_OrderItem</targetReference>
            </connector>
            <label>OrderItem from Order to Asset</label>
        </rules>
        <rules>
            <name>ARC_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AmendRenewCancel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssetActionSource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_ARC</targetReference>
            </connector>
            <label>ARC Case</label>
        </rules>
        <rules>
            <name>ARC_Case_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AmendRenewCancel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Object_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_ARC2</targetReference>
            </connector>
            <label>ARC Case 2</label>
        </rules>
        <rules>
            <name>Quote_1_Loop_for_Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteQualification</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hydration_for_Quote_1_Qualification</targetReference>
            </connector>
            <label>Quote 1 Loop for Qualification</label>
        </rules>
        <rules>
            <name>Quote_2_Loop_for_Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteQualification</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_2_Qualification_Hydration</targetReference>
            </connector>
            <label>Quote 2 Loop for Qualification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_Subflow</name>
        <label>Success Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rollback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subflow Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Context_Definition_Version_Id</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Twin_Field_Decision</name>
        <label>Twin Field Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_QL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductToQuoteLineItem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Object_List_for_Product_to_Quote_Line</targetReference>
            </connector>
            <label>Product-QL</label>
        </rules>
        <rules>
            <name>Quote_to_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteToOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Object_List_for_Quote_to_Order</targetReference>
            </connector>
            <label>Quote to Order</label>
        </rules>
        <rules>
            <name>QuoteLineToOrderLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineToOrderLine</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Object_List_QuoteLine_to_Order_Line</targetReference>
            </connector>
            <label>QuoteLineToOrderLineItem</label>
        </rules>
        <rules>
            <name>Order_To_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderToContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Object_List_Order_To_Contract</targetReference>
            </connector>
            <label>Order To Contract</label>
        </rules>
        <rules>
            <name>Quote_to_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteToContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ObjectList_for_Quote_To_Contract</targetReference>
            </connector>
            <label>Quote to Contract</label>
        </rules>
        <rules>
            <name>OrderToAssetChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrderToAsset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ObjectList_for_Order_Item_To_Asset</targetReference>
            </connector>
            <label>OrderToAssetChoice</label>
        </rules>
        <rules>
            <name>ARC_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AmendRenewCancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ObjectList_Amend_Renew_Cancel</targetReference>
            </connector>
            <label>ARC Decision</label>
        </rules>
        <rules>
            <name>Quote_Quali_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwinFieldType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteQualification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_List_for_Quote_Qualification</targetReference>
            </connector>
            <label>Quote Quali Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>attributeDataType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DataType</picklistField>
        <picklistObject>ContextAttribute</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>attributeFieldType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FieldType</picklistField>
        <picklistObject>ContextAttribute</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Twin Field Manager Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Twin Field Manager Screen Flow</label>
    <loops>
        <name>Manager_Loop</name>
        <label>Twin Field Manager Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Twin_Field_Manager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Manager_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Twin_Field_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Object_Loop</name>
        <label>Object Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>objectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Context_Definition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Context_To_Context_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Manager_Records</name>
        <label>Create Manager Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Twin_Field_Decision</targetReference>
        </connector>
        <inputReference>twinManagerList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Twin_Manager_Records</name>
        <label>Delete Twin Field Manager Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Master_CD_Selection_Screen</targetReference>
        </connector>
        <inputReference>Get_Twin_Field_Manager</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Context_Definition</name>
        <label>Get Context Definition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContextDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Context_Definition_Version_Id</name>
        <label>Get Context Definition Version Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Special_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContextDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>useThisPricingContext</elementReference>
            </value>
        </filters>
        <object>ContextDefinitionVersion</object>
        <outputAssignments>
            <assignToReference>outputContextDefinitionVersionForContextToContext</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Twin_Field_Manager</name>
        <label>Get Twin Field Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Context_Definition</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Twin_Field_Manager__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Check_Before_Context_to_Context</name>
        <label>Check Before Context to Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Context_to_Context</targetReference>
        </connector>
        <fields>
            <name>displayInfoContextToContext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowStyles_Box_Shaded}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Nodes and Attribute Mappings Completed.  Press Continue to Execute Context-Context Mapping.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Context to Context Mapping</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Attributes_and_Nodes_Created</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Confirm_CDs</name>
        <label>Confirm CDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_Keeping_Default_CDs</targetReference>
        </connector>
        <fields>
            <name>cdmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowStyles_Box_Info}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Review your current context definitions for Pricing and Product Discovery.  To change them, select &quot;No&quot; under &quot;Keep Defaults&quot; and click &quot;Continue&quot;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Otherwise, just click &quot;Continue&quot;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingDefaultCDs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Twin_Field_Manager__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Context Definitions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Twin_Field_Manager</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CD_Name__c&quot;,&quot;guid&quot;:&quot;column-0ef6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Title&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;CD Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-ec3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Context_Definition__c&quot;,&quot;guid&quot;:&quot;column-bdca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Context Definition Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Context Definition&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Keep_Default_CDs</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Keep Defaults</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>CD_Selection_Defaults</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>ContextFieldsTypes</name>
        <label>Select Context, Fields and Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nodes_and_Attributes</targetReference>
        </connector>
        <fields>
            <name>Select_Fields_and_Types_for</name>
            <fieldText>{!Object_Loop}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Fields_and_Types_for_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fields</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>{!Object_Loop} Fields</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Source_Fields.fieldNames</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ff9e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;API Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-314e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Data Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedFieldNameAccount</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Fields_and_Types_for_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_Type</name>
                    <choiceReferences>attributeFieldType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>inputoutput</stringValue>
                    </defaultValue>
                    <fieldText>Field Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Data_Type</name>
                    <choiceReferences>attributeDataType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>string</stringValue>
                    </defaultValue>
                    <fieldText>Data Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Field_Selection</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowStyles_Notification_Error}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_for_Non_Context_Mapping</name>
        <label>Final Screen for Non Context Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowStyles_Notification_Success}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Twin Field Mapping Complete!&lt;/strong&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Check your Context Definitions to Confirm&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Twin_Mapping_Complete</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Master_CD_Selection_Screen</name>
        <label>Master CD Selection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Pricing_To_List</targetReference>
        </connector>
        <fields>
            <name>Select_Pricing_Context_Definition</name>
            <fieldText>Select Pricing Context Definition</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Pricing_Context_Definition_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CDPricing</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContextDefinition</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>CDPricing</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Context_Definition</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-06db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;InheritedFrom&quot;,&quot;guid&quot;:&quot;column-1a21&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Inherited From&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>pricingContextDefinition</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_Product_Discovery_Pricing_Definition</name>
            <fieldText>Select Product Discovery Pricing Definition</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Product_Discovery_Pricing_Definition_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CDProductDiscovery</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContextDefinition</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>CDProductDiscovery</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Context_Definition</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-1bdc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;InheritedFrom&quot;,&quot;guid&quot;:&quot;column-2a89&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Inherited From&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>productDiscoveryContextDefinition</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Twin_Field_Decision</name>
        <label>Select Twin Field Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Twin_Field_Decision</targetReference>
        </connector>
        <fields>
            <name>warningNote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowStyles_Notification_Warning}&lt;/span&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(24, 24, 24);&quot;&gt;NOTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;:  Make sure you have created your source and destination fields before using this tool.  Try and use the same API Name and field type for both fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TwinFieldType</name>
            <choiceReferences>ProductToQuoteLineItem</choiceReferences>
            <choiceReferences>QuoteToOrder</choiceReferences>
            <choiceReferences>QuoteLineToOrderLine</choiceReferences>
            <choiceReferences>OrderToContract</choiceReferences>
            <choiceReferences>QuoteToContract</choiceReferences>
            <choiceReferences>OrderToAsset</choiceReferences>
            <choiceReferences>AmendRenewCancel</choiceReferences>
            <choiceReferences>quoteQualification</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProductToQuoteLineItem</defaultSelectedChoiceReference>
            <fieldText>Select Twin Field Mapping Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Move to Field Selection</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Twin_Type</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Attributes_and_Nodes_Created</name>
        <isActive>true</isActive>
        <label>Attributes and Nodes Created</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>CD_Selection_Defaults</name>
        <isActive>true</isActive>
        <label>CD Selection/Defaults</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Field_Selection</name>
        <isActive>true</isActive>
        <label>Field Selection</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Twin_Mapping_Complete</name>
        <isActive>true</isActive>
        <label>Twin Mapping Complete</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Twin_Type</name>
        <isActive>true</isActive>
        <label>Twin Field Category</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Twin_Field_Manager</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Context_to_Context</name>
        <label>Context to Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Context_Mapping_Error</targetReference>
        </connector>
        <flowName>Subflow_Context_to_Context_Mapping</flowName>
        <inputAssignments>
            <name>contextAttributeId</name>
            <value>
                <elementReference>sourceContextAttributeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contextDefinitionVersionId</name>
            <value>
                <elementReference>outputContextDefinitionVersionForContextToContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inboundProductHydration</name>
            <value>
                <elementReference>productAttributeToHydrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputContextDefinitionId</name>
            <value>
                <elementReference>useThisPricingContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFieldName</name>
            <value>
                <elementReference>selectedFieldNameAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>twinFieldType</name>
            <value>
                <elementReference>TwinFieldType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Nodes_and_Attributes</name>
        <label>Nodes and Attributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Twin_Set_Nodes_and_Attributes</flowName>
        <inputAssignments>
            <name>counter</name>
            <value>
                <elementReference>quoteCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputContextDefinitionId</name>
            <value>
                <elementReference>useThisPricingContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputDataType</name>
            <value>
                <elementReference>Data_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFieldName</name>
            <value>
                <elementReference>selectedFieldNameAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFieldType</name>
            <value>
                <elementReference>Field_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source</name>
            <value>
                <elementReference>Object_Loop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>twinFieldType</name>
            <value>
                <elementReference>TwinFieldType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>inboundContextAttributeId</assignToReference>
            <name>contextAttributeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>inboundContextNodeMappingId</assignToReference>
            <name>contextNodeMappingId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Nodes_and_Attributes_for_ARC</name>
        <label>Nodes and Attributes for ARC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Twin_Set_Nodes_and_Attributes</flowName>
        <inputAssignments>
            <name>inputContextDefinitionId</name>
            <value>
                <elementReference>useThisPricingContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputDataType</name>
            <value>
                <elementReference>Data_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFieldName</name>
            <value>
                <elementReference>selectedFieldNameAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFieldType</name>
            <value>
                <elementReference>Field_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source</name>
            <value>
                <elementReference>Object_Loop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>twinFieldType</name>
            <value>
                <elementReference>TwinFieldType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>inboundContextAttributeId</assignToReference>
            <name>contextAttributeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>inboundContextNodeMappingId</assignToReference>
            <name>contextNodeMappingId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contextName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>destinationContextDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContextDefinition</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inboundContextAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inboundContextNodeMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nodeTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputContextDefinitionVersionForContextToContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricingContextDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContextDefinition</objectType>
    </variables>
    <variables>
        <name>pricingManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productAttributeToHydrate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productDiscoveryContextDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContextDefinition</objectType>
    </variables>
    <variables>
        <name>productDiscoveryMangerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sdDataType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdFieldType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDestinationContextDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContextDefinition</objectType>
    </variables>
    <variables>
        <name>selectedFieldNameAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>selectedSourceContextDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContextDefinition</objectType>
    </variables>
    <variables>
        <name>sourceContextAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>twinManagerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Twin_Field_Manager__c</objectType>
    </variables>
    <variables>
        <name>twinManagerSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Twin_Field_Manager__c</objectType>
    </variables>
    <variables>
        <name>useThisPricingContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
