unpackaged/post_large_stx/flows/RLM_Submit_Order_on_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assetize_Order</name>
        <label>Assetize Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createOrUpdateAssetFromOrder</actionName>
        <actionType>createOrUpdateAssetFromOrder</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrder</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Order</name>
        <label>Submit Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submitOrder</actionName>
        <actionType>submitOrder</actionType>
        <connector>
            <targetReference>Assetize_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submitOrder</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if the order has an AppUsageType of RevenueLifecycleManagement before calling Order-to-Asset. Otherwise do nothing.</description>
        <name>IsRevenueLifecycleManagement</name>
        <label>Is RevenueLifecycleManagement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Record is not RevenueLifecycleManagement</defaultConnectorLabel>
        <rules>
            <name>RecordIsRevenueLifecycleManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ApplicationUsageAssignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Large_Deal</targetReference>
            </connector>
            <label>Record is RevenueLifecycleManagement</label>
        </rules>
    </decisions>
    <decisions>
        <description>Large Sales Transaction override: skip DRO Submit Order for large deals (order line count exceeds the DRO guardrail of 1000 order items). Large deals are still assetized. Submit Order runs only for non-large deals.</description>
        <name>Is_Large_Deal</name>
        <label>Is Large Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Submit_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Large Deal</defaultConnectorLabel>
        <rules>
            <name>Order_Is_Large_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsLargeDeal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assetize_Order</targetReference>
            </connector>
            <label>Order Is Large Deal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RLM Submit Order on Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Submit Order on Activation</label>
    <overriddenFlow>revenue_o2aflows__o2aFlow</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get ApplicationUsageAssignment from the updated order.</description>
        <name>Get_ApplicationUsageAssignment</name>
        <label>Get ApplicationUsageAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRevenueLifecycleManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RevenueLifecycleManagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AppUsageAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_ApplicationUsageAssignment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
