unpackaged/post_agents/flows/Add_QuoteLineItem_to_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PlaceSalesTransaction</name>
        <label>PlaceSalesTransaction</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <connector>
            <targetReference>Populate_Output_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>Graph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Pricebook_Id_Variable</name>
        <label>Assign Pricebook Id Variable</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_PricebookId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Graph</name>
        <label>Create Graph</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Graph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecordReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlaceSalesTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Quote_Line</name>
        <label>Create New Quote Line</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>QuoteIdRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteIdRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PricebookEntryId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookIdRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookIdRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLine_Record_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_QuoteLine_Record_Reference</name>
        <label>Create QuoteLine Record Reference</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteIdRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookIdRMW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Graph</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Output_Message</name>
        <label>Populate Output Message</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputMessageFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Use_Opportunity_Pricebook</name>
        <label>Use Opportunity Pricebook</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Quote_Pricebook</name>
        <label>Use Quote Pricebook</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Check for Quote Pricebook</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_PricebookId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook Set</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Quote_Pricebook</targetReference>
            </connector>
            <label>Quote Has Pricebook Specified</label>
        </rules>
        <rules>
            <name>Outcome_2_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Opportunity_Pricebook</targetReference>
            </connector>
            <label>Opportunity Has Pricebook Specified</label>
        </rules>
    </decisions>
    <description>This action creates a new QuoteLineItem record and adds it to an existing Quote.</description>
    <environments>Default</environments>
    <formulas>
        <name>OutputMessageFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Quote Line Item Added to &quot; + {!Get_Quote_Details.Name} + &quot;. Subtotal is now &quot; + TEXT({!Get_Quote_Details.Subtotal}) + &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>Add QuoteLineItem to Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add QuoteLineItem to Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductSellingModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Selling_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Selling_Model</name>
        <label>Get Product Selling Model</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_5.ProductSellingModelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductSellingModel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_5</name>
        <label>Get Default Product Selling Model Option</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Selling_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProduct.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductSellingModelOption</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PricebookId</name>
        <label>Get Standard Pricebook Id</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pricebook_Id_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Graph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates success of error of the action.</description>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PricebookEntryRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookIdRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The product Id for the product to be added to the quote.</description>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The quantity of the product to be added to the quote line. If no quantity is provided, default to 1.</description>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The quote Id of the quote record to be modified.</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteIdRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
