unpackaged/post_agents/flows/Add_Discount_to_QuoteLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call the PlaceSalesTransaction Invocable Action in order to apply a discount to the quote.</description>
        <name>PlaceSalesTransactionCall</name>
        <label>PlaceSalesTransactionCall</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <connector>
            <targetReference>Get_QuoteLineItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>PSTGraph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Create Quote Record Reference to be used within the Graph Apex-defined type, as an input to the PlaceSalesTransaction IA.</description>
        <name>Assign_Quote_Values</name>
        <label>Assign Quote Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Graph_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign new QuoteLineItem fields by populating the RecordMapWrappers and create QuoteLineItem Record Reference to be used within the Graph Apex-defined type, as an input to the PlaceSalesTransaction IA.</description>
        <name>Assign_QuoteLineItem_Values</name>
        <label>Assign QuoteLineItem Values</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>DiscountRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscountRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DiscountRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Quote_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values for the Graph Apex-defined type as an input to the PlaceSalesTransaction IA.</description>
        <name>Create_Graph_Input</name>
        <label>Create Graph Input</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlaceSalesTransactionCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Indicate failure through an output message.</description>
        <name>Failure_Message</name>
        <label>Failure Message</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount was not successfully applied.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Indicate success through an output message.</description>
        <name>Output_Message</name>
        <label>Output Message</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount successfully applied. </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Validate if the discount has been applied successfully to the quote.</description>
        <name>Validate_Success</name>
        <label>Validate Success</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Discount_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteLineItem.Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DiscountPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Message</targetReference>
            </connector>
            <label>Discount Applied</label>
        </rules>
    </decisions>
    <description>This action is used to apply discount percentage to the quote line by updating the DiscountPercentage field on the QuoteLineItem record on a Quote record. It accepts DiscountPercentage, Quote Id, and QuoteLineItem Id as required input.</description>
    <environments>Default</environments>
    <interviewLabel>Add Discount to QuoteLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Discount to QuoteLineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the quote line item in order to validate that the discount has been applied successfully.</description>
        <name>Get_QuoteLineItem</name>
        <label>Get QuoteLineItem</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_QuoteLineItem_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The discount percentage that should be applied to the QuoteLineItem. The input should be a number with up to 2 decimals. Maximum value is 100.</description>
        <name>DiscountPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify QuoteLineItem.Discount field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>DiscountRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Defines the output message based on the new QuoteLineItem and updated Quote subtotal.</description>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Assign values for the Graph Apex-defined type as an input to the PlaceSalesTransaction IA.</description>
        <name>PSTGraph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Quote Id of the quote record upon which this action acts.</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>QuoteLineItem Id of the quote line item record upon which this action acts. This is not the Product2 Id.</description>
        <name>QuoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordReference for QuoteLineItem to be modified. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>QuoteLineRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordReference for Quote to be modified. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>QuoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
