unpackaged/post_agents/flows/Create_Amendment_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>call RLM initiate amendment action</description>
        <name>Create_Amendment_Quote</name>
        <label>Create Amendment Quote</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <actionName>initiateAmendment</actionName>
        <actionType>initiateAmendment</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amendAssetIds</name>
            <value>
                <elementReference>varAssetIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendStartDate</name>
            <value>
                <elementReference>AmendmentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityChange</name>
            <value>
                <elementReference>QuantityChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendOutputType</name>
            <value>
                <elementReference>AmendmentOutputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendOpportunityId</name>
            <value>
                <elementReference>AmendmentOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendContractId</name>
            <value>
                <elementReference>Find_Contract.ContractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateAmendment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AmendmentQuoteId</assignToReference>
            <name>amendRecordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass</name>
        <label>ass</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varAssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>02iSB000000A7I6YAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>02iSB000000A7ICYA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Amend_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpportunityId</name>
        <label>Assign OpportunityId</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AmendmentOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Amend_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Asset_ID</name>
        <label>Get Asset ID</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>assetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assets</targetReference>
        </connector>
    </assignments>
    <description>This can be used to create an amendment quote and a related amendment opportunity on an account with active assets.</description>
    <environments>Default</environments>
    <interviewLabel>Create Amendment Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Amendment Quote</label>
    <loops>
        <name>Assets</name>
        <label>Assets</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>varAssetIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Asset_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Amend_Opportunity</name>
        <label>Create Amend Opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>AssignOpportunityId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AmendmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Amendment Opportunity for New Amend Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Amendment_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContractRelationship</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The account on which to create the amendment opportunity and quote.</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Effective start date of the amendment, to be specified in YYYY-MM-DD format. If not provided, this will default to today’s date.</description>
        <name>AmendmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>The ID of the Opportunity record to be synced with the amendment quote.</description>
        <name>AmendmentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type of amendment record to create. Specify the output of the amendment action as either &quot;Quote&quot; or &quot;Order&quot;. This flow is used to create Amendment Quotes, so it defaults to Quote.</description>
        <name>AmendmentOutputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <description>The quote Id being returned. If this is null, the action has failed.</description>
        <name>AmendmentQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Asset1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>02iSB000000A7I4YAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Quantity to add to or reduce from the asset&apos;s existing quantity.</description>
        <name>QuantityChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The IDs of the assets that you want to amend.</description>
        <name>varAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
