unpackaged/post_agents/flows/Create_New_Business_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PlaceSalesTransaction_IA</name>
        <label>PlaceSalesTransaction IA</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>PST_Graph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>QuoteId</assignToReference>
            <name>salesTransactionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Quote_Fields</name>
        <label>Assign Quote Fields</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>QuoteNameRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNameRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedQuoteName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCityRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingCity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCityRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCountryRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingCountry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCountryRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToNameRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToNameRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStateProvinceRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingState</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStateProvinceRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStreetRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingStreet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStreetRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPostalCodeRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingPostalCode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPostalCodeRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCityRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingCity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCityRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCountryRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingCountry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCountryRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToNameRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToNameRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStateProvinceRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingState</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStateProvinceRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStreetRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingStreet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStreetRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToPostalCodeRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingPostalCode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToPostalCodeRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Record_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Quote_Number</name>
        <label>Calculate Quote Number</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>QuoteNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quotes_on_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Price_Book_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Graph</name>
        <label>Create Graph</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>PST_Graph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PST_Graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlaceSalesTransaction_IA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Quote_Record_Reference</name>
        <label>Create Quote Record Reference</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteNameRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToCityRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToCountryRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToNameRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToPostalCodeRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToStateProvinceRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToStreetRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToCityRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToCountryRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToNameRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToPostalCodeRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToStateProvinceRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToStreetRMW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Graph</targetReference>
        </connector>
    </assignments>
    <description>This action can be used to create a new business quote from an opportunity. It takes in an OpportunityID and Products as required inputs, and returns a Quote Id. Optional inputs include the quote name and pricebook.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedQuoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Quote &quot; + TEXT({!QuoteNumber}) + &quot; for &quot; + {!Get_Opportunity_Details.Name}</expression>
    </formulas>
    <interviewLabel>Create New Business Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Business Quote from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quotes_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Id</name>
        <label>Get Price Book Id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes_on_Opportunity</name>
        <label>Get Quotes on Opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Quote_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BillToCityRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToCountryRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToNameRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToPostalCodeRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToStateProvinceRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToStreetRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>This is the Opportunity record ID needed to create a new business quote.</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the pricebook. If left blank, will default to the standard pricebook, so this is an optional input.</description>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard Price Book</stringValue>
        </value>
    </variables>
    <variables>
        <name>PricebookRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PST_Graph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the quote id of the quote record that this Action has created.</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is an optional input for the user to specify the quote&apos;s name. It can be ignored if the user hasn&apos;t specified a quote name explicitly.</description>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CalculatedQuoteName</elementReference>
        </value>
    </variables>
    <variables>
        <name>QuoteNameRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <apexClass>RevSalesTrxn__Record</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToCityRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToCountryRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToNameRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToPostalCodeRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToStateProvinceRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToStreetRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
