unpackaged/post_agents/flows/FlowPST_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PST</name>
        <label>PST</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pricingPref</name>
            <value>
                <stringValue>force</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>graph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>QuoteLineAssign</name>
        <label>QuoteLineAssign</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>RecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>80</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0Q0SB0000008ems0AA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordReference.record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0Q0SB0000008ems0AA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>graph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecord.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0QLSB000000GpUn4AK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0QLSB000000GpUn4AK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecordReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PST</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FlowPST-Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowPST-Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QuoteLineAssign</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>graph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecord</name>
        <apexClass>RevSalesTrxn__Record</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <apexClass>RevSalesTrxn__Record</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
