unpackaged/post_agents/flows/HardCode_Create_New_Business_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PlaceSalesTransactionCall</name>
        <label>PlaceSalesTransactionCall</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pricingPref</name>
            <value>
                <stringValue>System</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>configurationMethod</name>
            <value>
                <stringValue>Skip</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>Graph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>QuoteAssign</name>
        <label>QuoteAssign</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>QuoteNameRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNameRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DemoCalculatedQuoteNameTest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpptyRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpptyRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006SB000009t5I8YAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01sSB000007uZBxYAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteNameRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpptyRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookRMW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Graph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Graph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlaceSalesTransactionCall</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create New Business Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HardCode - Create New Business Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QuoteAssign</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Graph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecord</name>
        <apexClass>RevSalesTrxn__Record</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteNameRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <apexClass>RevSalesTrxn__Record</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
