unpackaged/post_agents/flows/RLM_AI_Get_Product_Attribute_Options.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallGetAttributeOptions</name>
        <label>Call Get Attribute Options</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_ProductAttributeService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteLineItemId</name>
            <value>
                <elementReference>quoteLineItemId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_ProductAttributeService</nameSegment>
        <outputParameters>
            <assignToReference>productName</assignToReference>
            <name>productName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>attributesJson</assignToReference>
            <name>attributesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasConfigurableAttributes</assignToReference>
            <name>hasConfigurableAttributes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>attributeSummary</assignToReference>
            <name>attributeSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasConfigurableAttributes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Retrieves configurable attribute definitions for any product via the PCM API. Product-agnostic. Backing flow for the Get_Product_Attribute_Options GenAiFunction.</description>
    <interviewLabel>Get Product Attribute Options {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Product Attribute Options</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallGetAttributeOptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attributesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>attributeSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasConfigurableAttributes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
