unpackaged/post_agents/flows/RLM_AI_Confirm_Product_Configuration_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetSavedAttributes</name>
        <label>Get Saved Attributes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_ProductAttributeReadService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteLineItemId</name>
            <value>
                <elementReference>quoteLineItemId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_ProductAttributeReadService</nameSegment>
        <outputParameters>
            <assignToReference>configurationSummary</assignToReference>
            <name>configurationSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignSuccess</name>
        <label>Assign Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineItemIdOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteIdOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Reads all currently persisted QuoteLineItemAttribute records for a QuoteLineItem and returns a human-readable configuration summary. Backing flow for Confirm_Product_Configuration_Summary GenAiFunction (no additional persistence step).</description>
    <interviewLabel>Confirm Product Configuration Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirm Product Configuration Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSavedAttributes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>configurationSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteIdOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemIdOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
