unpackaged/post_agents/flows/RLM_AI_Get_Quote_Line_Attributes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ReadLineAttributes</name>
        <label>Read Quote Line Attributes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_QuoteLineAttributeService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteLineItemId</name>
            <value>
                <elementReference>quoteLineItemId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_QuoteLineAttributeService</nameSegment>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasAttributes</assignToReference>
            <name>hasAttributes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>productName</assignToReference>
            <name>productName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>attributesJson</assignToReference>
            <name>attributesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>attributeSummary</assignToReference>
            <name>attributeSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Reads the attributes already set on a quote line (QuoteLineItemAttribute) with current values and valid picklist options. Backing flow for the Get_Quote_Line_Attributes action. Read-only.</description>
    <interviewLabel>Get Quote Line Attributes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Quote Line Attributes</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReadLineAttributes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attributesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>attributeSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasAttributes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
