unpackaged/post_agents/flows/RLM_AI_Configure_Product_Attributes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SaveAttributes</name>
        <label>Save Attributes via PST (Config + Pricing)</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_ProductAttributeSaveService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckSaveSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignFaultError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineItemId</name>
            <value>
                <elementReference>quoteLineItemId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attributeSelectionsJson</name>
            <value>
                <elementReference>attributeSelectionsJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_ProductAttributeSaveService</nameSegment>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isValid</assignToReference>
            <name>isValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>savedAttributesJson</assignToReference>
            <name>savedAttributesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>validationErrorsJson</assignToReference>
            <name>validationErrorsJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignFaultError</name>
        <label>Assign Fault Error</label>
        <locationX>528</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignSaveFailed</name>
        <label>Assign Save Failed</label>
        <locationX>352</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckSaveSuccess</name>
        <label>PST Save Succeeded?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GetUpdatedPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>SaveFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSaveFailed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Saves product attribute selections via the Place Sales Transaction (PST) Apex API, which atomically saves attributes, re-evaluates BOM bundle rules, and runs full pricing. Backing flow for Configure_Product_Attributes GenAiFunction.</description>
    <interviewLabel>Configure Product Attributes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure Product Attributes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuoteGrandTotal</name>
        <label>Get Quote Grand Total</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>grandTotal</assignToReference>
            <field>GrandTotal</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>lineItemCount</assignToReference>
            <field>LineItemCount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quoteSubtotal</assignToReference>
            <field>Subtotal</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedPrice</name>
        <label>Get Updated Quote Line Price</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuoteGrandTotal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteLineItemId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputAssignments>
            <assignToReference>listPrice</assignToReference>
            <field>ListPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>totalPrice</assignToReference>
            <field>TotalPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>unitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SaveAttributes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attributeSelectionsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>grandTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lineItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>listPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteSubtotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>savedAttributesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>unitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>validationErrorsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
