unpackaged/post_agents/flows/RLM_AI_Update_Record_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UpdateFields</name>
        <label>Update Record Fields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_UpdateRecordFieldsService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <elementReference>sObjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldUpdatesJson</name>
            <value>
                <elementReference>fieldUpdatesJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineItemIds</name>
            <value>
                <elementReference>quoteLineItemIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>applyToAll</name>
            <value>
                <elementReference>applyToAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedDisplayNumbersJson</name>
            <value>
                <elementReference>selectedDisplayNumbersJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingSelectionJsonIn</name>
            <value>
                <elementReference>pendingSelectionJsonIn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reprice</name>
            <value>
                <elementReference>reprice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_UpdateRecordFieldsService</nameSegment>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>updatedCount</assignToReference>
            <name>updatedCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultsDisplay</assignToReference>
            <name>resultsDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>needsDisambiguation</assignToReference>
            <name>needsDisambiguation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateQuoteLineSummariesDisplay</assignToReference>
            <name>candidateQuoteLineSummariesDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>pendingSelectionJsonOut</assignToReference>
            <name>pendingSelectionJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Wrapper flow for Update_Record_Fields GenAiFunction. Updates any editable field on a quote or quote line via direct USER_MODE DML so values stick.</description>
    <interviewLabel>Update Record Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Record Fields</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applyToAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>candidateQuoteLineSummariesDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fieldUpdatesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>needsDisambiguation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pendingSelectionJsonIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pendingSelectionJsonOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reprice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultsDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDisplayNumbersJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedCount</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
