unpackaged/post_agents/flows/RLM_AI_Apply_Quote_Line_Discounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApplyDiscounts</name>
        <label>Apply Discount To Quote Lines</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_ApplyQuoteLineDiscountsService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>discountMode</name>
            <value>
                <elementReference>discountMode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>discountPercentage</name>
            <value>
                <elementReference>discountPercentage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPrice</name>
            <value>
                <elementReference>targetPrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPercentOfList</name>
            <value>
                <elementReference>targetPercentOfList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>applyToAll</name>
            <value>
                <elementReference>applyToAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedDisplayNumbersJson</name>
            <value>
                <elementReference>selectedDisplayNumbersJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingSelectionJson</name>
            <value>
                <elementReference>pendingSelectionJsonIn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLineItemIds</name>
            <value>
                <elementReference>quoteLineItemIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_ApplyQuoteLineDiscountsService</nameSegment>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>appliedCount</assignToReference>
            <name>appliedCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultsDisplay</assignToReference>
            <name>resultsDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>needsDisambiguation</assignToReference>
            <name>needsDisambiguation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateSummariesDisplay</assignToReference>
            <name>candidateSummariesDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>pendingSelectionJsonOut</assignToReference>
            <name>pendingSelectionJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Resolves and validates target quote lines from high-level targeting, then loops the managed discount action server-side. Backing flow for the Apply_Discount_To_Quote_Lines GenAiFunction.</description>
    <interviewLabel>Apply Quote Line Discounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Quote Line Discounts</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ApplyDiscounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appliedCount</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applyToAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>candidateSummariesDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>discountMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountPercentage</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>needsDisambiguation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pendingSelectionJsonIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pendingSelectionJsonOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultsDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDisplayNumbersJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetPercentOfList</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetPrice</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
