unpackaged/post_agents/flows/RLM_AI_Get_Quote_Record_Card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Looks up a Quote record by ID so Agentforce can render it as a native record card. The detailLevel input selects the card SHAPE: "summary" (default) returns a lean executive card (name, status, and the three key money fields: Subtotal, Applied Discount, Grand Total); "full" returns a rich card with account/opportunity, line count, dates, and owner. A native record card renders exactly the fields the lookup queries, so the two lookups define the two shapes.</description>
    <interviewLabel>Get Quote Record Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Quote Record Card</label>
    <processType>AutoLaunchedFlow</processType>
    <decisions>
        <name>Choose_Shape</name>
        <label>Choose Shape</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>GetQuoteSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Summary (default)</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>detailLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuoteFull</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>GetQuoteSummary</name>
        <label>Get Quote (Summary)</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <outputReference>quoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>AppliedDiscountAmount</queriedFields>
        <queriedFields>GrandTotal</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteFull</name>
        <label>Get Quote (Full)</label>
        <locationX>302</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <outputReference>quoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>QuoteNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>QuoteAccountId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>LineItemCount</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>AppliedDiscountAmount</queriedFields>
        <queriedFields>GrandTotal</queriedFields>
        <queriedFields>ExpirationDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Shape</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>detailLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>summary</stringValue>
        </value>
    </variables>
    <variables>
        <name>quoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
