unpackaged/post_agents/flows/RLM_AI_Get_QuoteLineItem_from_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LookupQuoteLineItem</name>
        <label>Lookup QuoteLineItem by Product Name</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_QuoteLineItemLookupService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoSelectThresholdPercent</name>
            <value>
                <elementReference>autoSelectThresholdPercent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_QuoteLineItemLookupService</nameSegment>
        <outputParameters>
            <assignToReference>quoteLineItemId</assignToReference>
            <name>quoteLineItemId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>productNameFound</assignToReference>
            <name>productNameFound</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isFound</assignToReference>
            <name>isFound</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>matchConfidencePercent</assignToReference>
            <name>matchConfidencePercent</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>needsDisambiguation</assignToReference>
            <name>needsDisambiguation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateProductNamesJson</assignToReference>
            <name>candidateProductNamesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateProducts</assignToReference>
            <name>candidateProducts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateQuoteLineItems</assignToReference>
            <name>candidateQuoteLineItems</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateQuoteLineSummariesJson</assignToReference>
            <name>candidateQuoteLineSummariesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateQuoteLineSummariesDisplay</assignToReference>
            <name>candidateQuoteLineSummariesDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>isFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Looks up a QuoteLineItem on a given Quote by scored product-name matching. Auto-selects high-confidence matches and returns disambiguation candidates when confidence is below threshold. Backing flow for the Get_QuoteLineItem_from_Quote GenAiFunction.</description>
    <interviewLabel>Get QuoteLineItem from Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get QuoteLineItem from Quote</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LookupQuoteLineItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>autoSelectThresholdPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>candidateQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>candidateQuoteLineSummariesDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateQuoteLineSummariesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>candidateProductNamesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>matchConfidencePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>needsDisambiguation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productNameFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
