unpackaged/post_agents/flows/RLM_AI_Add_Product_To_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddProduct</name>
        <label>Add Product To Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RLM_AI_AddProductToQuoteService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>AssignError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_AI_AddProductToQuoteService</nameSegment>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>quoteLineItemId</assignToReference>
            <name>quoteLineItemId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>productNameAdded</assignToReference>
            <name>productNameAdded</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>quantityAdded</assignToReference>
            <name>quantityAdded</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sellingModelName</assignToReference>
            <name>sellingModelName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lineSummaryDisplay</assignToReference>
            <name>lineSummaryDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>needsDisambiguation</assignToReference>
            <name>needsDisambiguation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>candidateSummariesDisplay</assignToReference>
            <name>candidateSummariesDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Resolves a product and its default selling model, then invokes the managed add-line action to add it to a quote in one call. Backing flow for the Add_Product_To_Quote GenAiFunction.</description>
    <interviewLabel>Add Product To Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Product To Quote</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AddProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>candidateSummariesDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lineSummaryDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>needsDisambiguation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productNameAdded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quantityAdded</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sellingModelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
