unpackaged/post_approvals/flows/RC_Quote_Smart_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>directorGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Director</stringValue>
        </value>
    </constants>
    <constants>
        <name>managerGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </constants>
    <decisions>
        <description>fff</description>
        <name>Requires_Approval</name>
        <label>Requires Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Requires_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Approval_Level_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Rejected</name>
        <label>Was Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status_to_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rejectedQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <description>This will use Smart Approvals and will also use Agentforce to send the Body of the approval email</description>
    <environments>Default</environments>
    <formulas>
        <description>, {!Manager_Approver.Outputs.approvalDecision} == &quot;Approve&quot;)
{!QueryApprovalData.Outputs.DiscountApprovalLevel}  == 1
,
     OR(
          ISBLANK({!Director_Approver.Outputs.approvalDecision}),
           {!Director_Approver.Status} = &quot;NotStarted&quot;
     )

IF(AND({!Manager_Approver.Outputs.approvalDecision} == &quot;Approve&quot;), TRUE, FALSE)</description>
        <name>fmlExitStage1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
     OR(
          ISBLANK({!Manager_Approver.Outputs.approvalDecision}),
          {!Manager_Approver.Status} = &quot;NotStarted&quot;
     )
)</expression>
    </formulas>
    <formulas>
        <name>fmlManagerApproval</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!QueryApprovalData.Outputs.DiscountApprovalLevel}== 1, {!Manager_Approver.Outputs.approvalDecision} == &apos;Approve&apos;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>rejectedQuote</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS({!Manager_Approver.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!Director_Approver.Outputs.approvalDecision}, &quot;Reject&quot;)
)</expression>
    </formulas>
    <interviewLabel>RC Quote Smart Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC Quote Smart Approval</label>
    <orchestratedStages>
        <name>Query_Quote_for_Approval_Criteria</name>
        <label>Query Quote for Approval Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requires_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Call another Auto-Launch Flow to get the criteria from the Quote. This data will be used as the criteria for the approval steps</description>
            <name>QueryApprovalData</name>
            <actionName>RC_Quote_Approval_Data</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>QueryApprovalData</label>
            <outputConfigParams>
                <name>DiscountApprovalLevel</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>gg</description>
        <name>Quote_Approval_Level_1</name>
        <label>Quote Approval Level 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Rejected</targetReference>
        </connector>
        <exitConditionLogic>(1 AND 2) OR (2 AND 3 AND 4) OR 5</exitConditionLogic>
        <exitConditions>
            <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>2.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>Manager_Approver.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <numberValue>2.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>Director_Approver.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>rejectedQuote</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Set_Quote_Approval_Status_Pending</name>
            <actionName>RC_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Pending</stringValue>
                </value>
            </inputParameters>
            <label>Set Quote Approval Status Pending</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Manager_Approver</name>
            <actionName>RC_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Manager</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Manager Approver</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Director_Approver</name>
            <actionName>RC_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Director</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Manager_Approver.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Director Approver</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_Status_to_Approved</name>
        <label>Update Quote Status to Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_to_Approved</name>
            <actionName>RC_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <label>Set to Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_Status_to_Rejected</name>
        <label>Update Quote Status to Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_to_Rejected</name>
            <actionName>RC_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Set to Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>SendNoApproverEmails</name>
        <value>
            <stringValue>false</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Quote_for_Approval_Criteria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscountApprovalLevelxx</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
