unpackaged/post_approvals/flows/RLM_Quote_Approval_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Apply_Approval_Config</name>
        <label>Apply Approval Config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DiscountApprovalLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountApprovalLevelGated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginApprovalLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarginApprovalLevelGated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentTermsGated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DiscountApprovalLevelGated</name>
        <dataType>Number</dataType>
        <expression>IF({!DiscountChainEnabled} = false, 0, {!DiscountApprovalLevel})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MarginApprovalLevelGated</name>
        <dataType>Number</dataType>
        <expression>IF({!MarginChainEnabled} = false, 0, {!MarginApprovalLevel})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PaymentTermsGated</name>
        <dataType>String</dataType>
        <expression>IF({!FinanceChainEnabled} = false, "Net 30", {!PaymentTerms})</expression>
    </formulas>
    <interviewLabel>RLM Quote Approval Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Quote Approval Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Config</name>
        <label>Get Approval Config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <description>Reads RLM_Approval_Config__mdt.Default only — this is the single, hardcoded routing-toggle record; any other record deployed under this CMDT type is never read. Do NOT flip assignNullValuesIfNoRecordsFound to true: a missing/undeployed Default record must fail OPEN (every chain stays enabled via the true defaults on DiscountChainEnabled/MarginChainEnabled/FinanceChainEnabled below), never fail closed.</description>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apply_Approval_Config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RLM_Approval_Config__mdt</object>
        <outputAssignments>
            <assignToReference>DiscountChainEnabled</assignToReference>
            <field>RLM_Discount_Chain_Enabled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MarginChainEnabled</assignToReference>
            <field>RLM_Margin_Chain_Enabled__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinanceChainEnabled</assignToReference>
            <field>RLM_Finance_Chain_Enabled__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Data</name>
        <label>Get Quote Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>QuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalActionType</assignToReference>
            <field>OriginalActionType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DiscountApprovalLevel</assignToReference>
            <field>RLM_Approval_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MarginApprovalLevel</assignToReference>
            <field>RLM_Margin_Approval_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PaymentTerms</assignToReference>
            <field>RLM_Payment_Terms__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscountApprovalLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DiscountChainEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinanceChainEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MarginApprovalLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MarginChainEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OriginalActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
