unpackaged/post_approvals/flows/RLM_Quote_Smart_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>directorGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Director</stringValue>
        </value>
    </constants>
    <constants>
        <name>managerGroupName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Requires_Approval</name>
        <label>Requires Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status_to_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Requires_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueryApprovalData.Outputs.PaymentTerms</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Net 30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Approval_Level_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Rejected</name>
        <label>Was Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status_to_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rejectedQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <description>This will use Smart Approvals and will also use Agentforce to send the Body of the approval email</description>
    <environments>Default</environments>
    <formulas>
        <name>rejectedQuote</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS({!Manager_Approver.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!Director_Approver.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!VP_Approver.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!Payment_Terms.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!Margin_Manager.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!Margin_Director.Outputs.approvalDecision}, &quot;Reject&quot;),
CONTAINS({!Margin_VP.Outputs.approvalDecision}, &quot;Reject&quot;)
)</expression>
    </formulas>
    <interviewLabel>RLM Quote Smart Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Quote Smart Approval</label>
    <orchestratedStages>
        <name>Query_Quote_for_Approval_Criteria</name>
        <label>Query Quote for Approval Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requires_Approval</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Call another Auto-Launch Flow to get the criteria from the Quote. This data will be used as the criteria for the approval steps</description>
            <name>QueryApprovalData</name>
            <actionName>RLM_Quote_Approval_Data</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>QueryApprovalData</label>
            <outputConfigParams>
                <name>DiscountApprovalLevel</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>MarginApprovalLevel</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>PaymentTerms</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Quote_Approval_Level_1</name>
        <label>Quote Approval Level 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Rejected</targetReference>
        </connector>
        <exitConditionLogic>((1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND (11 OR 12) AND (13 OR 14) AND (15 OR 16) AND 9) OR 10</exitConditionLogic>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Manager_Approver.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>1.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Director_Approver.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>2.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>VP_Approver.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>3.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Payment_Terms.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.PaymentTerms</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Net 30</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Set_Quote_Approval_Status_Pending.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>rejectedQuote</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Margin_Manager.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>1.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Margin_Director.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>2.0</numberValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>Margin_VP.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <conditionType>ExitCondition</conditionType>
            <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>3.0</numberValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Set_Quote_Approval_Status_Pending</name>
            <actionName>RLM_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Pending</stringValue>
                </value>
            </inputParameters>
            <label>Set Quote Approval Status Pending</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Manager_Approver</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Manager</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Manager Approver</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Director_Approver</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Director</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Manager_Approver.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Director Approver</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>VP_Approver</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>VP</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.DiscountApprovalLevel</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Director_Approver.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>VP Approver</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Margin_Manager</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Manager</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Margin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Margin Manager</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Margin_Director</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Director</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Margin_Manager.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Margin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Margin Director</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Margin_VP</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>VP</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.MarginApprovalLevel</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Margin_Director.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Margin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <label>Margin VP</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Payment_Terms</name>
            <actionName>RLM_AA_Evaluate_Approval_Request</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Manager</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>QueryApprovalData.Outputs.PaymentTerms</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Net 30</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Finance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseSmartApproval</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CanUseRuleBasedAutoApprovals</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalOverrideDecision</name>
            </inputParameters>
            <label>Payment Terms</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_Status_to_Approved</name>
        <label>Update Quote Status to Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_to_Approved</name>
            <actionName>RLM_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <label>Set to Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_Status_to_Rejected</name>
        <label>Update Quote Status to Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_to_Rejected</name>
            <actionName>RLM_AA_Set_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>QuoteID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Set to Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>SendNoApproverEmails</name>
        <value>
            <stringValue>false</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Quote_for_Approval_Criteria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>firstApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
