unpackaged/post_fsl/flows/Create_Quoote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Create Quoote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Create_Quote</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Select</name>
        <label>Select</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Select_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact(s)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Units</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChooseStartingBundle</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>avcmpbuilder:visualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>systemContext</name>
                <value>
                    <stringValue>{&quot;apiName&quot;:&quot;e419019c-6b34-4740-8421-eeb6b9246cc7&quot;,&quot;flowId&quot;:&quot;{!$Flow.InterviewGuid}&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Starting Bundles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>checkbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSerialized</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;furnaceBoiler&quot;,&quot;imgSrc&quot;:&quot;https://storm-b8565b74fbdd65.file.force.com/sfc/servlet.shepherd/version/download/068Hu00000gRpy6&quot;,&quot;itemDescription&quot;:&quot;Furnace / Boiler&quot;,&quot;avatar&quot;:{&quot;variant&quot;:&quot;circle&quot;,&quot;size&quot;:&quot;medium&quot;,&quot;presencePosition&quot;:&quot;bottom-right&quot;}},{&quot;title&quot;:&quot;Water Purification&quot;,&quot;value&quot;:&quot;waterPurification&quot;,&quot;imgSrc&quot;:&quot;https://storm-b8565b74fbdd65.file.force.com/sfc/servlet.shepherd/version/download/068Hu00000gRpyB&quot;},{&quot;title&quot;:&quot;Water Heater&quot;,&quot;value&quot;:&quot;waterHeater&quot;,&quot;imgSrc&quot;:&quot;https://storm-b8565b74fbdd65.file.force.com/sfc/servlet.shepherd/version/download/068Hu00000gRpyG&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Select_Items</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Create_Quote</name>
        <isActive>true</isActive>
        <label>Create Quote</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Items</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
