unpackaged/post_manufacturing/flows_and_actions/flows/Contracts_Add_Obligations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Contracts - Add Obligations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contracts - Add Obligations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Product_Conformance</name>
        <label>Regulatory Compliance and SDS Obligation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Regulatory_Compliance_and_SDS_Obligation</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeUserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Badger Chemicals commits to producing and transporting the chemical in full compliance with all relevant health, safety, and environmental laws ($\text{e.g., TSCA, REACH}$), and provides the current Safety Data Sheet (SDS) to the buyer upon shipment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Regulatory Compliance and SDS Obligation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party</field>
            <value>
                <stringValue>FIRST_PARTY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>Obligation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Regulatory_Compliance_and_SDS_Obligation</name>
        <label>Safety, Handling, and Compliance Obligation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Safety_Handling_and_Compliance</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeUserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The Customer commits to handle, store, and use the Products in a manner that strictly complies with all applicable laws, regulations, permits, and, critically, the Manufacturer&apos;s Safety Data Sheet (SDS).</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Safety, Handling, and Compliance Obligation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party</field>
            <value>
                <stringValue>OTHER_PARTY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>Obligation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Safety_Handling_and_Compliance</name>
        <label>Payment and Acceptance Obligation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AssigneeUserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The Customer commits to pay the manufacturer the full agreed-upon price for the Products, in the currency and according to the payment terms specified in the contract. The Customer is also obligated to accept delivery of conforming goods.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Payment and Acceptance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party</field>
            <value>
                <stringValue>OTHER_PARTY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>Obligation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Product_Conformance</name>
        <label>Product Conformance Obligation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Product_Conformance</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeUserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Badger Chemicals commits to ensuring every batch of the chemical product strictly meets the agreed-upon technical specifications as verified and documented by a Certificate of Analysis (CoA) provided with each shipment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Product Conformance Commitment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party</field>
            <value>
                <stringValue>FIRST_PARTY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>Obligation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Service_Availability_Commitment</name>
        <label>Delivery Date Obligation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Conformance</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeUserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Badger Chemicals will ensure 95% on-time delivery of the products in this contract..</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Delivery Date Comittment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party</field>
            <value>
                <stringValue>FIRST_PARTY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>Obligation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Update a number of fields on the contract</description>
        <name>Update_Contract_Fields</name>
        <label>Update Contract Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Availability_Commitment</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.SourceQuote.QuoteAccount.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.SourceQuote.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.SourceQuote.QuoteAccount.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.SourceQuote.QuoteAccount.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.SourceQuote.QuoteAccount.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.SourceQuote.QuoteAccount.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_Fields</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
