unpackaged/post_manufacturing/flows_and_actions/flows/MFG_RC_Create_Contract_From_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>$Label.CreateCntrFromQuoteFlow.Action_CreateContract_Description</description>
        <name>CreateContract</name>
        <label>$Label.CreateCntrFromQuoteFlow.Action_CreateContract_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createContract</actionName>
        <actionType>createContract</actionType>
        <connector>
            <targetReference>SetOutputVariables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractPriceOption</name>
            <value>
                <elementReference>selectedContractPriceOption</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createContract</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_SelectedContractOption_ContractDiscount_Description</description>
        <name>setContrDisc</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_SelectedContractOption_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedContractPriceOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractUsingDiscountChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQuoteLineItemsWithDiscount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_SelectedContractOption_ContractPrice_Description</description>
        <name>setContrPrice</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_SelectedContractOption_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedContractPriceOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractUsingNetUnitPriceChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQuoteLineItemsWithPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_ErrorMessage_Description</description>
        <name>SetErrorMessage</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_ErrorMessage_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_OutputVariables_Description</description>
        <name>SetOutputVariables</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_OutputVariables_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateContract.contractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_SalesAgreement_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_SetQLIRecordsCount_ContractDiscount_Description</description>
        <name>SetQuoteLineItemsRecordsCountForDiscount</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_SetQLIRecordsCount_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecordsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetQuoteLineItemsWithDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HowManyQuoteLineItemsWereReturned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_SetQLIRecordsCount_ContractPrice_Description</description>
        <name>SetQuoteLineItemsRecordsCountForPrice</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_SetQLIRecordsCount_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecordsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetQuoteLineItemsWithPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HowManyQuoteLineItemsWereReturned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_SelectedContractOption_ContractOnly_Description</description>
        <name>SetSelectedContractOnlyOption</name>
        <label>$Label.CreateCntrFromQuoteFlow.Assignment_SelectedContractOption_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedContractPriceOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractOnlyChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContract</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>$Label.CreateCntrFromQuoteFlow.RadioButton_ContractOnly_Description</description>
        <name>ContractOnlyChoice</name>
        <choiceText>&lt;strong&gt;None:&lt;/strong&gt; Create contract without any prices or discounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CONTRACT_HEADER_ONLY</stringValue>
        </value>
    </choices>
    <choices>
        <description>$Label.CreateCntrFromQuoteFlow.RadioButton_ContractDiscount_Description</description>
        <name>ContractUsingDiscountChoice</name>
        <choiceText>&lt;strong&gt;Discount:&lt;/strong&gt; Create contract and save all discounts in your quote as contract discounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DISCOUNT_ONLY</stringValue>
        </value>
    </choices>
    <choices>
        <description>$Label.CreateCntrFromQuoteFlow.RadioButton_ContractPrice_Description</description>
        <name>ContractUsingNetUnitPriceChoice</name>
        <choiceText>&lt;strong&gt;Net Unit Price:&lt;/strong&gt; Create contract and save all net unit prices in your quote as contract prices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NET_UNIT_PRICE_ONLY</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_SalesAgreement_Exists</name>
        <label>Check if SalesAgreement Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_sales_agreement_id_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>salesAgreementId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Contract_SalesAgreementId_Field</targetReference>
            </connector>
            <label>check sales agreement id exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>$Label.CreateCntrFromQuoteFlow.Decision_RecordsCount_Description</description>
        <name>HowManyQuoteLineItemsWereReturned</name>
        <label>$Label.CreateCntrFromQuoteFlow.Decision_RecordsCount_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>$Label.CreateCntrFromQuoteFlow.DecisionOutcome_Zero_Label</defaultConnectorLabel>
        <rules>
            <name>IsGreaterThanZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContractPricesConfirmationScreen</targetReference>
            </connector>
            <label>$Label.CreateCntrFromQuoteFlow.DecisionOutcome_GreaterThanZero_Label</label>
        </rules>
    </decisions>
    <decisions>
        <description>$Label.CreateCntrFromQuoteFlow.Decision_SelectedOption_Description</description>
        <name>WhichOptionWasSelected</name>
        <label>$Label.CreateCntrFromQuoteFlow.Decision_SelectedOption_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetSelectedContractOnlyOption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>$Label.CreateCntrFromQuoteFlow.DecisionOutcome_ContractOnly_Label</defaultConnectorLabel>
        <rules>
            <name>IsSavePricing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractPricingRadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContractUsingNetUnitPriceChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setContrPrice</targetReference>
            </connector>
            <label>$Label.CreateCntrFromQuoteFlow.DecisionOutcome_ContractPrice_Label</label>
        </rules>
        <rules>
            <name>IsSaveDiscount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractPricingRadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContractUsingDiscountChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setContrDisc</targetReference>
            </connector>
            <label>$Label.CreateCntrFromQuoteFlow.DecisionOutcome_ContractDiscount_Label</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MFG RC - Create Contract From Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MFG RC - Create Contract From Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>$Label.CreateCntrFromQuoteFlow.GetQuoteLineItems_ContractDiscount_Description</description>
        <name>GetQuoteLineItemsWithDiscount</name>
        <label>$Label.CreateCntrFromQuoteFlow.GetQuoteLineItems_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetQuoteLineItemsRecordsCountForDiscount</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DiscountAmount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>$Label.CreateCntrFromQuoteFlow.GetQuoteLineItems_ContractPrice_Description</description>
        <name>GetQuoteLineItemsWithPrice</name>
        <label>$Label.CreateCntrFromQuoteFlow.GetQuoteLineItems_Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetQuoteLineItemsRecordsCountForPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetUnitPrice</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_SalesAgreementId_Field</name>
        <label>Update Contract SalesAgreementId Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outputContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SalesAgreementId</field>
            <value>
                <elementReference>salesAgreementId</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <description>$Label.CreateCntrFromQuoteFlow.Screen_Confirmation_Description</description>
        <name>CreateContractPricesConfirmationScreen</name>
        <label>Create Contract Prices Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>CreateContract</targetReference>
        </connector>
        <fields>
            <name>CreateContractPricesConfirmationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateContractPricesConfirmationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateContractPricesConfirmationScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateContractPricesConfirmationScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateContractPricesConfirmationHeaderDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create contract prices?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateContractPricesConfirmationScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateContractPricesConfirmationScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateContractPricesConfirmationBodyDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This creates contract prices for products. Product count: {!RecordsCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateContractPricesConfirmationScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateContractPricesConfirmationScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>$Label.CreateCntrFromQuoteFlow.Screen_ContractOptions_Description</description>
        <name>ScreenCollectNewContractOptions</name>
        <label>Collect New Contract Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhichOptionWasSelected</targetReference>
        </connector>
        <fields>
            <name>ContractPricingRadioButtons</name>
            <choiceReferences>ContractUsingNetUnitPriceChoice</choiceReferences>
            <choiceReferences>ContractUsingDiscountChoice</choiceReferences>
            <choiceReferences>ContractOnlyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an option to automatically add quote prices or discounts to the contract.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenCollectNewContractOptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>$Label.CreateCntrFromQuoteFlow.Assignment_ErrorMessage_Label</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <description>$Label.CreateCntrFromQuoteFlow.Variable_IsSuccess_Description</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CreateCntrFromQuoteFlow.Variable_OutputContractId_Description</description>
        <name>outputContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CreateCntrFromQuoteFlow.Variable_RecordId_Description</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CreateCntrFromQuoteFlow.Variable_RecordsCount_Description</description>
        <name>RecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>salesAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CreateCntrFromQuoteFlow.Variable_SelectedContractPriceOption_Description</description>
        <name>selectedContractPriceOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
