unpackaged/post_utils/flows/RC_AddTransactionJournalScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Anchor_Products</name>
        <label>Add Anchor Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Asset_ContainsAnchorProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Transaction_Journal_Variable</name>
        <label>Create Transaction Journal Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TJVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.ReferenceRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_AssetChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.QuantityUnitOfMeasureId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.UsageResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_URChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TJVar.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Usage_Resource</name>
        <label>Save Usage Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SaveUsageResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Usage_Resources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Usage_Resources_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Usage_Resources_Collection</name>
        <label>Save Usage Resources Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SaveUsageResourcesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SaveUsageResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PUR</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Usage_Product_Anchor_Received</name>
        <label>Usage Product (Anchor) Received</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_from_Asset</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Anchor_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>changed startdate (add one day)</description>
    <dynamicChoiceSets>
        <name>Choice_Asset</name>
        <collectionReference>Asset_ContainsAnchorProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_SaveUsageResourceCollection</name>
        <collectionReference>SaveUsageResourcesCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>UsageResource</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_UnitOfMeasure</name>
        <collectionReference>Get_Unit_of_Measure_Options</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>UnitOfMeasure</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_UsageResource</name>
        <collectionReference>Get_Product_Usage_Resources</collectionReference>
        <dataType>String</dataType>
        <displayField>UsageResourceId</displayField>
        <object>ProductUsageResource</object>
        <valueField>UsageResourceId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>GetAssetLifecycleStartDateAddOneDay</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Asset.LifecycleStartDate} + 1</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>RC_AddTransactionJournalScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Transaction Journals (Conceptual)</label>
    <loops>
        <name>Loop_Assets</name>
        <label>Loop Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Assets_on_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_from_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_AssetChoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PUR</name>
        <label>Loop_PUR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Product_Usage_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Usage_Resources</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_URChoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction_Journal</name>
        <label>Create Transaction Journal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TJ</targetReference>
        </connector>
        <inputReference>TJVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Usage_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PL_AssetChoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_on_Account</name>
        <label>Get Assets on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LifecycleStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </filters>
        <filters>
            <field>LifecycleEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>Product2Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_from_Asset</name>
        <label>Get Product from Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usage_Product_Anchor_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Assets.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageModelType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anchor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Usage_Resources</name>
        <label>Get Product Usage Resources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PUR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductUsageResource</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Usage_Resource</name>
        <label>Get Selected Usage Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_of_Measure_Class</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PL_URChoice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UsageResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TJ</name>
        <label>Get TJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TJVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_of_Measure_Class</name>
        <label>Get Unit of Measure Class</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_of_Measure_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Usage_Resource.UnitOfMeasureClassId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasureClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_of_Measure_Options</name>
        <label>Get Unit of Measure Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnitOfMeasureClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_of_Measure_Class.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Usage_Resources</name>
        <label>Get Usage Resources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Usage_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_PUR.UsageResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UsageResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_AssetChoice</name>
        <label>Screen_AssetChoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <fields>
            <name>PL_AssetChoice</name>
            <choiceReferences>Choice_Asset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Complete</name>
        <label>Screen_Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Complete</name>
            <fieldText>&lt;p&gt;Click to view the Transaction Journal Record:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Get_TJ.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_TJ.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm</name>
        <label>Screen_Confirm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Transaction_Journal_Variable</targetReference>
        </connector>
        <fields>
            <name>Display_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Asset:&lt;/strong&gt; {!Get_Asset.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Usage Resource:&lt;/strong&gt; {!Get_Selected_Usage_Resource.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Start Date:&lt;/strong&gt; {!Date_StartDate}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;End Date:&lt;/strong&gt; {!Date_EndDate}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Quantity:&lt;/strong&gt; {!Number_Quantity}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;UoM: &lt;/strong&gt;{!PL_QuantityUnitOfMeasure}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Quantity</name>
        <label>Screen_Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Confirm</targetReference>
        </connector>
        <fields>
            <name>Display_Quantity</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Asset:&lt;/strong&gt; {!Get_Asset.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Start Date: {!Get_Asset.LifecycleStartDate}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;End Date: {!Get_Asset.LifecycleEndDate}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Usage Resource:&lt;/strong&gt; {!Get_Selected_Usage_Resource.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;strong&gt;Default UoM:&lt;/strong&gt; {!Get_Selected_Usage_Resource.DefaultUnitOfMeasure.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;*Be sure to backdate your start and end dates for demonstration purposes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Enter Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_QuantityUnitOfMeasure</name>
            <choiceReferences>Choice_UnitOfMeasure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select UoM</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_StartDate</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>GetAssetLifecycleStartDateAddOneDay</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_EndDate</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>GetAssetLifecycleStartDateAddOneDay</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_URChoice</name>
        <label>Screen_URChoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Usage_Resource</targetReference>
        </connector>
        <fields>
            <name>Display_URChoice</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Asset:&lt;/strong&gt; {!Get_Asset.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Start Date: {!Get_Asset.LifecycleStartDate}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;End Date: {!Get_Asset.LifecycleEndDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PL_URChoice</name>
            <choiceReferences>Choice_SaveUsageResourceCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Usage Resource</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assets_on_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset_ContainsAnchorProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveUsageResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UsageResource</objectType>
    </variables>
    <variables>
        <name>SaveUsageResourcesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UsageResource</objectType>
    </variables>
    <variables>
        <name>TJVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>UsageResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UsageResource</objectType>
    </variables>
</Flow>
