unpackaged/post_utils/flows/RC_Refresh_Rate_Card_Decision_Tables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Attribute_based_Rate_Adjustment_by_Rate_Card_Entry_ID</name>
        <label>Attribute_based_Rate_Adjustment_by_Rate_Card_Entry_ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Binding_Object_Volume_based_Rate_Adjustment_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Attribute_based_Rate_Adjustment_by_Rate_Card_Entry_ID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Binding_Object_Rate_Adjustment_Resolution_Entries</name>
        <label>Binding_Object_Rate_Adjustment_Resolution_Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Binding_Object_Rate_Card_Entry_Resolution_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Binding_Object_Rate_Adjustment_Resolution_Entries</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Binding_Object_Rate_Card_Entry_Resolution_Entries_V2</name>
        <label>Binding_Object_Rate_Card_Entry_Resolution_Entries_V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Binding_Object_Tier_based_Rate_Adjustment_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Binding_Object_Rate_Card_Entry_Resolution_Entries_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Binding_Object_Rate_Card_Entry_Resolution_V2</name>
        <label>Binding_Object_Rate_Card_Entry_Resolution_V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Binding_Object_Rate_Card_Entry_Resolution_Entries_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Binding_Object_Rate_Card_Entry_Resolution_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Binding_Object_Rate_Decision_Table_V2</name>
        <label>Binding_Object_Rate_Decision_Table_V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Binding_Object_Rate_Adjustment_Resolution_Entries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Binding_Object_Rate_Decision_Table_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Binding_Object_Tier_based_Rate_Adjustment_V2</name>
        <label>Binding_Object_Tier_based_Rate_Adjustment_V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Binding_Object_Tier_based_Rate_Adjustment_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Binding_Object_Volume_based_Rate_Adjustment_V2</name>
        <label>Binding_Object_Volume_based_Rate_Adjustment_V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Binding_Object_Rate_Decision_Table_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Binding_Object_Volume_based_Rate_Adjustment_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Commitment_based_Rate_Adjustment</name>
        <label>Refresh Commitment_based_Rate_Adjustment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Card_Entries_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Commitment_based_Rate_Adjustment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Price_Book_Entry_Decision_Table_v2</name>
        <label>Refresh Price Book Entry Decision Table v2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Pricebook_Rate_Card_Decision_Table</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Price_Book_Entry_Decision_Table_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Pricebook_Rate_Card_Decision_Table</name>
        <label>Refresh Pricebook Rate Card Decision Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Adjustment_by_Attribute_Entries_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Pricebook_Rate_Card_Decision_Table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Adjustment_by_Attribute_Entries_2</name>
        <label>Refresh Rate Adjustment by Attribute Entries 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Adjustment_by_Attribute_Resolution_Entries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Adjustment_by_Attribute_Entries_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Adjustment_by_Attribute_Resolution_Entries</name>
        <label>Refresh Rate Adjustment by Attribute Resolution Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Attribute_based_Rate_Adjustment_by_Rate_Card_Entry_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Adjustment_by_Attribute_Resolution_Decision_Table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Adjustment_by_Tier_Entries_2</name>
        <label>Refresh Rate Adjustment by Tier Entries 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Adjustment_by_Tier_Resolution_Decision_Table</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Adjustment_by_Tier_Entries_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Adjustment_by_Tier_Resolution_Decision_Table</name>
        <label>Refresh Rate Adjustment by Tier Resolution Decision Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Adjustment_by_Volume_Entries_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Adjustment_by_Tier_Resolution_Decision_Table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Adjustment_by_Volume_Entries_2</name>
        <label>Refresh Rate Adjustment by Volume Entries_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Volume_based_Rate_Adjustment_by_Rate_Card_Entry_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Adjustment_by_Volume_Entries_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Card_Entries_2</name>
        <label>Refresh Rate Card Entries 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Price_Book_Entry_Decision_Table_v2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Card_Entries_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Rate_Card_Entry_Resolution_Entries_2</name>
        <label>Refresh Rate Card Entry Resolution Entries 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Commitment_based_Rate_Adjustment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Rate_Card_Entry_Resolution_Entries_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Tier_based_Rate_Adjustment_by_Rate_Card_Entry_ID</name>
        <label>Refresh Tier based Rate Adjustment by Rate Card Entry ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Adjustment_by_Tier_Entries_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Tier_based_Rate_Adjustment_by_Rate_Card_Entry_ID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Volume_based_Rate_Adjustment_by_Rate_Card_Entry_ID</name>
        <label>Refresh Volume based Rate Adjustment by Rate Card Entry ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Rate_Card_Entry_Resolution_Entries_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Volume_based_Rate_Adjustment_by_Rate_Card_Entry_ID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>RCA Refresh Rate Card Decision Tables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC Refresh Rate Card Decision Tables</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Refresh_Consumption_Decision_Tables</name>
        <label>Refresh Consumption Decision Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Tier_based_Rate_Adjustment_by_Rate_Card_Entry_ID</targetReference>
        </connector>
        <fields>
            <name>Refresh_Rating_Decision_Tables_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Refresh Usage &amp;amp; Rating Decision Tables&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtDecisionTables</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Manually run full or incremental refresh of usage and rating decision tables after rate configuration (or when Assets are created from an Order).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Tier_based_Rate_Adjustment_by_Rate_Card_Entry_ID&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rate_Adjustment_by_Tier_Entries_2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rate_Adjustment_by_Tier_Resolution_Decision_Table&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rate_Adjustment_by_Volume_Entries_2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Volume_based_Rate_Adjustment_by_Rate_Card_Entry_ID&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rate_Card_Entry_Resolution_Entries_2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Pricebook_Rate_Card_Decision_Table&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Rate_Card_Entries_2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Price_Book_Entry_Decision_Table_v2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;﻿Commitment_based_Rate_Adjustment&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Rate_Adjustment_by_Attribute_Entries_2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;﻿Rate_Adjustment_by_Attribute_Resolution_Decision_Table&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Attribute_based_Rate_Adjustment_by_Rate_Card_Entry_ID&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Binding_Object_Rate_Decision_Table_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Binding_Object_Rate_Adjustment_Resolution_Entries&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Binding_Object_Rate_Card_Entry_Resolution_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Binding_Object_Rate_Card_Entry_Resolution_Entries_v2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Binding_Object_Tier_based_Rate_Adjustment_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Binding_Object_Volume_based_Rate_Adjustment_V2&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IncrementalRefresh</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Incremental Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Full Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Incremental Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_Consumption_Decision_Tables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>IncrementalToggleTrue</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Incremental Refresh&lt;/p&gt;</text>
    </textTemplates>
</Flow>
