unpackaged/post_utils/flows/RC_Usage_Data_Tables_Concept_LS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Grant_Binding_Object_Type</name>
        <label>Grant Binding Object Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_LS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Current_LS.GrantBindingTargetId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GrantBindingTarget_LS_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Current_LS.GrantBindingTargetId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GrantBindingTarget_LS_Asset</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TransactionJournals</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_LS_AssetIdHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!Loop_Current_LS.AssetId},  {!Loop_Current_LS.Asset.Name}, &apos;_self&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula_LS_GrantBindingTargetIdHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!Loop_Current_LS.GrantBindingTargetId},  {!Get_Asset_LS.Name}, &apos;_self&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula_LS_UEBIdHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!Loop_Current_LS.UsageEntitlementBucketId},  {!Loop_Current_LS.UsageEntitlementBucket.Name}, &apos;_self&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula_LS_UoMIdHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!Loop_Current_LS.UoMId},  {!Loop_Current_LS.UoM.Name}, &apos;_self&apos;)</expression>
    </formulas>
    <formulas>
        <name>TJVar_Id</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/Loop_TJs.Id&quot;, &quot;Loop_TJs.Name&quot;)</expression>
    </formulas>
    <interviewLabel>Usage Data Tables Concept - LS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC - Liable Summaries Data Tables</label>
    <loops>
        <name>Loop_Current_LS</name>
        <label>Loop Current LS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_LSs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Asset_LS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_LSs_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset_LS</name>
        <label>Get Asset (LS)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Grant_Binding_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Current_LS.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GrantBindingTarget_LS_Account</name>
        <label>Get GrantBindingTarget (LS)_Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_LS_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Current_LS.GrantBindingTargetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GrantBindingTarget_LS_Asset</name>
        <label>Get GrantBindingTarget (LS)_Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_LS_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Current_LS.GrantBindingTargetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LSs</name>
        <label>Get LSs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Current_LS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UsageBillingPeriodItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LSs_2</name>
        <label>Get LSs (2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UsageBillingPeriodItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_LS_Account</name>
        <label>Update Current LS_Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Current_LS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Current_LS.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RC_AssetIdName__c</field>
            <value>
                <elementReference>Get_Asset_LS.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_AssetId__c</field>
            <value>
                <elementReference>Get_Asset_LS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_GrantBindingTargetIdName__c</field>
            <value>
                <elementReference>Get_GrantBindingTarget_LS_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_GrantBindingTargetId__c</field>
            <value>
                <elementReference>Loop_Current_LS.GrantBindingTargetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UEBIdName__c</field>
            <value>
                <elementReference>Loop_Current_LS.UsageEntitlementBucket.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UEBId__c</field>
            <value>
                <elementReference>Loop_Current_LS.UsageEntitlementBucketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UoMIdName__c</field>
            <value>
                <elementReference>Loop_Current_LS.UoM.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UoMId__c</field>
            <value>
                <elementReference>Loop_Current_LS.UoMId</elementReference>
            </value>
        </inputAssignments>
        <object>UsageBillingPeriodItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_LS_Asset</name>
        <label>Update Current LS_Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Current_LS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Current_LS.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RC_AssetIdName__c</field>
            <value>
                <elementReference>Get_Asset_LS.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_AssetId__c</field>
            <value>
                <elementReference>Get_Asset_LS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_GrantBindingTargetIdName__c</field>
            <value>
                <elementReference>Get_Asset_LS.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_GrantBindingTargetId__c</field>
            <value>
                <elementReference>Loop_Current_LS.GrantBindingTargetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UEBIdName__c</field>
            <value>
                <elementReference>Loop_Current_LS.UsageEntitlementBucket.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UEBId__c</field>
            <value>
                <elementReference>Loop_Current_LS.UsageEntitlementBucketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UoMIdName__c</field>
            <value>
                <elementReference>Loop_Current_LS.UoM.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC_UoMId__c</field>
            <value>
                <elementReference>Loop_Current_LS.UoMId</elementReference>
            </value>
        </inputAssignments>
        <object>UsageBillingPeriodItem</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_LS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>UsageBillingPeriodItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liable Summaries</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_LSs_2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RC_LiableSummaryIdHyperlink__c&quot;,&quot;guid&quot;:&quot;column-5183&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;LiableSummaryIdHyperlink&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-b533&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RC_AssetIdHyperlink__c&quot;,&quot;guid&quot;:&quot;column-abd0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Asset&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;AssetIdHyperlink&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;RC_UoMIdHyperlink__c&quot;,&quot;guid&quot;:&quot;column-b4ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;UoM&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;UoMIdHyperlink&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TotalUsedQuantity&quot;,&quot;guid&quot;:&quot;column-60fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Used Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;OverageQuantity&quot;,&quot;guid&quot;:&quot;column-d419&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Overage Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;OverageAmount&quot;,&quot;guid&quot;:&quot;column-42f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Overage Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;RC_UEBIdHyperlink__c&quot;,&quot;guid&quot;:&quot;column-d6c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Usage Entitlement Bucket&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;UEBIdHyperlink&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StartDateTime&quot;,&quot;guid&quot;:&quot;column-d41d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;EndDateTime&quot;,&quot;guid&quot;:&quot;column-811e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;RC_GrantBindingTargetIdHyperlink__c&quot;,&quot;guid&quot;:&quot;column-78a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Grant Binding Target&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;GrantBindingTargetIdHyperlink&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LSs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TJVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TJVarHyperlink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
