unpackaged/post_utils/flows/RLM_Refresh_Decision_Tables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_RefreshAll</name>
        <label>Refresh Decision Table (All)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Loop_All</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scr_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <elementReference>Loop_All.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>var_isIncremental</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Action_RefreshSelected</name>
        <label>Refresh Decision Table (Selected)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scr_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <elementReference>Loop_Selected.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>var_isIncremental</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Action_RefreshType</name>
        <label>Refresh Decision Table (By Type)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Loop_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scr_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <elementReference>Loop_Type.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>var_isIncremental</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asgn_FromInput</name>
        <label>Set Variables From Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>refreshMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_isIncremental</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isIncremental</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_isAutomated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dec_RouteMode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asgn_FromScreen</name>
        <label>Set Variables From Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_mode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_isAutomated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dec_RouteMode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asgn_UsageType_From_Screen</name>
        <label>Set Usage Type From Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>usageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageTypeInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DTs_By_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_All</name>
        <choiceText>Refresh All Active Decision Tables</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ByUsageType</name>
        <choiceText>Refresh by Usage Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ByUsageType</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Individual</name>
        <choiceText>Select Individual Tables</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_UT_Bre</name>
        <choiceText>Bre</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Bre</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_DefaultPricing</name>
        <choiceText>DefaultPricing</choiceText>
        <dataType>String</dataType>
        <value><stringValue>DefaultPricing</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_DefaultRating</name>
        <choiceText>DefaultRating</choiceText>
        <dataType>String</dataType>
        <value><stringValue>DefaultRating</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_PricingDiscovery</name>
        <choiceText>PricingDiscovery</choiceText>
        <dataType>String</dataType>
        <value><stringValue>PricingDiscovery</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_ProductCategoryQualification</name>
        <choiceText>ProductCategoryQualification</choiceText>
        <dataType>String</dataType>
        <value><stringValue>ProductCategoryQualification</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_ProductQualification</name>
        <choiceText>ProductQualification</choiceText>
        <dataType>String</dataType>
        <value><stringValue>ProductQualification</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_RatingDiscovery</name>
        <choiceText>RatingDiscovery</choiceText>
        <dataType>String</dataType>
        <value><stringValue>RatingDiscovery</stringValue></value>
    </choices>
    <choices>
        <name>Choice_UT_RevenueStandardTax</name>
        <choiceText>RevenueStandardTax</choiceText>
        <dataType>String</dataType>
        <value><stringValue>RevenueStandardTax</stringValue></value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Dec_IsInteractive</name>
        <label>Interactive or Automated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asgn_FromInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Automated</defaultConnectorLabel>
        <rules>
            <name>Dec_IsInteractive_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>refreshMode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>refreshMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scr_SelectMode</targetReference>
            </connector>
            <label>Interactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_NeedUsageInput</name>
        <label>Need Usage Type Input?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_DTs_By_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Usage Type</defaultConnectorLabel>
        <rules>
            <name>Dec_NeedUsageInput_AutomatedError</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>usageType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>usageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_isAutomated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scr_Error</targetReference>
            </connector>
            <label>Automated — Missing UsageType</label>
        </rules>
        <rules>
            <name>Dec_NeedUsageInput_Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>usageType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>usageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_isAutomated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scr_EnterUsageType</targetReference>
            </connector>
            <label>Need Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_RouteMode</name>
        <label>Route by Mode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_DTs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All (default)</defaultConnectorLabel>
        <rules>
            <name>Dec_RouteMode_ByUsageType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ByUsageType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_NeedUsageInput</targetReference>
            </connector>
            <label>By Usage Type</label>
        </rules>
        <rules>
            <name>Dec_RouteMode_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_For_Selection</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_ShowFinish</name>
        <label>Show Finish Screen?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Automated (End)</defaultConnectorLabel>
        <rules>
            <name>Dec_ShowFinish_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isAutomated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scr_Finish</targetReference>
            </connector>
            <label>Interactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_ShowTypePreview</name>
        <label>Show Type Preview?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Automated</defaultConnectorLabel>
        <rules>
            <name>Dec_ShowTypePreview_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isAutomated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scr_PreviewByType</targetReference>
            </connector>
            <label>Interactive</label>
        </rules>
    </decisions>
    <description>Unified Decision Table refresh utility. Supports three modes: All (refresh all active), ByUsageType (filter by usage type), and Individual (select from datatable). Input variables refreshMode, usageType, and isIncremental enable subflow/automated invocation.</description>
    <environments>Default</environments>
    <interviewLabel>RLM Refresh Decision Tables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Refresh Decision Tables</label>
    <loops>
        <name>Loop_All</name>
        <label>Loop All Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_DTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Action_RefreshAll</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dec_ShowFinish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected</name>
        <label>Loop Selected Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>IndividualDTs.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Action_RefreshSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Scr_Finish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Type</name>
        <label>Loop By Type Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_DTs_By_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Action_RefreshType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dec_ShowFinish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_DTs</name>
        <label>Get All Active Decision Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DecisionTable</object>
        <sortField>LastSyncDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DTs_By_Type</name>
        <label>Get Decision Tables by Usage Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_ShowTypePreview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>UsageType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>usageType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DecisionTable</object>
        <sortField>LastSyncDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_For_Selection</name>
        <label>Get All Tables for Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scr_SelectIndividual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DecisionTable</object>
        <sortField>LastSyncDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Scr_EnterUsageType</name>
        <label>Enter Usage Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asgn_UsageType_From_Screen</targetReference>
        </connector>
        <fields>
            <name>Hdr_UsageType</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Filter by Usage Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Select a UsageType to refresh only decision tables of that type.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UsageTypeInput</name>
            <choiceReferences>Choice_UT_Bre</choiceReferences>
            <choiceReferences>Choice_UT_DefaultPricing</choiceReferences>
            <choiceReferences>Choice_UT_DefaultRating</choiceReferences>
            <choiceReferences>Choice_UT_PricingDiscovery</choiceReferences>
            <choiceReferences>Choice_UT_ProductCategoryQualification</choiceReferences>
            <choiceReferences>Choice_UT_ProductQualification</choiceReferences>
            <choiceReferences>Choice_UT_RatingDiscovery</choiceReferences>
            <choiceReferences>Choice_UT_RevenueStandardTax</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Usage Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scr_Error</name>
        <label>Something went wrong</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flt_ErrorMessage</name>
            <fieldText>&lt;p&gt;Error refreshing decision table:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scr_Finish</name>
        <label>Finish</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fld_FinishMessage</name>
            <fieldText>&lt;p&gt;Refresh submitted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;The refresh process will complete in a few minutes. There is a limit of 100 refreshes per hour.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/setup/DecisionTables/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Decision Tables&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scr_SelectIndividual</name>
        <label>Select Decision Tables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
        <fields>
            <name>IndividualDTs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DecisionTable</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Decision Tables to Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_For_Selection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SetupName&quot;,&quot;guid&quot;:&quot;column-dt01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UsageType&quot;,&quot;guid&quot;:&quot;column-dt02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Usage Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastSyncDate&quot;,&quot;guid&quot;:&quot;column-dt03&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Refreshed&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-dt04&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_For_Selection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh Selected</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scr_SelectMode</name>
        <label>Select Refresh Mode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asgn_FromScreen</targetReference>
        </connector>
        <fields>
            <name>Hdr_SelectMode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: #03234d; font-weight: 400;&quot;&gt;Refresh Decision Tables&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Select a refresh mode. There is a limit of 100 refreshes per hour — use incremental refresh after the initial full sync.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectedMode</name>
            <choiceReferences>Choice_All</choiceReferences>
            <choiceReferences>Choice_ByUsageType</choiceReferences>
            <choiceReferences>Choice_Individual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_All</defaultSelectedChoiceReference>
            <fieldText>Mode</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IncrementalRefresh</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Incremental Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Incremental Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Full Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_isIncremental</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scr_PreviewByType</name>
        <label>Preview by Usage Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Type</targetReference>
        </connector>
        <fields>
            <name>PreviewByType_DTs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DecisionTable</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Decision Tables — {!usageType}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_DTs_By_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{"apiName":"SetupName","guid":"column-pt01","editable":false,"hasCustomHeaderLabel":false,"customHeaderLabel":"","wrapText":true,"order":0,"label":"Name","type":"text"},{"apiName":"DeveloperName","guid":"column-pt02","editable":false,"hasCustomHeaderLabel":false,"customHeaderLabel":"","wrapText":true,"order":1,"label":"API Name","type":"text"},{"apiName":"LastSyncDate","guid":"column-pt03","editable":false,"hasCustomHeaderLabel":false,"customHeaderLabel":"","wrapText":true,"order":2,"label":"Last Refreshed","type":"customDateTime"},{"apiName":"Status","guid":"column-pt04","editable":false,"hasCustomHeaderLabel":false,"customHeaderLabel":"","wrapText":true,"order":3,"label":"Status","type":"text"}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dec_IsInteractive</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isIncremental</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>refreshMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_isAutomated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_isIncremental</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
