unpackaged/post_utils/flows/RLM_ARC_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Amend_Assets</name>
        <label>Amend Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateAmendment</actionName>
        <actionType>initiateAmendment</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_amendRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amendAssetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendStartDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityChange</name>
            <value>
                <elementReference>quantityChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendOutputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendContractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionSubtype</name>
            <value>
                <elementReference>startDateAdjustment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateAmendment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Amend_From_Account</name>
        <label>Amend_From_Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateAmendment</actionName>
        <actionType>initiateAmendment</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_amendRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amendAssetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendStartDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityChange</name>
            <value>
                <elementReference>quantityChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendOutputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionSubtype</name>
            <value>
                <elementReference>startDateAdjustment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateAmendment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Assets</name>
        <label>Cancel Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateCancellation</actionName>
        <actionType>initiateCancellation</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_cancelRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cancelAssetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStartDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelOutputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelContractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateCancellation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_FromAccount</name>
        <label>Cancel_From_Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateCancellation</actionName>
        <actionType>initiateCancellation</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_cancelRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cancelAssetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStartDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelOutputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateCancellation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Assets_for_Usage_or_Ramps</name>
        <label>Check Assets for Usage or Ramps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RLM_ARC_AssetValidator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Resolve_Action_From_Flow_Entry</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_ARC_AssetValidator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Downgrade_Assets_from_Account</name>
        <label>Downgrade Assets from Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateDowngrade</actionName>
        <actionType>initiateDowngrade</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_downgradeRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outGroup</name>
            <value>
                <elementReference>Swap_Start_Date.selectedAssetsData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inGroup</name>
            <value>
                <elementReference>Select_Products.selectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>swapDate</name>
            <value>
                <elementReference>Swap_Start_Date.swapStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateDowngrade</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Downgrade_From_Contract</name>
        <label>Downgrade From Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateDowngrade</actionName>
        <actionType>initiateDowngrade</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Contract_downgradeRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outGroup</name>
            <value>
                <elementReference>Swap_Start_Date.selectedAssetsData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inGroup</name>
            <value>
                <elementReference>Select_Products.selectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>swapDate</name>
            <value>
                <elementReference>Swap_Start_Date.swapStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateDowngrade</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Renew_Assets</name>
        <label>Renew Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateRenewal</actionName>
        <actionType>initiateRenewal</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_renewRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>renewAssetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewOutputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewContractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewStartDate</name>
            <value>
                <elementReference>SelectedRenewalStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewEndDate</name>
            <value>
                <elementReference>SelectedRenewalEndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateRenewal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RenewalfromAccount</name>
        <label>RenewalfromAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateRenewal</actionName>
        <actionType>initiateRenewal</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_renewRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>renewAssetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewOutputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewStartDate</name>
            <value>
                <elementReference>SelectedRenewalStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewEndDate</name>
            <value>
                <elementReference>SelectedRenewalEndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateRenewal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rollback_Last_Action</name>
        <label>Rollback Last Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateRollBackLastAction</actionName>
        <actionType>initiateRollBackLastAction</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_RollbackRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateRollBackLastAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Swap_Assets_from_Account</name>
        <label>Swap Assets from Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateSwap</actionName>
        <actionType>initiateSwap</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_swapRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outGroup</name>
            <value>
                <elementReference>Swap_Start_Date.selectedAssetsData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inGroup</name>
            <value>
                <elementReference>Select_Products.selectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>swapDate</name>
            <value>
                <elementReference>Swap_Start_Date.swapStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateSwap</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Swap_From_Contract</name>
        <label>Swap From Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateSwap</actionName>
        <actionType>initiateSwap</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Contract_swapRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outGroup</name>
            <value>
                <elementReference>Swap_Start_Date.selectedAssetsData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inGroup</name>
            <value>
                <elementReference>Select_Products.selectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>swapDate</name>
            <value>
                <elementReference>Swap_Start_Date.swapStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateSwap</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Transfer_Assets</name>
        <label>Transfer Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateTransfer</actionName>
        <actionType>initiateTransfer</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_TransferRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>transferRecords</name>
            <value>
                <elementReference>TransferRecordsCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transferDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAccountId</name>
            <value>
                <elementReference>TransferToAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetContractId</name>
            <value>
                <elementReference>TransferToContractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateTransfer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upgrade_Assets_from_Account</name>
        <label>Upgrade Assets from Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateUpgrade</actionName>
        <actionType>initiateUpgrade</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Account_upgradeRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outGroup</name>
            <value>
                <elementReference>Swap_Start_Date.selectedAssetsData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inGroup</name>
            <value>
                <elementReference>Select_Products.selectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>swapDate</name>
            <value>
                <elementReference>Swap_Start_Date.swapStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateUpgrade</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upgrade_From_Contract</name>
        <label>Upgrade From Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>initiateUpgrade</actionName>
        <actionType>initiateUpgrade</actionType>
        <connector>
            <targetReference>Assign_outputRecordId_from_Contract_upgradeRecordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outGroup</name>
            <value>
                <elementReference>Swap_Start_Date.selectedAssetsData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inGroup</name>
            <value>
                <elementReference>Select_Products.selectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>swapDate</name>
            <value>
                <elementReference>Swap_Start_Date.swapStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputRecordType</name>
            <value>
                <elementReference>outputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateUpgrade</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_TransferRecordInput_Collection</name>
        <label>Add to TransferRecordInput Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TransferRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_to_TransferRecordInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transfer_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the amendment invocable action.</description>
        <name>Assign_outputRecordId_from_Account_amendRecordId</name>
        <label>Assign outputRecordId from Account amendRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amend_From_Account.amendRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorMessageAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the cancellation invocable action.</description>
        <name>Assign_outputRecordId_from_Account_cancelRecordId</name>
        <label>Assign outputRecordId from Account cancelRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_FromAccount.cancelRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the downgrade invocable action (from account).</description>
        <name>Assign_outputRecordId_from_Account_downgradeRecordId</name>
        <label>Assign outputRecordId from Account downgradeRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Downgrade_Assets_from_Account.transactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the renewal invocable action.</description>
        <name>Assign_outputRecordId_from_Account_renewRecordId</name>
        <label>Assign outputRecordId from Account renewRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalfromAccount.renewRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_outputRecordId_from_Account_RollbackRecordId</name>
        <label>Assign outputRecordId from Account RollbackRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rollback_Last_Action.recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the swap invocable action (from account).</description>
        <name>Assign_outputRecordId_from_Account_swapRecordId</name>
        <label>Assign outputRecordId from Account swapRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Swap_Assets_from_Account.transactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_outputRecordId_from_Account_TransferRecordId</name>
        <label>Assign outputRecordId from Account TransferRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Assets.assetTransferSourceId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the upgrade invocable action (from account).</description>
        <name>Assign_outputRecordId_from_Account_upgradeRecordId</name>
        <label>Assign outputRecordId from Account upgradeRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upgrade_Assets_from_Account.transactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_outputRecordId_from_amendRecordId</name>
        <label>Assign outputRecordId from amendRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amend_Assets.amendRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorMessageAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_outputRecordId_from_cancelRecordId</name>
        <label>Assign outputRecordId from cancelRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Assets.cancelRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the downgrade invocable action (from contract).</description>
        <name>Assign_outputRecordId_from_Contract_downgradeRecordId</name>
        <label>Assign outputRecordId from Contract downgradeRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Downgrade_From_Contract.transactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the swap invocable action (from contract).</description>
        <name>Assign_outputRecordId_from_Contract_swapRecordId</name>
        <label>Assign outputRecordId from Contract swapRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Swap_From_Contract.transactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the record ID returned by the upgrade invocable action (from contract).</description>
        <name>Assign_outputRecordId_from_Contract_upgradeRecordId</name>
        <label>Assign outputRecordId from Contract upgradeRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upgrade_From_Contract.transactionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_outputRecordId_from_renewRecordId</name>
        <label>Assign outputRecordId from renewRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renew_Assets.renewRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign Renewal Term selected by the user.</description>
        <name>Assign_Renewal_Term</name>
        <label>Assign Renewal Term</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedRenewalStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renewal_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedRenewalEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renewal_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FromAccountOrContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the startDate variable to the date selected in the previous screen</description>
        <name>Assign_startDate</name>
        <label>Assign startDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resolve_Action_After_Date_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_startDateAdjustment</name>
        <label>Assign startDateAdjustment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>startDateAdjustment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StartDateAdjustment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amend_From_Account_Or_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transfer_Details</name>
        <label>Assign Transfer Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransferToAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_to_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransferToContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_to_Contract.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transfer_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>errorMessageAssignment</name>
        <label>errorMessageAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_actionTypeNoun_and_actionType_from_selections</name>
        <label>Set actionTypeNoun and actionType from selections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionTypeNoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>swapupdown.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>swapupdown.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProductCatalogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionTypeNoun_to_Amendment</name>
        <label>Set actionTypeNoun to &quot;Amendment&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionTypeNoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Selector_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionTypeNoun_to_Cancellation</name>
        <label>Set actionTypeNoun to &quot;Cancellation&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionTypeNoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Start_Date_Selector_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionTypeNoun_to_Renewal</name>
        <label>Set actionTypeNoun to &quot;Renewal&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionTypeNoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_Term_Selector_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionTypeNoun_to_Rollback</name>
        <label>Set actionTypeNoun to &quot;Rollback&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionTypeNoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rollback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Rollback_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionTypeNoun_to_Transfer</name>
        <label>Set actionTypeNoun to &quot;Transfer&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionTypeNoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Transfer_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rollback_Blocked_Error</name>
        <label>Set Rollback Blocked Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Assets_for_Usage_or_Ramps.rollbackBlockedMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Swap_Blocked_Error</name>
        <label>Set Swap Blocked Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Assets_for_Usage_or_Ramps.swapBlockedMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transfer_Blocked_Error</name>
        <label>Set Transfer Blocked Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Assets_for_Usage_or_Ramps.transferBlockedMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCatalogList</name>
        <label>Set Catalog List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredCatalogs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProductCatalogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isCatalogListEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of product catalogs to determine if selection is needed.</description>
        <name>SetCatalogQuantity</name>
        <label>Set Catalog Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CatalogQuantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FilteredCatalogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSingleCatalog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the selected catalog record variable when only one catalog exists.</description>
        <name>SetSingleCatalogVariable</name>
        <label>Set Single Catalog Record Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedCatalog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RunActionForCatalog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunActionForCatalog</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Downgrade</name>
        <choiceIcon>
            <iconName>utility:arrowdown</iconName>
        </choiceIcon>
        <choiceText>Downgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Downgrade</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for automatic renewal term.</description>
        <name>IsAutomatedRenewal</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Automatic Renewal&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutomatedRenewal</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice for overriding the renewal term.</description>
        <name>IsEarlyRenewal</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Override Renewal Term&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OverrideRenewalTerm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Swap</name>
        <choiceIcon>
            <iconName>utility:replace</iconName>
        </choiceIcon>
        <choiceText>Swap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Swap</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrade</name>
        <choiceIcon>
            <iconName>utility:arrowup</iconName>
        </choiceIcon>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Amend_From_Account_Or_Contract</name>
        <label>Amend_From_Account_Or_Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Amend_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Contract</defaultConnectorLabel>
        <rules>
            <name>AmendFromAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amend_From_Account</targetReference>
            </connector>
            <label>From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_From_Account_Or_Contract</name>
        <label>Cancel_From_Account_Or_Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cancel_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FromContract</defaultConnectorLabel>
        <rules>
            <name>CancelFromAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_FromAccount</targetReference>
            </connector>
            <label>FromAccount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for resolving selected subtype</description>
        <name>Check_for_subtype</name>
        <label>Check for subtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Amend_From_Account_Or_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_subtype_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subtype_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_startDateAdjustment</targetReference>
            </connector>
            <label>Is subtype selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>FromAccountOrContract</name>
        <label>FromAccountOrContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Renew_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FromContract</defaultConnectorLabel>
        <rules>
            <name>FromAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RenewalfromAccount</targetReference>
            </connector>
            <label>FromAccount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the catalog list is empty to determine if product discovery can proceed.</description>
        <name>isCatalogListEmpty</name>
        <label>Is Catalog List Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Label_ProductDiscovery_NoCatalogPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>catalogListNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilteredCatalogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilteredCatalogs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCatalogQuantity</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether there is exactly one catalog, skipping the catalog selection screen.</description>
        <name>IsSingleCatalog</name>
        <label>Is Single Catalog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>catalogListScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasSingleCatalog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CatalogQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunActionForCatalog</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Resolves the action (e.g., amend or cancel) after the user selects a start date</description>
        <name>Resolve_Action_After_Date_Screen</name>
        <label>Resolve Action After Date Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action Specified</defaultConnectorLabel>
        <rules>
            <name>Amend_After_Date_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_subtype</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
        <rules>
            <name>Cancel_After_Date_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_From_Account_Or_Contract</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <description>Resolves the action (e.g., amend, renew, or cancel) that invoked the flow</description>
        <name>Resolve_Action_From_Flow_Entry</name>
        <label>Resolve Action From Flow Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action Specified</defaultConnectorLabel>
        <rules>
            <name>Amend_From_Flow_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_actionTypeNoun_to_Amendment</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
        <rules>
            <name>Renew_From_Flow_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_actionTypeNoun_to_Renewal</targetReference>
            </connector>
            <label>Renew</label>
        </rules>
        <rules>
            <name>Cancel_From_Flow_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_actionTypeNoun_to_Cancellation</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Transfer_From_Flow_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_actionTypeNoun_to_Transfer</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Rollback_From_Flow_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rollback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_actionTypeNoun_to_Rollback</targetReference>
            </connector>
            <label>Rollback</label>
        </rules>
        <rules>
            <name>Swap_From_Flow_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swap</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasRampedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasUsageBasedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasExpiredAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasDerivedPriceAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Effective_Date_selector_screen</targetReference>
            </connector>
            <label>Swap</label>
        </rules>
        <rules>
            <name>Swap_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Swap_Blocked_Error</targetReference>
            </connector>
            <label>Swap Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the account or contract path based on whether a contractId was provided.</description>
        <name>Swap_from_Account_or_Contract</name>
        <label>From Account or Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>What_Action_From_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Contract</defaultConnectorLabel>
        <rules>
            <name>Swap_From_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Swap_Action</targetReference>
            </connector>
            <label>From Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates that Rollback assets are not ramped or usage-based before proceeding.</description>
        <name>Validate_Rollback_Assets</name>
        <label>Validate Rollback Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Rollback_Blocked_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rollback Blocked</defaultConnectorLabel>
        <rules>
            <name>Rollback_Assets_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasRampedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasUsageBasedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rollback_Last_Action</targetReference>
            </connector>
            <label>Rollback Assets Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates that Transfer assets are not ramped, usage-based, or expired before proceeding.</description>
        <name>Validate_Transfer_Assets</name>
        <label>Validate Transfer Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Transfer_Blocked_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transfer Blocked</defaultConnectorLabel>
        <rules>
            <name>Transfer_Assets_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasRampedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasUsageBasedAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasExpiredAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Selector_Screen</targetReference>
            </connector>
            <label>Transfer Assets Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the correct contract-path action (Swap, Upgrade, or Downgrade) based on actionType.</description>
        <name>What_Action_From_Contract</name>
        <label>What Action from Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Swap_From_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Swap</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swap_From_Contract</targetReference>
            </connector>
            <label>Is Swap</label>
        </rules>
        <rules>
            <name>Is_Upgrade_From_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upgrade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_From_Contract</targetReference>
            </connector>
            <label>Is Upgrade</label>
        </rules>
        <rules>
            <name>Is_Downgrade_From_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Downgrade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Downgrade_From_Contract</targetReference>
            </connector>
            <label>Is Downgrade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes to the correct account-path action (Swap, Upgrade, or Downgrade) based on actionType.</description>
        <name>What_Swap_Action</name>
        <label>What Action from Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Swap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Swap</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swap_Assets_from_Account</targetReference>
            </connector>
            <label>Is Swap</label>
        </rules>
        <rules>
            <name>Is_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upgrade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_Assets_from_Account</targetReference>
            </connector>
            <label>Is Upgrade</label>
        </rules>
        <rules>
            <name>Is_Downgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Downgrade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Downgrade_Assets_from_Account</targetReference>
            </connector>
            <label>Is Downgrade</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lowercase_actionTypeNoun</name>
        <dataType>String</dataType>
        <expression>LOWER({!actionTypeNoun})</expression>
    </formulas>
    <interviewLabel>RLM ARC Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM ARC Assets</label>
    <loops>
        <name>Create_Transfer_Records</name>
        <label>Create Transfer Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_to_TransferRecordInput</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transfer_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates over filtered catalogs to set the catalog context for product discovery.</description>
        <name>RunActionForCatalog</name>
        <label>Run Action for Catalog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>FilteredCatalogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetSingleCatalogVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Swap_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Queries all product catalogs for the catalog selection step.</description>
        <name>getProductCatalogs</name>
        <label>Get Product Catalogs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCatalogList</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductCatalog</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Code</queriedFields>
        <queriedFields>NumberOfCategories</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays the list of product catalogs for user selection.</description>
        <name>catalogListScreen</name>
        <label>List of Catalogs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Swap_Products</targetReference>
        </connector>
        <fields>
            <name>pc_header</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!actionType} Selections&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pcDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProductCatalog</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Catalogs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getProductCatalogs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ProductCatalog&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;getProductCatalogs&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2d00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Code&quot;,&quot;guid&quot;:&quot;column-0c72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NumberOfCategories&quot;,&quot;guid&quot;:&quot;column-7943&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Number of Categories&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-12c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ProductCatalog&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;Code&quot;,&quot;NumberOfCategories&quot;,&quot;LastModifiedDate&quot;],&quot;elementReference&quot;:&quot;getProductCatalogs&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCatalog</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Swap Type (Swap, Upgrade, Downgrade) and Start Date</description>
        <name>Effective_Date_selector_screen</name>
        <label>Swap Type and Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_actionTypeNoun_and_actionType_from_selections</targetReference>
        </connector>
        <fields>
            <name>date_header</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!actionType} Selections&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>swapupdown</name>
            <choiceReferences>Swap</choiceReferences>
            <choiceReferences>Upgrade</choiceReferences>
            <choiceReferences>Downgrade</choiceReferences>
            <defaultValue>
                <elementReference>Swap</elementReference>
            </defaultValue>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Swap_Start_Date</name>
            <extensionName>runtime_revenue_foundation:assetSelCntr</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>assetIds</name>
                <value>
                    <elementReference>recordIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blockedAssetsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Blocked Assets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Check_Assets_for_Usage_or_Ramps.blockedAssets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;col-name&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Asset Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LifecycleStartDate&quot;,&quot;guid&quot;:&quot;col-start&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;LifecycleEndDate&quot;,&quot;guid&quot;:&quot;col-end&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasRampedAssets</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasUsageBasedAssets</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasExpiredAssets</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Check_Assets_for_Usage_or_Ramps.hasDerivedPriceAssets</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error when no product catalogs are available.</description>
        <name>Label_ProductDiscovery_NoCatalogPresent</name>
        <label>No Catalogs Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noCatalogErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Unable to browse catalogs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>noCatalogErrorDescription</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;To use Browse Catalogs, choose or create a catalog to store the categories.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for selecting the renewal term type and dates.</description>
        <name>Renewal_Term_Selector_Screen</name>
        <label>Renewal Term Selector Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Renewal_Term</targetReference>
        </connector>
        <fields>
            <name>Renewal_Term_Selector_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Renewal_Term_Selector_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_Date_Selector_Screen_Header</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Set Renewal Term&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Renewal_Term_Selector_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Renewal_Term_Selector_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RenewalDecision</name>
                    <choiceReferences>IsAutomatedRenewal</choiceReferences>
                    <choiceReferences>IsEarlyRenewal</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>IsAutomatedRenewal</defaultSelectedChoiceReference>
                    <fieldText>This asset subscription automatically renews in accordance with its existing renewal term but you can override the renewal term with different dates here.</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Renewal_Term_Selector_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Renewal_Term_Selector_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Renewal Term Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RenewalDecision</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>IsEarlyRenewal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Renewal_Term_Selector_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Renewal_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Renewal Term End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 15, 15);&quot;&gt;Enter a renewal term end date for the renewal that’s after the renewal term start date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!Renewal_End_Date}) || {!Renewal_End_Date} &gt; {!Renewal_Start_Date}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RenewalDecision</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>IsEarlyRenewal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Renewal_Term_Selector_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Renewal_Term_Selector_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Early_Renewal_Warning</name>
                    <fieldText>&lt;p style=&quot;display: flex; align-items: flex-start;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(140, 75, 2); font-size: 18px; margin-right: 5px;&quot;&gt;&lt;img src=&quot;/projRes/ui-revenue-common-components/img/warning.png&quot; alt=&quot;warning.png&quot; width=&quot;20&quot; height=&quot;20&quot; style=&quot;position: relative; top: 2px;&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;color: rgb(150, 71, 0); line-height: 1.5;&quot;&gt;Selecting a renewal start and end date overrides the existing subscription renewal term and creates either a quote or order to refund the unused portion of the subscription.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RenewalDecision</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>IsEarlyRenewal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Product list picker screen for selecting swap, upgrade, or downgrade products.</description>
        <name>Select_Swap_Products</name>
        <label>Select Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Swap_from_Account_or_Contract</targetReference>
        </connector>
        <fields>
            <name>Select_Products</name>
            <extensionName>runtime_revenue_foundation:assetPrdCntr</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>assetIds</name>
                <value>
                    <elementReference>recordIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>catalogId</name>
                <value>
                    <elementReference>selectedCatalog.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>catalogName</name>
                <value>
                    <elementReference>selectedCatalog.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputRecordType</name>
                <value>
                    <elementReference>outputType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>swapStartDate</name>
                <value>
                    <elementReference>Swap_Start_Date.swapStartDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for selecting the start date of the amendment or cancellation.</description>
        <name>Start_Date_Selector_Screen</name>
        <label>Start Date Selector Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_startDate</targetReference>
        </connector>
        <fields>
            <name>Date_Selector_Screen_Header</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; color: rgb(68, 68, 68);&quot;&gt;Set {!actionTypeNoun} Date&lt;/span&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Selected_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>{!actionTypeNoun} Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You will be able to edit the {!lowercase_actionTypeNoun} dates for each individual asset once you enter the  {!outputType}.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Provide a date of today or a date in the future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Selected_Start_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>subtype_Selection</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Use the amendment start date for the subscription start date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>actionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Amend</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transfer_Selector_Screen</name>
        <label>Transfer Selector Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Transfer_Details</targetReference>
        </connector>
        <fields>
            <name>transfer_header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;New Transfer Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>transfer_header_details</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Transfer assets by selecting a transfer start date and an account. Optionally, select a contract. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transfer_Selector_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Selector_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transfer_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Transfer Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transfer_Selector_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Selector_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transfer_to_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Transfer to Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transfer_Selector_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transfer_to_Contract</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContractId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Transfer to Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_revenue_arcflows__arcFlow</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Assets_for_Usage_or_Ramps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_to_TransferRecordInput</name>
        <label>Transform to TransferRecordInput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>ConnectApi__TransferRecordInputRepresentation</apexClass>
        <connector>
            <targetReference>Add_to_TransferRecordInput_Collection</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>assetId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Create_Transfer_Records</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>transferQuantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>defaultTransferQuantity</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Indicates which of the Amend, Renew, or Cancel Invocable Actions to invoke</description>
        <name>actionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Noun tense of actionType (e.g., if actionType is &quot;Amend&quot;, then actionTypeNoun will be&quot;Amendment&quot;)</description>
        <name>actionTypeNoun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the count of available product catalogs.</description>
        <name>CatalogQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultTransferQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Context object for the product discovery component.</description>
        <name>discoverProductsContext</name>
        <apexClass>ProductConfig__DiscoverProductsContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>FilteredCatalogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCatalog</objectType>
    </variables>
    <variables>
        <name>FilteredCatalogsRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCatalog</objectType>
    </variables>
    <variables>
        <description>API name of the source object (e.g., Asset).</description>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The type of record to be created as part of this operation. Supported values are Order and Quote.</description>
        <name>outputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <description>The quantity to add to or reduce from the asset&apos;s existing quantity</description>
        <name>quantityChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The record ID of the source object from which the flow was launched.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The asset IDs that are passed in as input to the flow</description>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The product catalog selected by the user for product discovery.</description>
        <name>selectedCatalog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCatalog</objectType>
    </variables>
    <variables>
        <description>Renewal end date selected by the user.</description>
        <name>SelectedRenewalEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Renewal date selected by the user</description>
        <name>SelectedRenewalStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The effective date for the new amendment/cancellation order/quote</description>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>startDateAdjustment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TransferRecordInput</name>
        <apexClass>ConnectApi__TransferRecordInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferRecordsCollection</name>
        <apexClass>ConnectApi__TransferRecordInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TransferToContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
