unpackaged/post_utils/flows/RLM_Refresh_Asset_Decision_Tables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Asset_Action_Source_Entries_Decision_Table_V2</name>
        <label>Refresh Asset Action Source Entries V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Asset_Rate_Adjustment_Resolution_Entries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Action_Source_Entries_Decision_Table_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Asset_Rate_Adjustment_Resolution_Entries</name>
        <label>Refresh Asset Rate Adjustment Resolution Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Asset_Rate_Card_Entry_Resolution_Entries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Rate_Adjustment_Resolution_Entries</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Asset_Rate_Card_Entry_Resolution_Entries</name>
        <label>Refresh Asset Rate Card Entry Resolution Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Asset_Rate_Card_Entry_Resolution_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Rate_Card_Entry_Resolution_Entries</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Asset_Rate_Card_Entry_Resolution_V2</name>
        <label>Refresh Asset Rate Card Entry Resolution V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Asset_Tier_based_Rate_Adjustment_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Rate_Card_Entry_Resolution_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Asset_Rate_V2</name>
        <label>Refresh Asset Rate V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Asset_Action_Source_Entries_Decision_Table_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Rate_Decision_Table_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Asset_Tier_based_Rate_Adjustment_V2</name>
        <label>Refresh Asset Tier-based Rate Adjustment V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Asset_Volume_based_Rate_Adjustment_V2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Tier_based_Rate_Adjustment_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Asset_Volume_based_Rate_Adjustment_V2</name>
        <label>Refresh Asset Volume-based Rate Adjustment V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <connector>
            <targetReference>Refresh_Commitment_based_Rate_Adjustment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Asset_Volume_based_Rate_Adjustment_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Commitment_based_Rate_Adjustment</name>
        <label>Refresh Commitment-based Rate Adjustment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>refreshDecisionTable</actionName>
        <actionType>refreshDecisionTable</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionTableApiName</name>
            <value>
                <stringValue>Commitment_based_Rate_Adjustment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsIncremental</name>
            <value>
                <elementReference>IncrementalRefresh</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshDecisionTable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>RCA Refresh Decision Tables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC Refresh Asset Decision Tables</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Asset_Refresh</name>
        <label>Asset Refresh</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Asset_Rate_V2</targetReference>
        </connector>
        <fields>
            <name>dspAssets</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Refresh Asset Decision Tables (Incremental)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtAssetDTs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Manually run incremental refresh of Asset-related decision tables (e.g. after Assets are created).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Action_Source_Entries_Decision_Table_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Rate_Decision_Table_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Rate_Card_Entry_Resolution_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Tier_based_Rate_Adjustment_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Volume_based_Rate_Adjustment_V2&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Rate_Adjustment_Resolution_Entries&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Asset_Rate_Card_Entry_Resolution_Entries&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Commitment_based_Rate_Adjustment&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IncrementalRefresh</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Incremental Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Incremental Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Full Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asset_Refresh</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
