unpackaged/post_plg/flows/RLM_Convert_Trial_To_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Pricing</name>
        <label>Calculate Pricing</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <actionName>RLM_CalculatePricingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Place_Subscription</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>selectedPlan</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>seats</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billingFrequency</name>
            <value>
                <elementReference>billingCycle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_CalculatePricingAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Invoice</name>
        <label>Generate Invoice</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <actionName>RLM_GenerateInvoiceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>salesTransactionId</name>
            <value>
                <elementReference>Place_Subscription.transactionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_GenerateInvoiceAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Place_Subscription</name>
        <label>Place Subscription Transaction</label>
        <locationX>176</locationX>
        <locationY>280</locationY>
        <actionName>RLM_PlaceSalesTransactionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionType</name>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>selectedPlan</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>seats</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricingDataJson</name>
            <value>
                <elementReference>Calculate_Pricing.pricingJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_PlaceSalesTransactionAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Outputs</name>
        <label>Set Output Variables</label>
        <locationX>176</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>transactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Place_Subscription.transactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Pricing.totalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Invoice.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Place_Subscription.isSuccess</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Converts a free trial to a paid subscription via Revenue Cloud:
1. Calculates pricing via /connect/core-pricing/pricing
2. Places a sales transaction via /connect/rev/sales-transaction/actions/place
3. Creates a payment method via /commerce/payments/payment-methods
4. Generates an invoice via /commerce/invoicing/invoices/collection/actions/generate</description>
    <environments>Default</environments>
    <interviewLabel>Convert Trial To Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Trial To Paid</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Pricing</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingCycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>seats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>transactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
