unpackaged/post_arc_summary/flows/RLM_PopulatePreviousAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Populates RLM_PreviousAmount__c on QuoteLineItems by capturing previous amounts from AssetStatePeriod when Quote or QuoteLineItems are saved</description>
    <environments>Default</environments>
    <interviewLabel>RLM_PopulatePreviousAmount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM_PopulatePreviousAmount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Amendment_Renewal</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <formulas>
        <name>Is_Amendment_Or_Renewal</name>
        <dataType>Boolean</dataType>
        <expression>AND(
          NOT(ISBLANK({!$Record.RLM_OriginalActionType__c})),
          OR(
            {!$Record.RLM_OriginalActionType__c} = &quot;Amendment&quot;,
            {!$Record.RLM_OriginalActionType__c} = &quot;Amend&quot;,
            {!$Record.RLM_OriginalActionType__c} = &quot;Renewal&quot;,
            {!$Record.RLM_OriginalActionType__c} = &quot;Renew&quot;
          )
        )</expression>
    </formulas>
    <decisions>
        <name>Check_If_Amendment_Renewal</name>
        <label>Check If Amendment Renewal</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Rule_Is_Amendment_Or_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Amendment_Or_Renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Previous_Amount</targetReference>
            </connector>
            <label>Is Amendment or Renewal</label>
        </rules>
    </decisions>
    <actionCalls>
        <name>Populate_Previous_Amount</name>
        <label>Populate Previous Amount</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <actionName>RLM_PopulatePreviousAmount</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
</Flow>
