unpackaged/post_approvals/force-app/main/default/flows/Is_Any_Discount_Greater_than_30.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Get_Count_of_Quote_Lines</name>
        <label>Get Count of Quote Lines</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountofLinesAboveThreshold</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Lines_with_Discount_30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Eligibility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Eligibility_as_False</name>
        <label>Set Eligibility as False</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Eligibility_as_True</name>
        <label>Set Eligibility as True</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Eligibility</name>
        <label>Determine Eligibility</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lines_Above_Threshold_Above_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofLinesAboveThreshold</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Eligibility_as_True</targetReference>
            </connector>
            <label>Lines Above Threshold Above 0</label>
        </rules>
        <rules>
            <name>Lines_Above_Threshold_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofLinesAboveThreshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Eligibility_as_False</targetReference>
            </connector>
            <label>Lines Above Threshold 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Is Any Discount Greater than 30%? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Is Any Discount Greater than 30%?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <recordLookups>
        <name>Get_Quote_Lines_with_Discount_30</name>
        <label>Get Quote Lines with Discount &gt;30%</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count_of_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Lines_with_Discount_30</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountofLinesAboveThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
